[2017-01-18 08:29] jasonbosco opened #1 "Setup tests to run on CI server"
CircleCI: https://circleci.com/gh/wreally/typesense.

Need to build test env so tests can run consistently.

Dependency on #2

[2017-01-18 08:30] jasonbosco opened #2 "Setup docker for dev and test envs"
To improve consistency between dev and test envs and to also ease setting up the dev env.

[2017-04-08 15:30] kishorenc opened #4 "Dockcross gotchas"
@jasonbosco

I digged into `dockcross` in more detail and found a couple of gotchas:

**Binary portability**

The image `dockcross/linux-x64` is built off Debian Jessie which is a recent distro but that also makes any binary we build on that incompatible on slightly older distros like Ubuntu 14.04 (just like how a Java 6 program will run on Java 8 but not the other way around).

I tested this manu

[2017-08-08 21:54] kishorenc opened #5 "Demos!"
@jasonbosco Let's brainstorm on a few useful demos that would showcase the power and simplicity of Typesense. Here are a few themes we should explore:

- Simple text search (like Google news search) with sort by both timestamp and relevancy
- Faceted search (like Shopping engines)
- Auto complete (typeahead use case)

[2017-12-20 03:47] #4 closed, assigned to nobody

[2017-12-21 02:17] #2 closed, assigned to jasonbosco

[2017-12-21 02:21] kishorenc opened #6 "Ruby client"
Ruby client for interacting with Typesense API.

[2018-01-01 03:14] jasonbosco opened #7 "Add support for CORS"
@kishorenc I started writing a Swagger Spec for the API and noticed that the API is throwing a 404 for `OPTIONS` requests (triggered by the browser when Swagger Editor tries to call the Typesense API).

Could you add support for passing in a CORS whitelist, may be as a boot parameter?

v0.7.0

[2018-01-04 14:22] #7 closed, assigned to kishorenc

[2018-01-04 14:35] jasonbosco opened #8 "DELETEing a non-existent collection crashes the server"
[code]

[code]

Version: 0.8-api-changes

[2018-01-04 15:12] jasonbosco opened #9 "Return 404 when a non-existent field is searched for"
## Description

Currently, when you search for a field that doesn't exist in the schema, the API returns an `HTTP 400: Bad Request` with the message as `Could not find a field named X in the schema`.

It also returns HTTP 400 when bad JSON is passed in the request for example.

I think a non-existent field should return a 404, with the same message.

## Steps to reproduce

[code]

## Expected Beha

[2018-01-04 15:17] #8 closed, assigned to kishorenc

[2018-01-04 15:18] jasonbosco opened #10 "Document that the minimum query string length should be 3 for results to be returned"
## Description

I tried searching for a 2 letter string in the document and it kept returning 0 results, which surprised me at first. We should probably document this in the docs, that the minimum search query length is 3 characters.

## Steps to reproduce

[code]

## Expected Output

The two string and three string query return the same results.

## Actual Behavior

The two string query returns 0

[2018-01-04 15:26] jasonbosco opened #11 "Rename `took_ms` field in search result"
## Description

The `took_ms` field in the Search Result seems a little odd for a name by itself. How about we make it a little more descriptive like `search_time`? We can catalog that it's in milliseconds in the docs.

## Metadata

**Typsense Version**: 0.8-api-changes

[2018-01-04 16:02] jasonbosco opened #13 "Collision between /documents/id endpoint and /documents/export endpoint"
## Description

The possibility of this collision was in the back of my head when writing the API spec... Looks like it has indeed manifested itself in the implementation.

Currently, the URL to retrieve/delete a doc is `/collections/{collectionName}/documents/{documentId}`. So when you do a GET on `/collections/{collectionName}/documents/export` it says "document with ID export is not found" inst

[2018-01-04 16:11] jasonbosco opened #14 "API endpoint to return Typesense version and environment"
## Description

This will be useful for debugging purposes and for filling out the Metadata section of issue reports easily.

## Metadata

**Typsense Version**: 0.8-api-changes

[2018-01-05 13:48] #9 closed, assigned to kishorenc

[2018-01-05 14:00] #11 closed, assigned to kishorenc

[2018-01-05 14:23] #13 closed, assigned to kishorenc

[2018-01-05 15:22] #10 closed, assigned to kishorenc

[2018-01-09 15:43] #14 closed, assigned to kishorenc

[2018-01-20 04:52] jasonbosco opened #15 "Documents with duplicate IDs"
## Description

Looks like currently you can create multiple documents with the same ID. Was this intended?

Then when you try to retrieve a document (with duplicate IDs), only the last document is returned. Although the search endpoint retrieves all the documents.

## Steps to reproduce

[code]

## Expected Behavior

May be error out when a document with the same ID already exists?

## Actual Beh

[2018-01-28 18:32] #15 closed, assigned to kishorenc

[2018-03-18 19:12] jasonbosco opened #16 "num_documents & facet is not returned when creating a new collection"
## Description

When a new collection is created, the response only includes the posted creation schema and so doesn't have the `num_documents` and `facet` fields. But when you retrieve the collection, the fields shows up alright.

Ideally, we'd want the output of schema creation and schema retrieval to be identical.

## Steps to reproduce

Found this out as I was writing examples with outputs for

[2018-03-18 19:56] jasonbosco opened #17 "Allow query to be optional?"
## Description

I was trying to see if we can query just based on some `filter_by` conditions and looks like that's not currently possible. Looks like `q` is a required parameter, so I couldn't leave it out.

I was thinking of this use case: Say with the companies example, I want to "search" for a list of companies that have less than 100 employees. Do we want to support this use case?

## Steps t

[2018-03-29 02:41] #6 closed, assigned to jasonbosco

[2018-03-29 03:09] #16 closed, assigned to nobody

[2018-04-01 07:11] #1 closed, assigned to jasonbosco

[2018-04-02 15:48] #5 closed

[2018-04-07 05:41] pricj004 opened #20 "AND query mode"
## Description

I notice that querying seems to occur using an `OR` operator across query terms. I'd love the option to make it `AND`.

## Steps to reproduce

Using the website `books` demo, search 'harry august'

## Expected Behavior

The only result should be 'The First Fifteen Lives of Harry August`

## Actual Behavior

'The First Fifteen Lives of Harry August' is the first result returned, but

[2018-04-07 07:13] kishorenc commented on #20
@pricj004 Typesense does use`AND` but it also tries to return other results when there are not enough results that match exactly with an `AND` operation. Typesense starts dropping tokens with least individual hits from the original query and thereby expanding the scope of the user query to give additional results. You can see the relevant code here if you are interested:

https://github.com/typese

[2018-04-07 07:34] pricj004 commented on #20
Oh I see! Yes, if `Index::SEARCH_LIMIT_NUM` was configurable, I could drop it to zero, and that would yield the desired behaviour. Perfect!

[2018-04-09 18:01] loic-sharma opened #22 "Documentation for Running In-Process?"
## Running In-Process

Hello, I have a dataset that is roughly 1.5 million documents. Today, this dataset is stored in a SQL database and is accessed through a single web server. Would typesense be a good candidate for in-process search on this dataset? If so, is there documentation on how to do this?

[2018-04-09 23:34] Braunson commented on #22
I'm also interested in hearing from others and the authors of typesense if this is an ideal candidate for larger data sets. I'm looking to move a project 5-10k records initially but it will grow to 5+ million very shortly. There would be over a dozen filters and later I'd need something that would be able to return 'sets' of results based on the filters. Is that even viable or possible right now?

[2018-04-10 01:48] kishorenc commented on #22
@loic-sharma - Take a look at [`main.cpp`](https://github.com/typesense/typesense/blob/master/src/main/main.cpp) to see how you can use it in-process. Summary: you need to initialize a `CollectionManager` and use it to create a `Collection`. Then you can perform operations on the `collection` object. Please note that these classes are not thread-safe as they have been designed to work with the non

[2018-04-12 12:04] pricj004 opened #23 "Trouble building Mac binary from source"
## Description

Putting together a PR for https://github.com/typesense/typesense/issues/20

I'm trying to build from source on Mac High Sierra (10.13.3). Running into trouble when running:

[code]

I get:

[code]

I have all the required dependencies installed.

Output of `clang --version`

[code]

Output of `g++ --version`

[code]

No stress if you can't help - just thought it might be something

[2018-04-12 15:29] kishorenc commented on #22
Closing this for now -- feel free to reopen if needed.

[2018-04-12 15:29] #22 closed

[2018-04-12 15:37] kishorenc commented on #23
@pricj004 I have been working on a PR for this [here](https://github.com/typesense/typesense/pull/24) which is ready now -- I hope you have not spent significant time as well :(

With regard to the errors -- I am using a slightly older `Apple LLVM version 8.0.0 (clang-800.0.42.1)` so I don't know if this could be a problem on a newer compiler.  In any case, using `std::function` is not required, s

[2018-04-12 18:16] loic-sharma commented on #22
Thanks @kishorenc!

[2018-04-13 00:59] pricj004 commented on #23
Nope! Just half an hour or so wrestling with the compiler.

I downgraded to `Apple LLVM version 8.0.0 (clang-800.0.38)` and attempted to build from that branch, but still having errors I can't resolve:

[code]

Have tried a bunch of different suggestions from online, including reinstalling openssl via homebrew and setting env vars:

[code]

(I fixed the `NGHTTP2` error as well, thanks for spotting

[2018-04-13 03:05] kishorenc commented on #23
The earlier compile errors are now gone -- now we are down to just linker errors. For future runs, you don't have to run with the `--depclean` flag. That's required only if you want to rebuild all the dependencies like RocksDB etc. from scratch again. Those have been built now, so the remain build steps should be much faster.

If you don't mind, I would really appreciate getting to the bottom of t

[2018-04-13 07:51] pricj004 commented on #23
The closest I can get is by upgrading back to `Apple LLVM version 9.1.0 (clang-902.0.39.1)` (`brew` won't allow me to perform an upgrade while my command line tools are out of date), then:

[code]

Then, downgrading back to `Apple LLVM version 8.0.0 (clang-800.0.38)` and running:

[code]

Gives me:

[code]

I haven't been able to find anything helpful online for that specific error.

Note, I've al

[2018-04-13 08:16] kishorenc commented on #23
Ok, I am sorry that is a mess! I am not entirely surprised to see those errors while linking from a downgraded LLVM version against a binary compiled in a more recent version... My final request (if this does not work, I will find a fresh Mac to fix this build on a more recent toolchain):

What happens when you upgrade to `Apple LLVM version 9.1.0`, reinstall `curl` and `openssl` and then build Ty

[2018-04-13 11:25] kishorenc commented on #23
Ah, back to that old compile error, I see. Okay, I noticed one more potential problem with the type  (apparently, this static assertion is not enforced in other stdlib implementations). Can you please pull from the `drop_tokens_threshold` branch and try compiling again?

In the mean time, I am upgrading the toolchain on a spare Mac machine 😄

[2018-04-13 13:32] pricj004 commented on #23
Success!

Still needed to do:

[code]

But after that, it worked.

Thanks for your help!

[2018-04-14 17:29] kishorenc commented on #23
Thank you for the help! I will add a note to the README later about this.

[2018-04-14 17:29] #23 closed

[2018-04-15 08:16] #20 closed

[2018-04-21 04:30] kishorenc opened #25 "Highlight matched query text in string[] fields"
## Description

Currently, matched text from a query is highlight only for plain `string` fields. For example, if `title` is a `string` field, and someone queries for `harry`, the result will be highlighted as follows:

[code]

The same should extend to a field of type `string[]`.

## Steps to reproduce

1. Index some text into `string[]` fields.
2. Try searching for some text against the `string[

[2018-05-05 15:00] kishorenc opened #27 "Ability to restrict fields returned"
## Description

Currently, the entire index document is returned in the search response. Sometimes, it's desirable to have only a specific set of fields returned for performance reasons. Ideally, a whitelist and blacklist of fields would be desirable.

## Steps to reproduce

N/A

## Expected Behavior

N/A

## Actual Behavior

N/A

## Metadata

**Typsense Version**: `all`

**OS**: `all`

[2018-05-08 16:30] #25 closed

[2018-05-10 11:01] keybits opened #29 "Demo not working on typesense.org"
## Description

The demo search has stopped working

## Steps to reproduce

visit https://typesense.org/ and try the demo

## Expected Behavior

A search result should appear

## Actual Behavior

nothing appears

## Metadata

Tried various browsers. In Chrome console I'm seeing: `Failed to load resource: net::ERR_CONNECTION_REFUSED`

[2018-05-11 01:08] kishorenc commented on #29
Sorry about that - it's back up now: had to rotate some underlying infrastructure.

[2018-05-11 01:08] #29 closed

[2018-05-11 06:16] keybits commented on #29
Thanks. And thank you for making Typesense really liking it :-)

[2018-05-13 01:36] #27 closed

[2018-05-13 05:42] jasonbosco opened #31 "Return all fields that match in the highlight section of search results"
## Description

When searching for a query in multiple fields in a document, currently, the search results only return one field in the highlight section. We ideally want to return all fields that match in the highlight section.

## Steps to reproduce

[code]

## Expected Behavior

- The result should include both shipping address and billing address in the `highlight` section.
- The result should

[2018-05-13 05:55] kishorenc commented on #31
@jasonbosco The highlight currently returns the snippet from the `best` matching field. Wondering if the performance hit by having to track best match from all fields is worth the benefit. If so, then `highlight` will have to become an array rather than a single object as it is right now.

[2018-05-13 06:00] #17 closed

[2018-05-13 15:01] kishorenc commented on #31
@jasonbosco Okay, figured out a work around. Let's actually tackle this as part of `0.9.0` since it will involve a change to the `highlight` structure -- don't want to change it twice. Thinking of having it like:

[code]

The other option is to have `highlight` be an array of objects but that won't give random access to a specific field, like the map structure above would.

[2018-05-14 00:40] kishorenc commented on #31
👍I've made that change.

Mostly because in some statically typed languages, it gives the flexibility to model that object as a proper class (the name would be needed as an identifier in that case) and allow the language to treat the map as essentially an "iterable" of objects. You will appreciate it if you used Java and wanted to map a custom JSON object using a Jackson parser :)

PR is ready. Che

[2018-05-14 02:41] jasonbosco commented on #31
Left comments on PR #32

[2018-05-14 12:25] elfring opened #33 "Improve exception safety with smart pointers"
Would you like to [wrap any pointer variables](https://github.com/typesense/typesense/blob/36a022a89251348051571016b62ce596afc6ceee/src/array.cpp#L44 "Update candidate: array::remove_index()") with the template class “[std::unique_ptr](https://en.wikipedia.org/wiki/Smart_pointer#unique_ptr "Description for the usage of smart pointers")”?

[2018-05-14 13:46] kishorenc commented on #33
@elfring I'm generally a fan of smart pointers as raw pointers can become hard to manage. In this case, however I refrained from wrapping for a couple of reasons:

1. Parts of Typesense initially began as a C project, and still uses some C-style code so those parts just used raw pointers.
2. To a lesser extent, I was worried about the performance overhead introduced (admittedly this is more of a c

[2018-05-14 14:05] elfring commented on #33
How do you think about to [improve the implementation of the member function “array::remove_index”](https://github.com/typesense/typesense/blob/36a022a89251348051571016b62ce596afc6ceee/src/array.cpp#L44 "Update candidate: array::remove_index()") (for example)?

[2018-05-16 06:56] stern0 opened #34 "Proper tagging to docker images"
Docker hub images seems to have commit messages than semantic tags.

An example is with the default pull command as it looks for latest image like the following:
`docker pull typesense/typesense`

Obviously one could look at the the tags and fetch the proper tag but then again the tags don't seem to have a proper versioning and having a default latest tag doesn't hurt.

[2018-05-16 11:52] kishorenc commented on #34
@stern0

Sorry for the confusion here! We intentionally don't have a `latest` tag for Typesense docker image since the nightly is usually going to be unstable and we don't want people inadvertently pulling an unstable version.

Instead, we have the following process:

1. We have images tagged with the release version. For e.g. `0.8.0` is the latest release.
2. Pull requests get their own docker ta

[2018-05-18 19:23] dpastoor opened #35 "possible to insert documents in bulk"
## Description

Hello!, on bootstrapping a server, I was wondering if it would be possible to provide an endpoint to insert collection of documents in one api call? For example, after exporting a collection, if I would like to import it into another typesense server.

In my specific case, I am creating an index for a website, than would like to insert all at once, rather than making successive cal

[2018-05-19 02:12] kishorenc commented on #35
@dpastoor Thank you for the suggestion. I am also glad to hear that you are liking Typesense! Here's something you can do for now to work around this limitation:

If you are crawling a website on host `A` and inserting into Typesense on host `B`, the inefficiency is largely in the network I/O. To speed up things, you can simply populate the Typesense server "locally" in host `A`. After you are don

[2018-05-19 03:46] dpastoor commented on #35
Thanks for the suggestion, I'm on the same computer, so that's not the issue. To be clear performance has not been the problem. I'm using nodejs for the insertions so I'm more worried that once I scale I will have 1000s of concurrent posts hitting the typesense server within a second or so leaves more chances for something to go wrong than a single batch insert.

Basically right now I have a

Data

[2018-05-19 04:49] kishorenc commented on #35
Throughput is a factor of:

1. How much you can parallelize from the client. This would be the greatest bottleneck as doing I/O sequentially record-by-record would be slow.
2. The document size being indexed.
3. The underlying hardware (for e.g. CPU and SSD vs HDD).
4. Size of total dataset and other search/delete operations that will be happening at the same time.

If you can give me a sense of t

[2018-05-23 16:28] dpastoor commented on #35
The client is highly parallelized, in that since its javascript, as it iterates it is doing so asyncronously. As I mentioned before, I'm not actually worried about typesense performance at this point, I'm more concerned with spawning too many requests at once. Likewise, I would like to be able to use this to restore from backups. For example, exporting a collection to back up, then re-importing it

[2018-05-24 06:16] jasonbosco opened #36 "Unexpected during startup: Error while initializing store: Corruption: While creating a new Db, wal_dir contains existing log file"
## Description

While testing #32, I pulled the latest docker container and tried starting it up, but it crashed with this message:

[code]

## Steps to reproduce

Unfortunately, I couldn't replicate this consistently.

But here's a screengrab of the terminal when the issue happened for the first time:

Start the container and then press Ctrl + C

[code]

Pull the latest container

[code]

Start i

[2018-05-24 13:10] #31 closed

[2018-05-24 15:56] kishorenc commented on #35
👍 That makes sense. We will work on an import API for Typesense.

[2018-05-25 05:43] janimo opened #38 "search-only-api-key does not work with 0.8.0 docker image"

[2018-05-26 04:16] kishorenc commented on #38
@janimo I just tried and it's working fine. Can you please post the commands you ran? Here's how I started Docker:

[code]

And when you query, you will have to set the `x-typesense-api-key` header to the search-only-api-key, i.e. `1234`.

If this is still not working, please post the code/curl commands you are using so that we can investigate further.

[2018-05-29 03:12] #36 closed

[2018-05-29 03:14] kishorenc commented on #38
We synced up offline about this. The confusion was around which end-points `search-only-api-key` will allow access to - it only allows access to the `/collections/collection_name/documents/search` end-point.

[2018-05-29 03:14] #38 closed

[2018-06-05 01:40] kishorenc commented on #20
This has been shipped as part of `v0.9.0`:

https://github.com/typesense/typesense/releases/tag/v0.9.0

[2018-06-09 02:07] kishorenc commented on #33
@elfring I'm sorry for going silent on this thread. We're comfortable with using raw pointers as of today, given the heavy interoperability with the C libraries we're using. We might relook this at future. Thanks for bringing this up though!

[2018-06-09 02:07] #33 closed

[2018-06-17 15:50] kishorenc opened #40 "Install Typesense via deb and rpm"
## Description

Currently we only publish a tarball with just the executable. Having a proper deb and rpm would allow us to package a systemd/init.d script that makes administration/stop/start etc. easier.

## Steps to reproduce

NA

## Expected Behavior

We should be able to install from a deb/rpm and do `service typesense start/stop/status/restart`.

## Actual Behavior

NA

## Metadata

 **Typse

[2018-06-24 01:32] jasonbosco commented on #40
@kishorenc Do we already have a way to pass in options via a config file rather than the command line? I was thinking, when we daemonize via an init script, it will be cumbersome to edit the init script every time when users need to change config file values. So it will be beneficial to implement config file parsing for options before we daemonize. What do you think?

[2018-06-24 02:10] kishorenc opened #41 "Ability to pass arguments via config file"
## Description

Need a way to pass in options via a config file rather than the command line. This is a blocker for https://github.com/typesense/typesense/issues/40.

## Steps to reproduce

NA

## Expected Behavior

NA

## Actual Behavior

NA

## Metadata

**Typsense Version**: `0.9.0 and below`

**OS**: `all`

[2018-06-24 02:11] kishorenc commented on #40
That makes sense. I've created https://github.com/typesense/typesense/issues/41.

[2018-06-28 06:55] stefangomez opened #42 "Allow multiple query_by fields to hold same scoring weight, or specify weight per field"
## Description

Right now, according to docs:

Would be helpful to customize this, even in the simplest manner of multiple fields holding same weight, e.g. `'query_by'  => [ [ 'text', 'author' ], 'description' ]`
Seems like a pretty common case for a search box not to know what type the user is necessarily searching for.

## Steps to reproduce

## Expected Behavior

score multiple fields with same

[2018-07-01 04:19] kishorenc commented on #42
@stefangomez Good idea - definitely see this being useful. There are 2 potential ways to achieve this:

1. Allow the weights to be specified in the `query_by` parameter in the following format: `text:2,author:2,description:1`
2. Have a separate `query_by_weights` parameter that sets the respective weights for the fields mentioned in the `query_by` parameter, e.g. `query_by=text,author,description&

[2018-08-04 13:03] gut4 opened #43 "performance with large number of collections"
For example I have tens of thousands collections with thousands docs each.
How will this impact on
– index performance?
– search performance?
– memory usage?

How I can benchmark this?

[2018-08-05 16:01] kishorenc commented on #43
@gut4 As far as the underlying design goes, thousands of collections is not a problem as the in-memory overhead associated with each collection is minimal. All documents (across all collections) are stored in a single RocksDB store on disk, so disk performance is also the same as storing all documents in a single collection. We also only do O(1) per-collection lookups during indexing and searching

[2018-09-01 11:06] #43 closed

[2018-09-12 13:40] akbt opened #44 "Possible to synchronise changes between a remote database and Typesense Database"
## Description

Hello ! I was wondering if there's is a way to synchronise the changes in typesense database from a remote server. For example , mongo-connector does it for elastic search and mongodb.

In my current scenario, I have to import the whole data after a regular interval of time to index the changes which basically means dropping the collection and importing the whole table again which

[2018-09-12 17:37] kishorenc commented on #44
@akbt There is currently no built-in synchronization mechanism. Is there a reason why you're doing a periodic dump of your data to a Typesense collection instead of propagating the changes in real-time? i.e. when you add a record to your primary database, add it to Typesense there and then (similarly for update and deletion)?

[2018-09-13 03:36] akbt commented on #44
@kishorenc According to me (and correct me if I'm wrong) I'm afraid it might give rise to some inconsistencies & also I'll have to make changes to the primary server to update each collection. What happens when I have numerous collections?

I would like typesense to be more of a plug and play model where my main server should not know about typesense server.

[2018-09-13 16:41] kishorenc commented on #44
Usually there is no 1:1 mapping between a DB table and a Typesense collection. The records in a typical table will be normalized and will have mostly `id` fields linking to other tables, while on Typesense you will generally write a denormalized object. For e.g. if you are storing a bunch of books, it's likely that that author fields in the DB table would be `id`s, while in Typesense you would wan

[2018-09-16 04:10] akbt commented on #44
An intermediate collection does seem to be a good idea . Thanks for the suggestion.

[2018-09-28 11:55] anishkargaonkar opened #45 "Multiple filter_by conditions are not processed"
## Description

All the conditions given after **"&&"** filter_by separator are not being processed. The search results are same with or without those conditions. Example is taken from the typesense guide.

## Steps to reproduce

##### Search Query --> http://localhost:8108/collections/books/documents/search?q=The&query_by=title&filter_by=publication_year:1925&&ratings_count:2683664

## Expected B

[2018-09-28 14:28] kishorenc commented on #45
@anishkargaonkar You've to URL encode the `&&` to `%26%26` this way:

[code]

Let me know if that works. Our clients should ideally handle the encoding, but probably are not doing so. I will make sure to update the clients soon to handle this better.

[2018-10-02 12:01] #44 closed

[2018-10-03 17:17] L4znet opened #46 "How to get API_key and how to know the "host" ?"
Hey, (sorry if my english sucks, i'm french),

where i can find my api_key ? I've tried to use what looks like a key in the md5 file, but i'm not sure.

[2018-10-04 19:12] L4znet commented on #46
A big thanks !

[2018-10-04 19:42] L4znet opened #47 "How to hide "total rows""
That's work nice, but i don't know and i haven't found how to hide "Total rows", a text that display total of rows saved in the db.

[2018-10-05 11:44] kishorenc commented on #47
@L4znet I don't follow you, can you please post a screenshot?

[2018-10-05 11:44] #46 closed

[2018-10-06 21:49] L4znet commented on #47
My bad, i make a mistake, this problem is about another librairie.. Sorry and thanks :D

[2018-10-06 21:49] #47 closed

[2018-10-10 14:29] keybits opened #48 "Log searches for analytics"
Is there a way to create a log of searches, chosen result and other metrics like date / tine of search, to help with analysing what people are searching for?

[2018-10-12 10:34] kishorenc commented on #48
@keybits There is no way to do that currently. There a couple of work arounds:

1. Have a nginx server in front and parse the logs.
2. Proxy the requests to Typesense with your own web app and get those metrics from the request and response.

[2018-10-12 11:36] keybits commented on #48
Thanks for the reply. The suggested workarounds are fine - helps keep Typesense focused on search :-)

[2018-10-12 11:36] #48 closed

[2018-11-12 21:57] alexbowers opened #49 "[Internal Information] How is the data stored?"
This isn't a bug, if it isn't the appropriate place or it, then feel free to close.

I have been interested in how search works for a while now, but haven't found any articles I found particularly approachable from 0 knowledge on the internals.

Would you be able to explain a little about how the data gets stored, and how that benefits the performance of a search?

I tried looking through the code

[2018-11-15 08:34] guillaumevincent commented on #41
Hello,
in a docker-compose file I'm forced to use this syntax:

[code]

It could great to follow 12factor app and start looking for .env file, or env variables when you try to make your app configurable.

[2019-01-06 05:58] scottf-tvw opened #50 "Paging max"
## Description

As noted in the documentation the limit for results is 500. Seems this is not a limit per query but overall?

## Steps to reproduce

query page number beyond total of 500 initial, while total document > 500

## Expected Behavior

One would assume that if there were 1,500 results found for example and you ask for page 2 with a per_page of 500, that it would return the next 500, leav

[2019-01-08 04:53] kishorenc commented on #50
@scottf-tvw This was a conscious design decision. Typesense offers great flexibility in how you sort the data in query-time without any pre-defined sort orders during indexing. This flexibility comes at a cost: sorting millions of documents in real-time will take a long time, so we've to restrict the total "hits" returned to 500 documents.

[2019-01-08 04:56] kishorenc commented on #49
@alexbowers Sorry for the super long delay in getting back to you!

Typesense stores the `token => documents` [inverted index](https://en.wikipedia.org/wiki/Inverted_index) as an [Adaptive Radix Trie](https://db.in.tum.de/~leis/papers/ART.pdf) in memory. The actual documents are stored on disk using [RocksDB](https://github.com/facebook/rocksdb).

[2019-01-27 17:42] scottf-tvw commented on #50
OK I understand the nuance there, For my purposes I made the modifications myself.

[2019-01-27 17:42] #50 closed

[2019-01-27 18:17] scottf-tvw opened #51 "30 minute server startup time."
## Description

Very long startup time, at this point 30 minutes. I have around 150k documents spread across 20 collections or so. The data schema is the same in all of them. Document sizes range from 5 -> 200KB depending on if the document has a transcript.
The documents contain an array of strings with transcript text for each array item, and an array of int32 to store the timecodes associated w

[2019-01-28 08:04] kishorenc commented on #51
@scottf-tvw

I don't think it should be taking this long at all.

My primary suspicion is the EFS.

Are you sharing the same EFS data directory across multiple instances on the ASG, all of them booting off the same Typesense directory? How many instances are there on the ASG?

Let's first rule out data issues. Can you try the following:

1. Run only a single EC2 node in the ASG
2. Stop Typesense o

[2019-01-28 14:23] scottf-tvw commented on #51
the data directory is only used to copy the data if needed, its not used for all the other nodes to read from, the cluster nodes are replica servers.
I will try making a copy to the local EBS for the master and boot reading that.

[2019-01-28 15:05] scottf-tvw commented on #51
is there a flag for debug information or more robust logging at the startup cmd?

[2019-01-28 15:42] kishorenc commented on #51
@scottf-tvw If you can share the data, I can take a look. There isn't a way to have more verbose logging during startup.

You should be able to just zip the data directory and share that directly.

[2019-01-28 15:54] kishorenc commented on #51
@scottf-tvw Actually, I've a few more questions specific to your infrastructure/data -- before sharing the data, can we first discuss that? Email me - it would be discuss those specifics offline.

[2019-01-29 16:34] #49 closed

[2019-02-06 04:41] cuifd opened #52 "plan to support chinese"
Is there a plan to support chinese?

[2019-02-06 11:08] kishorenc commented on #52
@cuifd You should already be able to index and search Chinese.

Typo tolerance will not work as edit distance is probably not applicable for Chinese. Since I don't know Chinese, I don't have much insights into what would be helpful there. What do you think? Suggestions are welcome.

[2019-03-26 14:17] cyph84 commented on #52
Firstly ensure that Traditional Chinese characters are indexed as Simplified Chinese. Solr equivalent:

<filter class="solr.ICUTransformFilterFactory" id="Traditional-Simplified" />

Another idea is to search phonetically in Chinese by indexing into pinyin. Solr equivalent:

<filter class="solr.ICUTransformFilterFactory" id="Han-Latin; Latin-Ascii;" />

[2019-04-21 20:45] melovv opened #54 "filter_by with facet string data is returning empty"
Hi.

I'm experimenting typesense but I'm getting an unexpected behaviour.

Best,

Vinícius.

## Description

Using the companies example, a query with filter_by country is returning empty if the field is facet. Is this the expected behavior?

## Steps to reproduce

Companies example taken from here:  https://typesense.org/0.9.2/api/

Query using filter_by:
localhost:8108/collections/companies/docu

[2019-04-22 14:10] kishorenc commented on #54
@melovv

Thank you for creating this issue.

Faceted fields are indexed verbatim without any "normalization". So, the value `USA` is indexed as it is.

However, when a `filter_by` is performed on a string field, Typesense "normalizes" the string before searching for it. So, Typesense looks for `usa` (the normalized version of `USA`) and is not able to find the document. I'm going to call this a bu

[2019-04-23 12:45] #54 closed

[2019-04-23 14:45] pkiula opened #56 "How to run on a Wordpress site (MySQL)?"
## Description

Neither the stuff on Github nor the 'detailed guide' on the website quite talks about what one needs to do to create the data index, from which TypeSense queries. Do we have to create multiple JSONs as documented in the example? Is there a Wordpress plugin to do the same?

## Steps to reproduce

None. It's a question.

## Expected Behavior

Expect TypeSense to have some smart mecha

[2019-04-24 14:16] melovv opened #57 "How to make it distributed?"
## Description

I'd like to improve the number of queries per second by having a distributed system using round-robin. As far as I understood from your guide, the read replica is used only if there is a timeout. However, I'd like to have the queries passed to the next free read replica automatically. Then, if the query fails by timeout, it is passed to the next free replica as well.

## Expected B

[2019-04-25 02:41] kishorenc commented on #57
@melovv

I presume that you've already read about how you can create multiple Typesense replica servers that sync from master: https://typesense.org/0.9.2/guide/#high-availability

The replica servers asynchronously pull updates from master, so they will be eventually consistent. Currently our client libraries send reads only to the master, and they fall back to the replica only a failure/timeout.

[2019-04-25 02:49] kishorenc commented on #56
@pkiula

Thank you for the feedback. The guide and README focus on indexing database records/entities and does not cover how to index and search website. I've created [an issue](https://github.com/typesense/typesense-website/issues/11) for that and I hope to have an article soon on that.

To be honest, we've not done much work to make it easy to use Typesense to index websites and pull data from o

[2019-04-25 02:51] kishorenc commented on #52
Thanks for the feedback. We will work on this.

[2019-04-28 18:55] melovv opened #58 "How can we change RocksDB configuration?"
Hi.

Again, very nice work with typesense.

I was wondering: how can we change RocksDB configuration?

[2019-04-29 02:00] kishorenc commented on #58
@melovv

Thank you for the compliment.

We don't have a way to change the RocksDB configuration at the moment. There are lots of knobs and we arrived at a configuration that balanced speed with write amplification. If you can describe to me what you want to change, we can see how to expose the relevant configurations.

Happy to also chat more about your specific use case over email: contact at wre

[2019-04-29 18:05] jspeis opened #59 "obtaining match score in results?"
Is there any way to obtain the internal scores of the level of the match for each result from the `${TYPESENSE_HOST}/collections/:collection/documents/search` endpoint? (e.g. if there is a way to get back something like `{id: "124", ... , _score: 0.98}` for each result?)

[2019-04-30 02:47] kishorenc commented on #59
@jspeis

No, those scores are not exposed, since they are just absolute numbers used for sorting and don't indicate a form of "percentage accuracy".

Is there a specific reason you want them exposed?

[2019-04-30 15:40] jspeis commented on #59
@kishorenc I see, thanks for your response!

In my particular case I had a few different collections that have differing metadata schemas and in one particular instance it could be useful to search across all collections and compare results. Though I suppose in this case I could also create a single unified collection.

Generally, I think it could be nice if there was some way to customize/overrid

[2019-05-01 03:18] kishorenc commented on #59
There is probably no harm in exposing the score and is also easy to do that. Will add that in a future release.

The default scoring algorithm is a simple tie breaker which seems to work for most common search use cases. What kind of customization would you like?

[2019-05-04 11:33] #41 closed

[2019-05-11 13:42] #35 closed

[2019-05-24 15:37] hiqbn opened #62 "possible to change data storage backend to redis?"
possible to change data storage backend with redis connector?

would like the backend to be stored in https://github.com/yongman/tidis

[2019-05-24 16:52] kishorenc commented on #62
No, this is not possible at the moment. Pluggable storage layer might be nice, but is not a priority unless more people request it.

[2019-05-24 17:42] sbeidu opened #63 "TypeSense sever crashing on docker"
## Description
I'm running TypeSense on a Docker Image on Digital Occean and the server keeps crashing.
## Steps to reproduce
This is a random behaviour.

## Expected Behavior

## Actual Behavior

## Metadata
This is the error trace:

Ready to accept requests on port 8108
2019/05/24 17:34:29 176283      ERROR [collection.cpp->search:567]      Could not locate the JSON document for sequence ID: 3_$

[2019-05-25 00:05] hiqbn commented on #62
would like to change it to redis how do i do that? any clues where i should be looking at?

[2019-05-25 01:56] kishorenc commented on #62
Yes `store.h` is the abstraction for the storage layer. Unfortunately, it does leak some implementation details at the moment like the RocksDB iterator class etc.

[2019-05-25 02:48] hiqbn commented on #62
can consolidate all the functions at store.h so next time we can just change the storage layer here?

[2019-05-25 07:33] kishorenc commented on #62
Yes `store.h` should be the interface implemented by a storage engine. And `store.cpp` should contain all storage related logic for RocksDB. One can create similar sub-classes for other storage engines using the same interface and initialize correspondingly.

[2019-05-25 08:26] hiqbn commented on #62
i dont know how to do this but can you do it? i can contribute by making small donations

just do the redis port without multi/exec will do

[2019-05-25 08:38] kishorenc commented on #62
A generic storage interface will involve quite some refactoring and testing before it is ready. It might happen in future based on priority. May I understand the need for a Redis backed storage though? Maybe there is a way to achieve what you want in an alternative manner.

[2019-05-25 09:52] hiqbn commented on #62
i have redis cluster and sentinel etc set up and it's more "distributed". can you use redis as backend and without the local memory overhead? the backend will be a redis cluster.

when do you think it can be done?

[2019-05-25 17:09] kishorenc commented on #62
Typesense stores the indices in-memory, so even if a Redis backend is used, the searching would require the in-memory data structures. So you will still need the Typesense server to have high availability.

[2019-05-26 01:44] hiqbn commented on #62
can you rewrite it for storing the indices in redis? i can make a small donation.
there's no redisearch alternative and if it's backed by redis, this will be the best available search backed by redis other than redisearch

[2019-05-28 04:45] kishorenc commented on #62
I appreciate your offer, but unfortunately it's not practical to store the indices on Redis as Typesense depends on several custom in-memory data structures.

[2019-05-28 04:45] #62 closed

[2019-05-28 04:46] #57 closed

[2019-06-03 14:54] kishorenc commented on #51
@scottf-tvw We've done some parallelization improvements in the latest release (`0.10.0`) which should help with the startup time.

[2019-06-08 11:34] jsinhSolanki opened #66 "How to retrieve available facet/filter options"
Hello,
First of all amazing work. I really appreciate your hard work. I would like to know how can I get info about how many filter/facet left after searched query.
Let me explain by steps:
Let's say I have eCommerce store and we provide search, product type filter, brand facet etc. Type filter can have Mobile, Laptop, PC, Furniture, Food etc. And facet will have brand names.

Now when someone sea

[2019-06-10 03:24] kishorenc commented on #66
@jsinhSolanki

To filter without a specific item, you will remove that item from the filter items and run the filter again. For example, let's say you are filtering with `product_type: [X, Y, Z]` and now want to filter without `Y`, then you just do `product_type: [X, Z]`.

For this you can use the `facet_by` option. See the description for the `facet_by` argument [here](https://typesense.org/0.10.

[2019-06-10 09:49] jsinhSolanki commented on #66
Hello @kishorenc,

Thanks for the response. I am sorry if I was confusing.
Your both answers are correct and I have completely read your docs.

Let me explain what I am building. I have products data and initially, I use `'q' : '*'` which gives me all the results. Along with this I also want to give users ability to filter. e.g. `Categories`

Now the problem is I want list of these categories **dy

[2019-06-11 02:44] kishorenc commented on #66
Using `facet_by` is the correct way to enumerate the unique categories present in a search result. However, there is a limitation:

Currently, the counts returned by the `facet_by` response is limited to the top 10 frequently occurring entities. That's the reason why you see only 10 categories being returned.

I will work on making the number of facet counts being returned as a configurable value.

[2019-06-11 02:45] kishorenc commented on #51
Closing this issue. Feel free to reopen if a follow-up is needed.

[2019-06-11 02:45] #51 closed

[2019-06-11 04:39] jsinhSolanki commented on #66
That's great. I will wait for the update.
Thanks

[2019-06-11 13:09] jsinhSolanki opened #67 "How to update document"
Hello,
Is there any way I can edit my document??

[2019-06-11 16:48] kishorenc commented on #67
No, you will just delete it and index it again.

[2019-06-12 02:51] kishorenc commented on #66
@jsinhSolanki Here's a [pre-release build `10.0.1-alpha`](https://dl.typesense.org/releases/typesense-server-0.10.1-alpha-linux-amd64.tar.gz) that increases the number of facets returned to the top 100 frequently occurring values.

This change will eventually flow into the formal `10.0.1` release.

[2019-06-12 05:22] jsinhSolanki commented on #67
Hello @kishorenc,
Thanks for your reply. I just want to confirm that should I look for updates for improvement like single field edit or this all we have for document modification.
~ Thanks

[2019-06-12 05:24] jsinhSolanki commented on #66
@kishorenc,
Thank you so much, buddy.

[2019-06-13 02:00] kishorenc commented on #67
We might add an update option in future. However, given the scope of work and design needed for that, it needs to be prioritized with other planned features.

[2019-06-13 07:00] jsinhSolanki opened #68 "How to get more than 10 facets"
## Description
Hi,
I would like to know know how can I increase the number of facets returned by query. Currently, I am only getting 10 facets per query.
![facet_by_limit](https://user-images.githubusercontent.com/31243533/59410386-5d56d400-8dd6-11e9-97f6-c16b7a81ebaa.png)
In my search query, I should get more than 10 facets.

## Expected Behavior

When I search for something it should return all

[2019-06-13 07:22] jsinhSolanki commented on #68
Your provided alpha works fine.
Closing this.

[2019-06-13 07:22] #68 closed

[2019-06-13 09:22] jsinhSolanki opened #69 "Is it possible to get facets upon filter"
Hi,
Is it possible I can get facets when I filter rather than search? e.g. Currently For displaying all results I am using `'q': '*'` and upon filter. But until I don't update my `q: 'any_query'` it doesn't give me facets.

## Steps to reproduce

Just pass filter and use `'q': '*'` as query paramter.

## Expected Behavior

Upon filter can I get facets.

## Actual Behavior

It only returns facets u

[2019-06-14 03:28] kishorenc commented on #69
@jsinhSolanki Thank you for reporting this issue. There was a bug which has been fixed in the following nightly build:

https://dl.typesense.org/releases/typesense-server-0.10.1-beta-linux-amd64.tar.gz

[2019-06-14 16:42] scottf-tvw opened #70 "Server crash after running several days"
## Description

[code]

## Steps to reproduce

server starts from supervisor using
`typesense-server --data-dir=/invintus/typesenseData/ --api-key="xxxxxxxxx" --enable-cors --log-dir /invintus/logs`

## Expected Behavior

Not to crash dump

## Actual Behavior

Unknown why error occuring.

## Metadata

**RAM DISK allocation**: `KiB Mem : 32560808 total,  1020500 free, 26474852 used,  5065456 buff/c

[2019-06-15 04:09] kishorenc commented on #70
@scottf-tvw

We do a `SIGABRT` when a system memory allocation call fails. From the RAM allocation metadata you have provided, it seems like there is only about 1 GB of free memory out of 32 GB. The free memory available could have spiked or tipped during the course of running, which might have resulted in a memory allocation call failing. Do you colocate Typesense with other services running on t

[2019-06-15 12:01] #66 closed

[2019-06-17 10:15] jsinhSolanki commented on #69
hello @kishorenc,
I tested your given release. This works perfectly fine. It gives me facets upon filtering. Great job. :+1:

[2019-06-17 11:28] kishorenc commented on #69
Glad to hear!

[2019-06-17 11:28] #69 closed

[2019-06-23 12:54] MyPustak commented on #70
@kishorenc Do we should keep typesense server seperate from our backend server . Please suggest how we can allocate more RAM for typesense

[2019-06-23 14:40] kishorenc commented on #70
@MyPustak You don't have to keep it separately if there is enough RAM. If you are colocating Typesense with another service whose memory requirements tend to be spiky in nature, then there could be a scenario when the overall memory is not enough during a brief period of time. In such a case, `SIGABRT` will happen.

There is no pre-allocation of memory. Typesense acquires more memory when it needs

[2019-06-24 04:09] MyPustak commented on #70
Thanks a lot for your prompt response.

[2019-06-24 07:05] kishorenc commented on #70
@MyPustak If there is enough memory on the machine and you are still facing this issue, please give me more details on when exactly the crash happens (e.g. during indexing or searching). If you can share the dataset with me privately, we can also run further tests on it to see if we can reproduce the behavior.

[2019-06-25 16:09] kishorenc commented on #70
We found an edge case that triggered a crash sometimes on really long queries. I've pushed out a fix for that, and also built a new release for you to try. Can you please download and use the following release?

https://dl.typesense.org/releases/typesense-server-0.10.1-gamma-linux-amd64.tar.gz

I think that crash issue should be addressed with that. Let me know how it goes. This fix will be part o

[2019-07-06 19:29] lmessinger opened #71 "how to search full text?"
## Description

I'm wondering about searching full text. I'd like to upload real documents and use typesense for search. How do i do that?

thanks
## Steps to reproduce

[Include screenshots, curl commands (please use the -sv flags for curl), etc]

## Expected Behavior

[When you do the steps above, what is the expected behavior?]

## Actual Behavior

[When you do the steps above, what is the actu

[2019-07-07 16:54] kishorenc commented on #71
@lmessinger When you mean by documents, do you mean webpage contents? You can index the `<p>` paragraph contents as `string[]` (string array) field and then just search against it.

If you can give me more context or type of document involved, I can help further.

[2019-07-11 02:26] kishorenc commented on #70
[Version `0.10.1`](https://github.com/typesense/typesense/releases/tag/v0.10.1) is out now and it contains a fix for the `SIGABRT` crash on long query strings. I'm going to close this issue for now. Feel free to reopen if it resurfaces again on this version.

[2019-07-11 02:26] #70 closed

[2019-08-14 09:09] AlexanderHofmeister opened #72 "Support numeric fields to search in"
## Description

According to the API there is no way to sort by fields with type string, e.g the name of a person
Imagine I want to sort all employees by last name.

## Steps to reproduce
Create collection:
`{
         "name": "employees",
         "fields": [
           {"name": "name", "type": "string"},
          {"name": "age", "type": "float"}
         ],
         "default_sorting_field": "ag

[2019-08-14 09:31] AlexanderHofmeister opened #73 "Support string fields for sorting or/and add the feature to the documentation"
## Description

[Describe the issue here]

Sorting for fields with type string is not supported

## Steps to reproduce

Add Collection:

`{
         "name": "employees",
         "fields": [
           {"name": "name", "type": "string"},
             {"name": "age","type": "float"}
         ],
         "default_sorting_field": "age"
       }`

Import data:
`{"name":"Stark", "age": 45} {"name":"Cap

[2019-08-15 02:02] kishorenc commented on #72
Duplicate of https://github.com/typesense/typesense/issues/73

[2019-08-15 02:02] #72 closed

[2019-08-15 02:17] kishorenc commented on #73
@AlexanderHofmeister Typesense is not designed to support sorting results on a string field.

While you might have a genuine need for this, we noticed that for vast majority of search use cases, sorting alphabetically was not needed. It's also a very expensive operation, so it was left out.

[2019-08-15 02:17] #73 closed

[2019-08-15 09:27] AlexanderHofmeister commented on #73
Thanks for pointing this out! :)

[2019-09-24 02:05] Tobishua opened #74 "Problem with cyrillic symbols in the query text"
## Description

When I trying to search items by field which contain cyrillic symbols, Typesense returns 0 results

## Steps to reproduce
Search with cyrillic symbols in **q** parameter:
`curl -sv -H "X-TYPESENSE-API-KEY: xxxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxx" \
                             "https://my-typesense-host/collections/users/documents/search?q=Роман&query_by=first_name,last_name&per_page=10

[2019-09-24 16:24] kishorenc commented on #74
@Tobishua Let me look into what's happening here and get back to you soon.

[2019-09-25 16:07] kishorenc commented on #74
@Tobishua Can you please try this alpha build: https://dl.typesense.org/releases/typesense-server-0.11.0-alpha-linux-amd64.tar.gz

It has a fix for this issue. Let me know if you are still facing the problem.

[2019-09-25 22:01] Tobishua commented on #74
@kishorenc Yes, it works! Problem fixed. Thank you so much :)

[2019-09-25 22:01] #74 closed

[2019-09-29 10:01] kishorenc commented on #63
Going to close this since it's not reproducible and no one else has reported. Feel free to test again on the latest version (`0.10.1` as of today) and reopen if needed.

[2019-09-29 10:01] #63 closed

[2019-11-11 14:14] lufias commented on #59
@kishorenc has this feature been implemented? I have a good use case for this. Im building a listing of items for user to search for. But sometimes, the search doesn't return what they are actually looking for. Say for example the highest score is below the threshold of 50%, then I know the result is not satisfied. Thus, I want to know and maybe log the searching keyword so that I can review and p

[2019-11-12 11:48] scottf-tvw commented on #51
Kishore, I moved to 0.10.1 and attempted a startup on my data set but it simply crashed with a resulting

[code]

I ended up going back to 0.9.x but it will eventually also crash. I can get 0.10.1 to work only if I start with empty collections and reload all of the data via the api.

[2019-11-12 12:45] kishorenc commented on #51
@scottf-tvw

Definitely want to work with you to get to a good shape here.

Typesense latest version is now `0.11.0`. If you can stop the server, compress the data directory and send it over, I can take a look. Does it crash while loading a specific collection?

[2019-11-12 12:48] kishorenc commented on #59
@lufias

No, this is not yet implemented. I've built a custom build for you with the `match_score` field now exposed in the search results: https://dl.typesense.org/releases/typesense-server-0.12.0-pre-1-linux-amd64.tar.gz

You can try it out. However, it's not a percentage score -- it's an absolute score which is really just the tie breaking expressed as a single numerical value for easy sorting

[2019-11-12 12:52] scottf-tvw commented on #51
Yes on the largest one. It really takes a significant time to load it before it fails. I have a local hardware system I am trying this on as well that has 24G of memory vs the 32 of the r5a.xlarge in aws to see if its simply running out of memory loading the data.
I will email you the link to the current dataset.
I also will get 0.11.0 and try to load up on that version.

[2019-11-12 13:00] kishorenc commented on #51
What's the total size of uncompressed data on disk? That would give you a rough idea of memory requirements needed. Roughly 2x the memory of the uncompressed disk size is required if you are indexing most fields in a document stored on disk. For e.g. on-disk uncompressed storage is 10 GB, 20 GB of RAM is roughly required.

[2019-11-12 13:14] scottf-tvw commented on #51
The total size of the data directory is 491MB. I sent an email to contact at typsense with the link to the current data folder tar file.

[2019-11-12 13:28] scottf-tvw commented on #51
FYI a fair amount of the documents in the `9375922947` collection are pretty big. they hold vtt transcript index data with timecode and its associated event information. our use-case is fairly unique since we need to be able to search the voice transcripts that belong to an event. I have considered breaking the transcripts into chunks but aggregates would be needed to display results belonging to

[2019-11-16 07:13] #40 closed

[2019-11-28 12:07] natew opened #78 "Geolocation / Geosearch"
Just curious about plans for support

[2019-11-29 11:49] jd-0001 opened #79 "Wrong Facet counts"
## Description

Hello,
Initially when I receive my facets my facets are equal to total items in my TS server(due to no filters).
[code]

Next, when I type query using `?q=a` it filter it out and shows me correct facets counts
[code]

Now if I update query as `?q=ad` it shows me facet counts higher than my total total items
[code]

## Steps to reproduce

Try writing query of 2 characters without an

[2019-11-30 03:46] kishorenc commented on #79
@jd-0001 Happy to investigate what's happening here. Can you please recheck the version of Typesense you are using? You've mentioned it as `0.3.0` while the current stable version is `0.11.0`: https://typesense.org/downloads/

Also, is it possible for you to share a sample dataset that exhibits this issue with me? You can email me at contact at typesense dot org.

[2019-11-30 03:49] kishorenc commented on #78
@natew Yes, that's on the todo list. What kind of features would you like apart from the ability to sort the results based on a given lat long (i.e. returning search results closest to a given geographical location).

[2019-11-30 23:26] natew commented on #78
Beyond that I don't know, yet.

[2019-12-01 15:18] erlanenazarov opened #80 "Getting "typesense.exceptions.RequestUnauthorized: Forbidden - a valid `x-typesense-api-key` header must be sent.""
I'm just followed [this tutorial](https://typesense.org/docs/0.11.0/api/) on python and got stalled when starting an example. Catched error:

[code]

Server running in docker:

[code]

Typesense client config:

[code]

[code]

**Typsense Version**: 0.11.0

**OS**: MacOS Mojave 10.14.6

[2019-12-02 04:34] kishorenc commented on #80
@erlanenazarov I'm not able to reproduce this issue. Here's the full sequence I tried with:

1. On a fresh virtualenv, ran `pip install typesense`
2. Started Typesense: `docker run -p 8108:8108 -v/tmp/data:/data typesense/typesense:0.11.0 --data-dir /data --api-key=cea658ba2d55cf155ab2b920cc14d6d00edd0bf2da21a3aa2163c3d7b57ef592`
3. Ran the following file: https://gist.github.com/kishorenc/1c0d592

[2019-12-02 05:33] jd-0001 commented on #79
Sorry @kishorenc for late reply actually I was on holidays for couple of days. Yeah, sure current latest version is 0.11.0 and I am using 0.3.0. There's major version gap due to inactive development of this project. When I was workig on this in past latest version was 0.3.0.

I didn't updated it as I thought I have to rewrite some of my code before I actually make it work. But no worries I will up

[2019-12-02 07:12] jd-0001 commented on #79
Hello @kishorenc This issue still exist with latest version of typeSense. I have sent you email please let me know if you received it or not. I used `kishore@kishorelive.com`

[2019-12-04 13:01] erlanenazarov commented on #80
Seems to be magic. I don't know what happen but after reloading project everything works fine

[2019-12-04 13:01] #80 closed

[2019-12-05 06:19] jd-0001 commented on #79
It is solved in 0.12.x

[2019-12-05 06:19] #79 closed

[2019-12-09 08:48] jd-0001 opened #81 "Best Matched item doesn't get sorted"
Hello,
Is this normal behaviour to keep best matched item on top and sort others.
If I search for perticular item and apply sorting, item with perfect match always stays on top no matter whichever sort I apply.

## Steps to reproduce

Type for any query which you set upon with specific string.

## Expected Behavior

I think if I query and sort it should sort all queried items including best matche

[2019-12-09 16:18] kishorenc commented on #81
@jd-0001 String similarity is the primary metric used for sorting results. The sort-by fields are used for tie breaking when multiple documents share the same string similarity score. We describe the [ranking and relevance here](https://typesense.org/docs/0.11.0/guide/#ranking-relevance).

This is because Typesense is primarily a text search engine that's supposed to return results that match your

[2019-12-10 09:20] jd-0001 commented on #81
Yeah @kishorenc you are right. If we consider your example is it possible to make 'xiphone' show up according to it's price.
According to my knowledge current situation is something like, sorting is performed by "best match" and "price" both.
So, can I make 'iphonex' appear above according to it's price.

Thanks ~

[2019-12-11 04:55] kishorenc commented on #81
Yes, sorting is performed first on string similarity and then only on specified sort-by fields. This order cannot be changed. While it looks like a useful thing to have, from experience this does not work well for a lot of cases: sorting by price makes sense only on items that are relevant to your search query. Otherwise, the results will look terrible for a lot of other general search queries.

[2019-12-14 18:49] Benjozork opened #82 "Using * as query string crashes typesense on a certain corrupted collection"
## Description

Typesense crashes with this dump (https://pastie.io/vuqulh.txt) when running the command in the next section on a certain collection

Collection:

`curl -H 'X-Typesense-API-Key: <...>' 'http://localhost:8108/collections/User`
[code]

`_dsf_jank` is generated by my backend due to a bug in the collection generation code on my side. I know this is erroneous and would never work, but I

[2019-12-15 05:57] kishorenc commented on #82
Good catch! This has been fixed here: https://github.com/typesense/typesense/commit/3cf3bd6f2262d6f76b23b9b2b5b4aa7edccd937c

The collection will not be created if the `default_sorting_field` is not present in the schema. This change will be available in the next release. Thank you.

[2019-12-15 05:57] #82 closed

[2019-12-17 10:49] markerpen opened #83 "Show offset and length of highlighted text"
I'm looking to get the various offsets and lengths of highlighted text.

For example, the string 'The **quick** brown **fox**' could include the following:

[code]

Parsing which words are within `<mark>` tags can be tricky, especially when dealing with multi-byte Unicode characters. If the search response included explicit string offsets and lengths, highlighting would be much more useful.

[2019-12-18 13:11] kishorenc commented on #83
@markerpen Can you please explain how you intend to use the offsets and lengths? I would like to understand your use case better.

[2019-12-24 05:28] Benjozork commented on #82
Thank you for the quick fix !

[2019-12-24 15:14] jd-0001 commented on #81
Thanks @kishorenc for your time :)

[2020-01-29 20:51] JaredReisinger opened #84 ""invalid configuration" message suggests using environment variables without the "TYPESENSE_" prefix"
## Description

When following the guide and using environment variables to configure typesense, you end up using `DATA_DIR` and `API_KEY`, leading to an "invalid configuration" message that doesn't help.

(For reference, the message text is at https://github.com/typesense/typesense/blob/master/src/main/typesense_server.cpp#L66)

## Steps to reproduce

Run `docker run --rm -ti -e DATA_DIR=/tmp -e

[2020-01-30 01:16] Charuru opened #85 "Integration with a Search UI"
Mentioned on Hacker News this is going to happen, just want a place to discuss it and follow the progress.

[2020-01-30 01:21] ekianjo opened #86 "Question: Japanese Support?"
## Description

This is not an issue but since this does not seem to be addressed in the documentation or guides, I would like to know if Japanese is supported, and whether a different language would cause issues with search?

[2020-01-30 02:17] kishorenc commented on #86
@ekianjo You can index non-ASCII text and search on it without any issues. [Here's an example](https://github.com/typesense/typesense/blob/master/test/string_utils_test.cpp#L25) from the tests involving some Tamil, which happens to be my mother tongue.

Of course typo correction is not going to work since that assumes an edit distance which might not be suitable for Japanese (correct me if I am wr

[2020-01-30 04:16] ekianjo commented on #86
Thanks - how do calculate the edit distance at the moment? (sorry I did not check the code yet).
Also for Japanese what may be relevant is that you can write things in hiragana, katanana and kanji - and usually you'd want the search to recognize that a search term could be written in different characters while having the same meaning. This is probably more complex to handle...

[2020-01-30 16:17] kishorenc commented on #84
Thank you for reporting this. Fixed it here: https://github.com/typesense/typesense/commit/589802aff806dd9d4929633c9b3177c1fae5de51

[2020-01-30 16:17] #84 closed

[2020-01-30 16:21] kishorenc commented on #86
@ekianjo For edit distance we calculate the [Damerau–Levenshtein distance](https://en.wikipedia.org/wiki/Damerau%E2%80%93Levenshtein_distance) between the tokens in a query and indexed token.

I will do some research on how we can handle that.

[2020-02-03 07:41] karlhendrik opened #88 "Docker build | icu4c-61_1 source"
Current developement.Dockerfile cannot build because it returns 404 when pulling icu source.
I changed icu source download with this link: https://ftp.osuosl.org/pub/blfs/conglomeration/icu/icu4c-61_1-src.tgz

Now it builds.

[2020-02-03 07:48] fatelgit opened #89 "Server crashing if default_sorting_field doesn't exist"
## Description

I was recently doing some testing with typesense so I started to create a simple schema an missed that I was using 'default_sorting_field': 'score' without having a score field declared in my schema. After importing my data and running a simple query the server crashed.

## Steps to reproduce

1. Create a schema like:
[code]
2. Do a simple query with only needed params:
http://loca

[2020-02-03 15:49] kishorenc commented on #89
Thanks, I had fixed this earlier, but wasn't part of the previous release. I've just released `0.11.2` and that contains the fix.

[2020-02-03 15:49] #89 closed

[2020-02-04 15:30] kvz commented on #85
I'd also be interested, i remember reading the thread, but not the intended project to maybe integrate with, was it InstantSearch?

[2020-02-05 08:27] cboothe opened #90 "String Sorting and Pagination"
Description

I was just reading issue #73 about sorting strings and this seems to be problematic.  Both in terms of retrieving all available results as well as formatting of the final search result. In the case of autocomplete it is also important to return results in alphabetical order ASC/DESC.

Based on your hard limit of 500 results it does not seem to me to be a performance issue to allow for

[2020-02-05 12:10] kishorenc commented on #90
Sorting on a given string field within the 500 results is doable, but issue https://github.com/typesense/typesense/issues/73 was about allowing a string field like `title` to be used in the `sort_by` clause and that's really resource intensive.

Let's take a query like `phone` on a `title` field. On a large dataset, this can potentially match hundreds of thousands of documents. To sort all of thes

[2020-02-05 12:29] cboothe commented on #90
Makes sense Kishore. Ideally if we could control how the final result is presented that might be ideal. Rank by Title as well as (ratings, views) which I plan to do as well.

The issue is more with exact match and searching on SKU or model number.

So an example search query (or autocomplete) of "1640-161-9" would match

1640-161-90
1640-161-91
1640-161-92
1640-161-93

This makes sense to sort ins

[2020-02-05 12:33] cboothe commented on #90
Perhaps what I am looking for is instead called "searchable attributes"
https://www.algolia.com/doc/guides/managing-results/must-do/searchable-attributes/how-to/configuring-searchable-attributes-the-right-way/#searchable-attributes-with-different-priorities

Where you prioritize fields.

SKU
Model Number
Title

[2020-02-05 14:41] kishorenc commented on #90
Typesense also gives importance to the the order of fields in the `query_by` clause. Quoting from the [docs](https://typesense.org/docs/0.11.2/api/#search-collection):

_The order of the fields is important: a record that matches on a field earlier in the list is considered more relevant than a record matched on a field later in the list. So, in the example above, documents that match on the compa

[2020-02-09 11:25] geoffreyp opened #91 "Optional field or default value ?"
## Description
I have a collection with 10 fields but I have 2 optional fields so when I want create a document I have the error :

Is it possible to add a parameter "default_value" when we create a collection for specific fields to avoid this error? Or add a parameter "optional" ?

## Steps to reproduce

[code]

## Expected Behavior

Create the document without error with a None value in the fiel

[2020-02-09 16:23] #90 closed

[2020-02-10 09:16] chambers-y opened #92 "Run typesense without a "data-dir" option?"
General question: can the "data-dir" be made optional, so as to  to enable transient database startups / teardowns?

For my workflow, upserting / importing all the documents on every `docker start` is easier than persisting the data directory. Right now, I have to `mkdir ./tmp/typesense-data/` on start and then `rm -rf ./tmp/typesense-data` on cleanup, which is a bit tricky given the tools at my d

[2020-02-10 14:31] kishorenc commented on #92
It's not possible to run Typesense without the `data-dir` as the documents are stored and fetched from disk.

Instead of running `rm -rf` in the clean up, can you run it in the startup itself?

[code]

This should be much easier (everything happens only in the start up).

[2020-02-10 14:35] kishorenc commented on #91
I like the idea of having some fields marked as `optional`. Will consider adding this feature 👍

[2020-02-10 14:36] #58 closed

[2020-02-10 22:40] chambers-y commented on #92
Thank you for the fast response.

To be clear, my problem is not managing  the startup / cleanup. My problem is persistence-- but upon further digging, I realize that Docker containers are designed to be stateless, which is an architectural decision that is out of the scope of this project.

I'll try to solve my particular problem with Docker volumes. Fingers crossed!

[2020-02-10 22:40] #92 closed

[2020-02-14 01:48] JaredReisinger opened #94 "Large integer values are prohibited in the `default_sorting_field` even if that field is marked as "float""
## Description

I have a collection for which the most natural default sorting field is a timestamp.  Because current times (in milliseconds since the epoch) exceed the int32 range, I've defined the field as a "float".  Nevertheless, attempting to create a document in this collection gives me the error `Default sorting field 'date' exceeds maximum value of an int32.`.

The error is coming from htt

[2020-02-14 15:07] kishorenc commented on #94
Thank you for the detailed issue report.

Certainly shouldn't be relying on the inference from the JSON value here. I also noticed that there are a few other places where this is being done, so will have to fix those as well.

As an aside, I wish the default sorting field could be of type int64 but that add be an additional 20% overhead in memory since that field is stored in all the tree nodes. G

[2020-02-14 18:12] JaredReisinger commented on #94
I had considered seconds-since-the-epoch, and decided against it specifically because of the Y2038 problem!  😄   Since we don't need this as true date fidelity--it's really just a tie-breaker for equal-similarity results--I had also considered (a) using seconds, and (b) rebasing to a different "zero" date, like 01-Jan-2000.  For my initial use-case, adding 0.1 was a quick and easy workaround.

As

[2020-02-14 20:05] chambers-y opened #95 "Add option to transform dots/periods to spaces in "query_by" fields"
## Description

typesense does not correctly return results for query fields that store dot-based values. I am not sure if this is a bug or a design decision.

## Steps to reproduce

Using a fresh install of typesense:

1. Add a document with a string field that stores dot-based values, e.g.
[code]
2. Attempt to search for that document based one part of the word, e.g.:
[code]
3. No hits are retur

[2020-02-14 20:16] sradevski opened #96 "Collection schema migrations"
## Description

I wanted to make some schema changes, and as it is now, I can't see an easy way to do that, even if it is adding a new field to the schema. What is the expected approach for migrations?

**Typsense Version**: 0.11.2

[2020-02-15 02:05] kishorenc commented on #95
Thanks for the detailed issue report.

Typesense currently just removes all non-alphanumeric characters from the input string. So, `com.nux.opensource.enterprise` becomes just `comnuxopensourceenterprise`. Now, when you try to search for `opensource` since it exists in the middle of the indexed string, neither prefix search nor typo tolerance will not help.

We need to add a way to configure which

[2020-02-15 02:06] kishorenc commented on #88
Thanks, I will fix this soon.

[2020-02-15 02:47] chambers-y commented on #95
Thanks for the quick response. Removing all non-alphanumeric characters from the input string is an interesting approach.

Does that mean the same behavior will be encountered with underscores or dashes? For example, `q=business_debt` becomes `businessdebt` and `?open-source-libb` becomes `opensourcelib`?

If that's the case, what do you think about replacing certain special characters by default

[2020-02-15 12:51] kishorenc commented on #96
For now, you will have to create another collection with the new field(s), reindex the data and swap the frontend to use the new collection.

[2020-02-15 12:53] kishorenc commented on #88
Fixed via https://github.com/typesense/typesense/commit/35b2f0475834b750ca7942706acbd004a070f520

[2020-02-15 12:53] #88 closed

[2020-02-16 20:49] stereosteve commented on #59
Also it would be nice to have a `typo_count` along side any result.  This would make it easy to draw a line in the UI between exact matches and near matches for things like SKUs.

[2020-02-25 01:39] #94 closed

[2020-03-02 10:20] QuLogic opened #98 "License incompatibilities"
According to your [LICENSE.txt](https://github.com/typesense/typesense/blob/master/LICENSE.txt), it appears your project is under GPLv2. You don't seem to have any license notices in the files, so I assume it is not GPLv2 _or later_.

But [libfor](https://github.com/cruppstahl/libfor) is [Apache 2.0](https://github.com/cruppstahl/libfor/blob/master/LICENSE). The ASL 2.0 is not compatible with GPLv

[2020-03-04 13:42] cboothe opened #99 "Feature: Boosting fields"
## Description

Assuming there is an option to search across multiple fields. Is there also an option to boost / rank one field higher than another?

Example:

Search across fields: model_no, part_no, title, description

A match on model_no or part_no would be an exact match because it matches a SKU. Can those fields be weighted higher?

[2020-03-04 14:49] kishorenc commented on #99
@cboothe

The order of the fields in the `query_by` parameter is important: a record that matches on a field earlier in the list is considered more relevant than a record matched on a field later in the list.

So, if you have `query_by=model_no,part_no,title,description` documents that match on the `model_no` field are ranked above documents matched on the `part_no` and so on.

[2020-03-06 20:08] #99 closed

[2020-03-11 02:01] kishorenc commented on #98
Thank you for pointing this out. We will move to a compatible license in the next release.

[2020-04-03 13:34] kishorenc commented on #98
Fixed in https://github.com/typesense/typesense/commit/fe1b188d47daa5bd2fca2d9498e93940f1e32bd9 -- next release will released on GPL v3.

[2020-04-03 13:34] #98 closed

[2020-04-06 04:12] jd-0001 opened #100 "(Question) Is it possible to only get facet counts for filter"
## Description

Hi, I wish you are safe and healthy during this tough time. As typesense is great for filtering items, this is also common for developer to display available items they can search in their website(which can be achieved using facet counts).

The problem is I have 3 dropdowns where I have to query typesense 3 times to only get available items in all three dropdowns. So, when we query

[2020-04-06 12:45] kishorenc commented on #100
Yes, this will be possible in the next release (hopefully by next week). I will update this thread when that's ready.

[2020-04-06 12:47] jd-0001 commented on #100
It's always great to hear from you buddy @kishorenc :blush:

[2020-04-09 02:07] kishorenc commented on #100
👍 Btw, I also had a rethink on https://github.com/typesense/typesense/issues/81 -- I understand that having items not being strictly ordered on the UI will look a bit odd, so going to expose the underlying text match score as a special field that can be used in the `sort_by` parameter.

This way, you can say something like `sort_by=price:desc,_match_score:desc` to ensure that a list of items are s

[2020-04-20 19:14] devbrains-com opened #101 "content-value has the wrong value using nodejs client (axios)"
## Description
I'm using the javascript library (yarn add typesense) and getting 400 Bad Request from Webservers checking the content-length (Google Cloud Run). I figured out, its coming from the wrong content-length added by the axios client.

## Steps to reproduce

1. Run the docker image in Google Cloud Run
2. Create a collection
3. query it (await client.collections("companies").documents().se

[2020-04-25 11:23] skure opened #102 "query_by field in search not taking multiple values"
## Description

While searching if providing multiple values in query_by giving syntax error in python
## Steps to reproduce

query_by : 'title','authors',

## Expected Behavior

it should search for all fields

## Actual Behavior

giving syntax error

## Metadata

**Typsense 0.11.2**:

**OS**:Ubuntu 16.04

[2020-04-25 11:44] #102 closed

[2020-04-25 11:45] skure commented on #102
syntax was wrong query_by : 'title,authors',
this is the correct way

[2020-04-28 04:40] RyanBertrand opened #103 "Encode filters into signed API key"
Is there anyway to sign API keys with filters encoded so we can use the client side queries without going through our API to restrict data to the account.

Thanks!

[2020-04-28 15:04] kishorenc commented on #103
There is no way to do that but it's definitely in the roadmap.

[2020-04-30 17:36] bynormous opened #104 "Demo on https://typesense.org/ on doesn't work"
Hi I went to your site to see if you have a hosted service, but first thing I noticed was the Book demo input box on https://typesense.org/ doesn't work and throws this error:

<img width="1368" alt="Screen Shot 2020-04-30 at 10 34 16 AM" src="https://user-images.githubusercontent.com/9891511/80741223-25c84780-8ace-11ea-8714-8e2ee3f5ac39.png">

[2020-05-01 02:36] kishorenc commented on #104
Thank you for the heads up -- this has been fixed now.

[2020-05-01 02:36] #104 closed

[2020-05-02 11:57] snuzi opened #105 "Result found attribute shows wrong count"
## Description
Search result `found` attribute is bigger then the number of stored documents
[Describe the issue here]
I have 1k documents and when searching by a keyword the `found` shows 1.3k
Or when there is only one result, it shows `found: 19`

## Expected Behavior

Should tell me the number of found results for that query.
## Actual Behavior

`found` result attribute is greater then total nu

[2020-05-03 02:59] kishorenc commented on #105
@snuzi To help troubleshoot this, can you please:

1. Paste the schema of the collection here? You can replace the field names with placeholders if that matters.

2. The full HTTP query URL or the exact client code which produces the anomalies.

[2020-05-03 12:38] snuzi commented on #105
Collection schema:
[code]

Query params:
[code]
I am using this client [devloopsnet/typesense-php](https://github.com/devloopsnet/typesense-php)
[code]

[2020-05-03 12:42] snuzi commented on #105
Please find some data for indexing here
[code]
[code]
[code]
[code]

[2020-05-03 14:36] kishorenc commented on #105
@snuzi

I am not able to reproduce the issue with that query from CURL. Can you please try the following steps:

1. Create a collection:

[code]

2. Put these documents in a `recipes.jsonl` file: https://gist.github.com/kishorenc/e6dd68ec072fe99f627b57087be80521

3. Import the documents onto the collection created:

[code]

4. Now query the collection as follows (be sure to replace the API key):

[2020-05-05 09:04] kpost commented on #80
Piggybacking on this.

I'm having the same issue when I use Typesense in docker-compose.

[code]

[2020-05-05 09:13] elephantflea opened #106 "Customise highlight snippet size and fields"
## Description

Currently the highlight snippet size is up to 5 tokens either side of the highlighted value. Can a url parameter be added to control snippet/token size at query time.

Also can highlighting be turned off (or on) for certain fields either by a query parameter or as part of indexing rather than all fields. In my case I have a generic `keywords` field:

`{"name": "keywords", "type": "

[2020-05-05 12:51] kishorenc commented on #106
@elephantflea

1. Would it be sufficient if there was an option to specify a list of fields which will be highlighted fully without snippeting?

2. As for the other problem, I think fields in `exclude_fields` list should not be highlighted at all. I will make sure that this is fixed. Unless there is a genuine use case for disabling highlighting on a field but wanting to see the field content in th

[2020-05-05 22:35] elephantflea commented on #106
@kishorenc

1. So instead of showing the snippet it would be the entire field but including any `<mark>` tags?
2. I can't think of a reason why you would need the highlighted field if you have excluded the unhighlighted field so skipping the fields in `exclude_fields` sounds good

[2020-05-06 02:47] kishorenc commented on #106
Not, it will return the entire field value **with highlighting** (so <mark> tags will be present),  instead of just the partial relevant portion.

[2020-05-06 20:45] elephantflea commented on #106
Sounds good, that will work

[2020-05-09 09:00] jd-0001 opened #107 "Handling realtime data with sorting"
## Description

I am building site which lists item with sorting and searching. The issue I am facing is when new item is added to the database(also at the same time to typeSense). This creates pagination issue like below:
https://www.sitepoint.com/paginating-real-time-data-cursor-based-pagination/

Also, our items have upvote and price filters, how can we handle the above case for that also?
How

[2020-05-10 09:17] kishorenc commented on #107
Hi @jd-0001 -- the best way to tackle this is to add a timestamp field, say `index_time` to the indexed search record which indicates when the record was added. Once https://zapier.com/zappy have that, whenever you query be sure to include a index_time < now filter and preserve the now for future queries unless a lot of time elapses.

[2020-05-12 06:28] jd-0001 commented on #107
Hello, @kishorenc Thanks for the reply. I got your solution and it will work for sure. But, is there anything which internally handled by typeSense? Currently, I have used id < current_id(latest id at the time of making a request) logic. However, I have another related issue.

I also have likes & pricing of items that changes(upvotes constantly get changed). So, when a user likes the item it gets

[2020-05-12 10:18] kishorenc commented on #107
That's why I suggested using an index timestamp -- when you use `id`, it will remain the same during updates, but an `updated_at` timestamp field will be updated **anytime** you make an update to a document.

In summary, add a `updated_at` int64 field to your schema. Now, whenever you update the document (for likes or prices), just update this field as well with current timestamp. Finally, when qu

[2020-05-19 11:05] etienneleba opened #108 "Weird behaviour with long and similar string ids [bug]"
## Description

I found a weird behaviour with typesense, I indexed generated string Id in typesense, and when the ids are too similar and too long, typesense return nothing.

But in the dataset if you remove the short ids (ABC-1234_87821_1, ABC-1234_28782_1, etc), it works fine again, you can query the long ones.

I don't understand, it's like typesense give up or something like that...

## Steps

[2020-05-20 15:54] kishorenc commented on #108
Thanks for reporting this issue. This is fixed in https://github.com/typesense/typesense/commit/76b3bf61fc2b29b21d0ce9ed494606ae68683db5 and will be available in the next release (to be released within the next week).

[2020-05-20 15:55] kishorenc commented on #105
On further email conversation, this was not reproduceable. Will close it for now.

[2020-05-20 15:55] #105 closed

[2020-05-20 15:59] etienneleba commented on #108
Ok nice, thx. And typesense is a really nice tool, you're doing a really good job, thx :wink:

[2020-05-23 16:37] kishorenc commented on #108
@etienneleba Glad to hear.

v0.12.0 has just landed. So this issue has been fixed. Please try it out and let me know.

[2020-05-23 16:38] #108 closed

[2020-05-23 16:38] kishorenc commented on #107
@jd-0001 Did that work? Okay to close this issue?

[2020-05-23 16:40] kishorenc commented on #106
@elephantflea

v0.12.0 has just landed and it has 2 features which will help here:

1. `highlight_full_fields` parameter: Comma separated list of fields which should be highlighted fully without snippeting. By default all fields will be snippetted.

2. We also now don't highlight excluded fields even if it is queried on.

Check it out and let me know if you notice any issues!

[2020-05-23 16:42] kishorenc commented on #91
@geoffreyp v0.12.0 has landed and it has support for optional fields. You can mark a field as `"optional": true` during declaration. You can read more here: https://typesense.org/docs/0.12.0/api/#create-collection

[2020-05-23 16:42] #91 closed

[2020-05-23 16:45] kishorenc commented on #100
v0.12 has landed and has support for `max_hits` parameter. Set it to `0` during query to ensure that only facet counts are returned.

[2020-05-23 16:45] #100 closed

[2020-05-23 22:19] jasonbosco commented on #85
@Charuru @kvz We just released our integration with InstantSearch: https://github.com/typesense/typesense-instantsearch-adapter.

[2020-05-23 22:20] #85 closed

[2020-05-24 02:59] kishorenc commented on #101
@devbrains-com Can you please try against the latest version of the JS client and v0.12.0 of Typesense (both release yesterday)? Will be happy to troubleshoot further if the issue still persists.

[2020-05-24 03:00] kishorenc commented on #81
@jd-0001 Please see the updated ranking and relevance section in the latest 0.12.0 release:

https://typesense.org/docs/0.12.0/guide/#ranking-relevance

It gives you more flexibility in terms of having absolute control over the sort order.

[2020-05-24 03:00] #81 closed

[2020-05-24 03:27] kishorenc commented on #59
On the official v0.12.0 release, the match score is returned via the `text_match` response field.

I will create a separate issue for returning `typo_count`.

[2020-05-24 03:27] #59 closed

[2020-05-25 09:50] jd-0001 commented on #107
Hi @kishorenc Thanks for your solution. Actually, it won't work in our case where we short by likes(upvotes) and likes gets updated constantly so updating the item's `updated_time` once the item is liked may miss the item while fetching for the next page.

I have another workaround but I don't know if it's efficient for TypeSense. Here it is:
I will create array of like ids(each like will have id)

[2020-05-28 02:44] kishorenc commented on #107
Spent some time thinking through this.

The root of the problem seems to be in 2 conflicting goals:

a. Ensuring that the items are not duplicated during pagination
b. Surfacing up-to-date information in the search results

These two goals are inherently conflicting in nature. Depending on which is the lesser evil for a particular sorting order (e.g. sorting by date vs sorting by likes), you can c

[2020-05-28 22:00] georgiemathews commented on #42
Is this feature still planned?

[2020-05-29 16:22] jd-0001 commented on #107
Hi, @kishorenc Thanks for responding. We can close this.

[2020-05-29 16:22] #107 closed

[2020-06-01 00:15] jasonbosco commented on #103
We just released support for API Key Management in Typesense v0.13. Here's how you embed filters into scoped API keys: https://typesense.org/docs/0.13.0/api.html#generate-scoped-search-key

[2020-06-01 00:15] #103 closed

[2020-06-01 00:22] RyanBertrand commented on #103
Nice! I will check it out next week. Thank you!

[2020-06-02 18:13] jd-0001 commented on #107
Hi, @kishorenc I didn't want to bother you but if I filter the collection using below:
[code]
modified_date is `int32`

TypeSense server stops saying below:
![Screenshot from 2020-06-02 23-40-02](https://user-images.githubusercontent.com/47495003/83554631-b9a48d80-a52a-11ea-9a75-26d7cbdf66d9.png)
![Screenshot from 2020-06-02 23-40-22](https://user-images.githubusercontent.com/47495003/83554638-bb6

[2020-06-04 17:30] fabien opened #109 "query_by should be optional when q=*"
## Description

Currently, the `query_by` search parameter is required, which makes sense. However, it is more or less irrelevant when `q=*`.

## Steps to reproduce

`http://localhost:8108/collections/companies/documents/search?q=*`

## Expected Behavior

When `q=*` the `query_by` should become optional.

## Actual Behavior

Instead, an error is thrown: `Parameter `query_by` is required`

[2020-06-07 11:58] fabien opened #110 "facet_query vs. hits empty"
## Description

As soon as the `facet_query` search parameter is used, the query will return zero hits.

## Steps to reproduce

`http://localhost:8108/collections/companies/documents/search?q=*&facet_query=category:sports`

## Expected Behavior

This is not clear to me - is it intentional to stop returning any hits alongside the facets?

## Actual Behavior

Hits will be `[]`,  and `request_params:

[2020-06-08 04:38] kishorenc commented on #110
For facet queries, if a `per_page` parameter is not specified, it will default to `0`, thereby returning only facets and not hits. If you want hits as well, be sure to set `per_page=X` to fetch hits as well.

The assumption is that when you’re searching for specific facets via facet query, you only care about the facets and not the actual hits at that point (e.g. when populating a facet filter sid

[2020-06-08 05:35] fabien commented on #110
Thanks. Didn’t realize that I could set per_page in this case. All good now!

[2020-06-08 05:35] #110 closed

[2020-06-08 23:14] Spittal opened #111 "Typesense Helm Chart"
Hi There. Just wanted to let you know that I spent the time to create a Kubernetes Helm chart for Typesense. I've tested it in a small production environment on Google Kubernetes Engine and it seems to work well. I haven't added any automatic scaling to the chart yet as we haven't reached that need. But, I figured it might be useful to some folks in the community!

https://github.com/Spittal/types

[2020-06-09 16:23] kishorenc commented on #111
👋 This is great -- thanks for making it available!

[2020-06-10 16:02] fabien opened #112 "Crash with optional fields, with dot in name"
## Description

I have fields with a dot in them, as follows:

[code]
When creating a document using the JS client, without including the optional property, Typesense will crash as shown below. It cannot be restarted, unless I delete the Docker volume with the data.

## Steps to reproduce

[code]

[code]

## Expected Behavior

The document should have been inserted, no crashes. Note that the follo

[2020-06-10 16:47] #112 closed, assigned to nobody

[2020-06-11 19:54] fabien opened #113 "Schema property 'optional' not returned"
## Description

It appears that the `optional` field property (within a collection schema) is not returned back to the client. This happens on `create` as well as `retrieve`.

## Steps to reproduce

1. create a schema with `optional` fields
2. retrieve the schema - the `optional` property is missing

## Expected Behavior

The `optional` property should be included.

## Actual Behavior

The `option

[2020-06-12 10:55] jd-0001 opened #114 "float with decimal not sorted properly"
## Description

I have datetime field which has float type and can have values in decimals. When I try to sort it result doesn't consider decimals(milliseconds)

## Steps to reproduce

![Screenshot from 2020-06-12 16-23-29](https://user-images.githubusercontent.com/47495003/84495631-1a6d5c00-acc9-11ea-8d69-882c3d664281.png)
![Screenshot from 2020-06-12 16-23-43](https://user-images.githubuserconte

[2020-06-12 11:39] jd-0001 commented on #114
I just converted that float field to int64 and used timestamp in miliseconds to handle sorting properly.

Sorting works fine for now but if I query on that field server get crashed:
[code]

But If I introduce filter:
[code]

[2020-06-12 12:05] kishorenc commented on #114
IEEE-754 floating point numbers use 24 bits for mantissa and 8-bit for exponent. So the largest float value that be stored precisely is `16777216`. Anything more than that (timestamps in this case) will only be "approximately" represented. So, using an int64 datatype for the timestamp is the correct approach.

To find out what's going wrong with the filter, can you please give me:

a) a few sample

[2020-06-12 12:09] kishorenc commented on #101
Closing this for now. Feel free to reopen an issue on the [JS repo](https://github.com/typesense/typesense-js) if needed.

[2020-06-12 12:09] #101 closed

[2020-06-12 13:14] fabien opened #115 "Error: Field must be a float array"
## Description

When inserting documents with an array of numbers (through the JS client), numbers that are actually integers cause an error to be thrown for `float[]` fields.

## Steps to reproduce

[code]
## Expected Behavior

Any numeric values that happen to be integers should be implicitly treated as floats for these fields. Javascript doesn't have proper floats, and numbers cannot be typed a

[2020-06-12 13:16] jd-0001 commented on #114
Hi @kishorenc I uploaded your requirements in drive: [view](https://drive.google.com/file/d/1svGv12eg3nEvDUvhUvcDU38_pNqgnnmI/view?usp=sharing)

[2020-06-12 13:51] stephanoparaskeva opened #116 "Why the license GPL-3.0 ?"
GPL is widely considered a bad license for Open Source. Competitors of this project seem to be using the MIT license which is great. Why is this project using a license like this, and what does that mean for the future?

A company may typically do this is they want to charge for a better license etc. Similar to what MongoDB has done in the past.

[2020-06-12 15:12] kishorenc commented on #114
Thank you, will take a look and update this thread.

[2020-06-12 15:38] kishorenc commented on #115
Thank you for reporting this issue. Fixed in https://github.com/typesense/typesense/commit/ecf8e0c9f94a50939cf43fb7c6c7d18fbb9b6601 and the fix is available in this Docker image: `typesense/typesense:e16a428`.

[2020-06-12 15:38] kishorenc commented on #113
Thank you for reporting this issue. Fixed in https://github.com/typesense/typesense/commit/e16a428ae080e62fe0d2c86e3d337caa45c8633b and the fix is available in this Docker image: `typesense/typesense:e16a428`.

[2020-06-13 04:44] fabien opened #117 "Feature request: sort_by string fields"
## Description

It would be extremely handy to be able to sort results on `string` fields as well. Currently, `sort_by` only accepts numeric (`int32`, `int64`, `float`) fields. For the `default_sort_field` this is actually limited to just `int32`, and `float` (no  `int64`).

Ideally it would support ICU Collation settings. Some libraries have a concept of generating a sortKey (https://ilib-js.gith

[2020-06-13 05:48] kishorenc commented on #114
@jd-0001 This is fixed in https://github.com/typesense/typesense/commit/a744f6e566cabfa18eef6777bac852dacf5989bc and the fix is available in this Docker image: `typesense/typesense:a744f6e`

If you are using an actual Linux executable for local dev and would prefer that, I will also be happy to create a custom build for you -- let me know.

[2020-06-13 06:07] kishorenc commented on #116
@stephanoparaskeva Thanks for reaching out. Could you please expand on what you’re looking to do and how GPL 3 is preventing you from doing that? All our client libraries which will be directly integrated with your code is Apache 2 licensed. Definitely want to address your concerns here.

[2020-06-13 06:37] kishorenc commented on #117
Thank you for starting a discussion on this. The issue of sorting string fields has come up previously -- you might find that discussion useful: https://github.com/typesense/typesense/issues/90

As I mentioned on the other thread, the primary issue is that of performance and storage requirements. We've to store the actual strings in-memory for sorting. While that trade-off could be left to the dis

[2020-06-13 08:45] jd-0001 commented on #114
Yes, I am using linux executable. I will test it and will let you know.

Thanks :pray:

[2020-06-13 08:45] #114 closed

[2020-06-13 13:12] stephanoparaskeva commented on #116
The problem would be general I think. GPL infers that copy-left can be applied to any derivative work and is ambiguous as to what 'derivative' means. For that reason I think many companies avoid using software that share this license as well as licenses like the AGPL. Is it possible to ask what the reasoning is to use this license rather than anything else?

@kishorenc

[2020-06-13 18:57] fabien commented on #117
Thanks for pointing me to the previous discussion. I was thinking of only allowing a substring of such string fields to be considered, ideally configurable as such. Say, the first 16 characters only. Then using this to generate a sortKey which incorporates complex ICU sorting into a plain sortable string value.

While this can also be done on the client, it might be less practical when used with `

[2020-06-16 11:13] jd-0001 commented on #114
Hi, @kishorenc When I will get this update? or can I get executable you were referring to so I can test your solution?

[2020-06-16 12:25] kishorenc commented on #114
Sorry, I thought you were able to test via the Docker image. Please use this binary for testing the change:

https://dl.typesense.org/releases/nightly/typesense-server-a744f6e-linux-amd64.tar.gz

[2020-06-16 12:44] jd-0001 commented on #100
Hi, @kishorenc I tested your latest TypeSense executable and also version 0.13.0 but even if I use `max_hits` parameter I get hits in response along with `facet_counts` :thinking:

Here's my Query(Python):
![Screenshot from 2020-06-16 18-13-28](https://user-images.githubusercontent.com/47495003/84775665-1e68e900-affd-11ea-9ec2-ca9ee9728bfb.png)

[2020-06-16 12:51] kishorenc commented on #100
Sorry this parameter was removed in 0.13.0. You can now just use `per_page=0`. We removed it since it was redundant. It was mentioned in the change log.

[2020-06-17 03:32] kishorenc commented on #116
From our experience companies are generally concerned when libraries they use are GPL licensed, since library code is directly integrated into their code and will lead to derivative work and trigger GPL compliance. However, Typesense Server is server software and we expect users to typically run it as a separate daemon, and not integrate it with their own code. GPL covers and allows for this use c

[2020-06-17 11:32] stephanoparaskeva commented on #116
Very comprehensive. It seems valid to use GPL here. I'll still choose to opt away from TypeSense as there MIT licensed projects in the same space. Awesome work regardless, and I'll  mark as a closed discussion.

[2020-06-17 11:32] #116 closed

[2020-06-18 01:32] stephanoparaskeva commented on #72
This is crazy. I have data that has no numeric keys:
[code]

But after changing it to

[code]

[2020-06-18 01:39] kishorenc commented on #72
Yes there are two different issues here.

A) the id field must indeed be a string
B) default sorting field is meant to provide a logical sorting order for data in terms of popularity so it cannot be a string. In fact, Typesense does not support sorting by string at all so it's consistent with that.

Happy to clarify further if I've misunderstood your requirement.

[2020-06-18 01:41] stephanoparaskeva commented on #72
I can see the issues, but they are circular. If one has data that has no 'sortable' data, then they cannot create a collection for the data. My data should be searchable even if it's not sortable. It's impossible for me to create a TypeSense collection/index unless I change my database structure?

[2020-06-18 02:06] kishorenc commented on #72
Typesense needs some field to sort results by. This is to ensure that when you make the same search query twice, the results are ordered in a consistent way. Instead of requiring a `default_sorting_field`, we could order the results in the same order in which they were inserted. If you don't really have a field to nominate as the default sorting field, you can just use a constant value for this fi

[2020-06-18 02:16] stephanoparaskeva commented on #72
I don't doubt that it's much more preferable and produces better results, it seems as though these are complex matters that you yourselves are handling.

But I think this should be optional. As you said, the algorithm will use the insert order by default if all are constant. This should make it clear that the field `default_sorting_field` is already optional under the hood and not allowing the API

[2020-06-18 02:22] kishorenc commented on #72
I agree with you and I've been intending to relook at this and make it an optional field. Thanks for the reminder.

[2020-06-21 01:51] kishorenc commented on #117
I think the idea of supporting sorting on fixed length string fields has merits. I will keep this issue open for tracking that.

[2020-06-28 15:10] ankane opened #118 "Build Failing Due to H2O URL"
## Description

Hi, when building from source, it's failing with:

[code]

It appears to be related to this change: https://github.com/typesense/typesense/commit/3cdb48f0604b614795db157fd4643fa614005694#diff-babe0c065fefe16905d2eec6fd3ee6feR11, which remove `v` from the URL. It works when the `v` is restored.

## Steps to reproduce

[code]

## Expected Behavior

Build succeeds

## Actual Behavior

[2020-06-28 16:23] kishorenc commented on #118
Thank you, fixed it in https://github.com/typesense/typesense/commit/2c94993ecb28a53808b386a49844ff7a5d4a65b4

[2020-06-28 16:23] #118 closed

[2020-06-29 00:04] ankane commented on #118
That was fast, thanks @kishorenc!

[2020-07-04 08:22] kishorenc commented on #115
Fixed in `v0.1.4.0` just releases.

[2020-07-04 08:22] #115 closed

[2020-07-04 08:22] kishorenc commented on #113
Fixed in `v0.1.4.0` just released.

[2020-07-04 08:22] #113 closed

[2020-07-04 08:23] kishorenc commented on #109
Fixed in `v0.1.4.0` just released.

[2020-07-04 08:23] #109 closed

[2020-07-05 03:22] kishorenc commented on #114
Fix for filtering on int64 values is available in `v0.14.0` just released.

[2020-07-06 06:22] ankane opened #119 "Build Failure on Mac 10.15"
## Description

Hi, I'm hoping to add Typesense to Homebrew so Mac users can do `brew install typesense`. However, building from source is failing when building RocksDB.

## Steps to reproduce

Homebrew formula: https://github.com/ankane/homebrew-core/blob/master/Formula/typesense.rb

Commands:

[code]

## Expected Behavior

Build succeeds

## Actual Behavior

When building RocksDB, it fails with:

[2020-07-06 14:01] kishorenc commented on #119
The Mac static binary is already published for each release and is available here: https://typesense.org/downloads/

Can that be used for brew or is there a reason why you want to build from source?

Over time, Typesense build has gotten a bit long and complex due to the number of dependencies. There are also various gotchas around static/dynamic linking library combinations. Although I primary de

[2020-07-06 17:59] ankane commented on #119
Homebrew requires projects to be built from source, so can't use the binary for it unfortunately. If building from source on Mac is supported in the future, happy to revisit this.

[2020-07-06 17:59] #119 closed

[2020-07-10 06:33] rluba opened #120 "Performance with LARGE data sets?"
We’re experimenting with using Typesense on a very large dataset: around 3 million documents with full-text search.

After indexing around 8500 docs, Typesense consumed roughly 480MB of RAM, so we’re expecting around 170**GB** of RAM usage for the 3 million documents.

Has anyone tried using Typesense with this amount of data? How does search speed scale?

## Metadata

**Typsense Version**: 0.13.0

[2020-07-10 10:27] rluba opened #121 "Typesense doubles RAM consumption after restart"
## Description

I’ve filled Typesense with a small example dataset (see #120). After creating the collection and adding 8830 documents, Typesense (0.14.0 in the official Docker image) required around 460MB of RAM:
<img width="546" alt="Before" src="https://user-images.githubusercontent.com/4600573/87144690-74514980-c2a8-11ea-82a7-bc2273e40e63.png">

After stopping and re-starting the container, Ty

[2020-07-10 12:35] kishorenc commented on #121
@rluba We (and others) have certainly indexed datasets with N millions of records without issues previously.

Can you please tell me:

1. What's the on-disk size of these documents?
2. How are you importing them -- by indexing individually or via the import end-point?
3. Can you share the schema being used? Feel free to use placeholder names for fields (if that matters).

[2020-07-10 13:04] kishorenc commented on #120
Let's use https://github.com/typesense/typesense/issues/121 to discuss.

[2020-07-10 13:04] #120 closed

[2020-07-10 14:18] rluba commented on #121
1. 161MB for the whole typesense data dir.
2. They were imported via the `POST /collections/<id>/documents` endpoint.
3. Here’s the output of `GET /collections`:
[code]

But I don't understand how any of these things are related to the issue that restarting the Typesense container doubles the occupied RAM and that it’s not released when I delete the collection.

[2020-07-10 14:41] rluba commented on #120
@kishorenc OK, but how is #121 related to the question of whether someone has used Typesense with that amount of data?

As you can see from the numbers, the individual documents are quite large – **much, much larger** than in the example given in the readme:

It took us just 8500 documents to almost triple the amount of memory need for your 1 million hacker news documents, so our 3 million documen

[2020-07-10 14:42] kishorenc commented on #121
The tricky thing about measuring free memory is that `malloc()` will not return memory to the OS when items are deleted. Memory allocators can and do reuse memory when it's needed further from the same pool. For e.g. here's the same problem described in Redis documentation: https://redis.io/topics/memory-optimization#memory-allocation

Unless there is a regression, that could explain the haphazard

[2020-07-10 15:54] kishorenc commented on #120
People have told us that they have indexed 2-3M documents. However, they did not share specific RAM usage in those instances. The example that I can share with memory usage is an e-commerce bookstore who were able to index 1M book-related ecommerce records in 4 GB of RAM (the records had an on-disk storage of 2 GB). The typical actual memory usage will be 2-3x the on-disk storage (similar to the b

[2020-07-12 15:46] kishorenc commented on #121
@rluba Took a deeper look at the issues involved and I can confirm that the RSS memory size you are seeing is certainly not the true memory utilized by the process due to the way memory fragmentation and reuse works as I outlined in my previous comment. Typesense creates a lot of short lived and small heap allocations. This [answer](https://stackoverflow.com/questions/32343848/why-the-memory-not-f

[2020-07-13 12:25] rluba commented on #121
Thanks for looking into it. But that doesn’t explain why the memory consumption remains very high after deleting the whole colleciond and *and* restarting Typesense. (Step 5.)

[2020-07-13 12:33] rluba opened #122 "Tokenization around "-" and "_"?"
## Description

One of the fields of my collection is configured as a "string" and contains filenames. But when searching for documents, partial hits within the filenames are not returned at all. It seems like Typesense does not break apart tokens at underscores or dashes.

For example, a file named "something_2020-07-13_with_important_words.pdf" _cannot be found_ by searching for "important", "wo

[2020-07-13 13:09] kishorenc commented on #95
Sorry I missed replying to this @chambers-y

Definitely need to make this configurable. I think there are cases when treating hyphen as "nothing" or as a "space" both makes sense depending on context, so have to introduce a configuration at a field level to handle this.

[2020-07-13 13:10] kishorenc commented on #122
Yes, Typesense currently just removes all non-alphanumeric characters in the ASCII range from the input string. Definitely need to create a list of special tokens that can be specified to be treated as "spaces" instead (at a field level), thereby forcing a tokenization on them.

Similar to https://github.com/typesense/typesense/issues/95

[2020-07-13 14:34] kishorenc commented on #121
1. The underlying allocator is not releasing the memory to the OS when a collection is deleted. I was able to reproduce the same issue on OS X with the Mac binary as well. However, the code is making all the necessary `delete` calls.
2. When you restart Typesense, all the indexing happens once again from disk as we don't persist any on-memory data structures. So the same "allocation storm" happens

[2020-07-13 16:53] kishorenc commented on #121
Sorry I didn't fully grasp the implication of this line. Let me check this particular detail and get back to you.

[2020-07-13 17:00] kishorenc commented on #122
As a workaround you have to add the spaces before indexing.

[2020-07-14 03:29] kishorenc commented on #121
@rluba Reason for memory allocation even after deletion of collection **and** after a restart:

1. All insert and delete operations on Typesense goes to a Raft log, which is primarily used for clustering. Even in single node mode, this log is useful for a replay in case the program crashes. This log is snapshotted every 10 minutes.
2. Let's say you:
    a. Index 100,000 documents onto Typesense

[2020-07-14 07:23] rluba commented on #121
Thanks for investigating and explaining this. 👍

Just one final comment. You said:

That sounds like a serious anti-pattern to me – especially if you’re doing it with `malloc()` et al. Have you considered a bucket or pool allocator? (Slightly off-topic, I know.)

[2020-07-14 12:09] kishorenc commented on #121
Typesense uses trie as the inverted index data structure so that we can support fuzzy search. Trie construction involves a lot of mutations as the trie grows in size (no way to know the exact way the trie will branch out so you cannot pre-allocate memory easily).

While Typesense does not use a custom allocator or an optimized memory allocator like jemalloc, the underlying default glibc memory all

[2020-07-28 19:34] abhalodia commented on #67
I would like to upvote this enhancement. If you are trying to create a shopping experience where you give customers ability to see quantity left vs sold or customers who added it to the cart. It would be great if you can just update attribute on document rather than deleting and recreating it. Even ability to overwrite works too. There is always a small chance of missing the same document in searc

[2020-07-29 09:00] Enijar opened #123 "Searching Through Multiple Collections"
## Description

Firstly, thanks for creating this awesome library!

I'm having trouble finding documentation on how to search through multiple collections; is this possible to do?

## Metadata

**Typsense Version**: 0.6.0

**OS**: Ubuntu 18.04

[2020-07-31 11:53] Enijar commented on #123
In the mean-time (for others who may find this issue and need a temporary solution), I made a new collection named "all"; this combines the existing collection fields.

Here's an example of the collections config I have in NodeJS:

[code]

[2020-08-10 18:55] agentile opened #124 "Feature Request: Deleted By Query"
## Description

There doesn't seem to be a convenient, efficient way of deleting from a collection by query

## Steps to reproduce

n/a

## Expected Behavior

Be able to delete a slew of documents in a collection by matching query

## Actual Behavior

Have to query first, gather up ids and make individual requests to delete each one.

## Metadata

**Typsense Version**: 0.14.0

**OS**: unix

[2020-08-16 22:23] markerpen commented on #83
Sorry for not replying sooner - my use case is for searching documents within a smartphone app. The app would make an API call to the server, the middleware layer would query Typesense and send the JSON back to the app. Using explicit highlight ranges make it easier - for example, iOS has NSAttributedString which takes in one or more ranges in which to highlight a block of text.

At the moment, th

[2020-08-23 15:44] fabien opened #125 "Unexpected partial matches on facetted field"
## Description

From what I understand, facetted fields are used verbatim, and `filter_by` queries on such fields would not return hits on partially matched terms. As an example (which is similar to what I was experiencing in my app, using hierarchical facets, lvl0, lvl1, lvl2), I'm using this dataset:

https://github.com/typesense/typesense-instantsearch-adapter/blob/master/test/support/populateT

[2020-08-25 02:07] kishorenc commented on #125
Thanks for reporting this issue. When a field is marked as a facet, an internal verbatim index is created separately for faceting operations. The field is also indexed as a regular field with tokenization for searches. The filter is not working as expected because it should use the faceted index and not the search index. Will roll out a fix for this issue.

[2020-09-01 16:03] scottf-tvw opened #126 "Crash when an int32 field is filtered with an int64 value"
## full log: [typesense.log](https://github.com/typesense/typesense/files/5157497/typesense.log)
## Description

Server crash on latest release

[code]

## Metadata

**Typsense Version**:
0.14.0
**OS**:
Ubuntu 16.04.5 LTS (GNU/Linux 4.4.0-1110-aws x86_64)

[2020-09-01 16:36] kishorenc commented on #126
Hi Scott, a couple of versions back Typesense moved to a new layout and attempts to move the DB directory to the new layout. However I see that's failing in the logs right at the top:

I wonder if the move is failing because of EFS quirk. Is it possible for you to reindex data on a fresh directory?

[2020-09-01 18:08] scottf-tvw commented on #126
@kishorenc looks like a query is killing it
`https://search.invintus.com/collections/4879615486/documents/search/?q=*&query_by=transcriptLines,description,title,agendaTitles,agendaDescriptions&sort_by=eventDateTime:ASC&exclude_fields=transcriptLines,agendaTitles,agendaDescriptions&filter_by=categories:[User+Training]+%26%26+status:published%26%26eventDateTime:<2230070399%26%26eventDateTime:>156720

[2020-09-01 18:43] scottf-tvw commented on #126
It doesn't matter if I build a new collection on a local disk either. that query still completely crashes the server.

[2020-09-02 02:24] kishorenc commented on #126
@scottf-tvw I had fixed an issue with wildcard query last week, which will be available in the upcoming 0.15 release. I'll have a release candidate ready for testing by end of the week.

Would it be possible to share an export of this particular collection (you can email me) so I can verify locally and ensure that it works fine? I tried testing it against the data dump you had shared earlier -- wh

[2020-09-03 14:34] edervishaj commented on #94
@kishorenc any planned int64 support for default sorting field?

[2020-09-03 15:00] kishorenc commented on #94
Yup this is already fixed and will.be available next release for which a release candidate will be available next week!

[2020-09-05 15:14] fabien commented on #125
Hi @kishorenc, any update on this? Thanks!

[2020-09-05 15:55] kishorenc commented on #125
Working on it. Wanted to make the behavior a bit more generic rather than assuming only exact filter on facet fields.

[2020-09-07 09:43] grigortovmasian opened #127 "glog and brpc defines the same flag which cause the runtime crash"
## Description
I tried to build resent master branch on linux86_64 (ubuntu 18-04).
It actually forced me to install brpc and braft.
After the build when I tried to run ./typesense-server it gives me the following error.

ERROR: flag 'v' was defined more than once (in files 'src/vlog_is_on.cc' and '/home/tiran/grig/incubator-brpc/src/butil/logging.cc').
the first file cames from glog library the se

[2020-09-07 13:15] kishorenc commented on #127
👋 BRPC must be configured to build with GLOG. If you are Ubuntu, you can just follow the Docker commands [here](https://github.com/typesense/typesense/blob/import-perf/docker/development.Dockerfile). It applies the necessary patches.

The above link also points to the `import-perf` working branch, which is pretty near being released, so it would be useful to start with that, but the same Dockerfil

[2020-09-07 21:21] grigortovmasian commented on #127
Thank you for your feedback.
Seems like build brpc and braft with glog fixed that issue.
Regards,
Grigor

[2020-09-09 16:31] #127 closed

[2020-09-09 21:11] fabien opened #128 "Error / timeout ECONNABORTED"
## Description

[code]

Just wanted to check if this originates from Typesense, as I am seeing this repeatedly on the console while running some integration tests. The results are as expected though, and everything continues successfully.

## Steps to reproduce

This happens intermittently during indexing of items - it cannot be reproduced specifically in any way.

[2020-09-10 04:23] jasonbosco commented on #128
This does originate from Typesense - specifically [here](https://github.com/typesense/typesense-js/blob/37838934bf74b901540f2329604fee20c4c4ddac/src/Typesense/ApiCall.js#L94) in the JS library. Looks like the request is taking more than the configured timeout of 2s to complete and so is being retried by the client. If you only see the message once, it's likely the 2nd retry succeeded.

[2020-09-10 06:07] fabien commented on #128
Hi Jason, thanks for the pointer.

When this happens I’m seeing it repeatedly, up to 10 times and more. I guess it’s because multiple items are being indexed individually (update: delete + re-insert), instead of a single batch call.

[2020-09-10 15:40] jasonbosco commented on #128
You’re right. I meant to say, if you see the message only N-1 times per api call, where N is the number of retries configured in the client library, then the message can be safely ignored.

[2020-09-12 06:26] kishorenc commented on #125
@fabien

Here's the nightly Docker image with the fix: `typesense/typesense:961a069`

A `:=` operator has been introduced for exact filtering -- this operator can be used only on facet-enabled string fields.

Example:

`category:= Shoe` will only match shoes and not a category like `Shoe Rack`. It also supports multiple filter values, so you can do `category:= [Shoe, Sneaker]`.

Let me know if you

[2020-09-12 09:45] #128 closed

[2020-09-12 18:00] fabien commented on #125
Hi @kishorenc thanks for this.

Haven’t been able to give it a try yet. However, I was wondering hos this will integrate with the Instantsearch adapter? Any update planned for that, perhaps?

[2020-09-14 00:34] jasonbosco commented on #125
@fabien Yup, working on it

[2020-09-14 23:35] jasonbosco commented on #125
@fabien Just published a pre-release version of Instantsearch adapter: https://www.npmjs.com/package/typesense-instantsearch-adapter/v/0.3.0-0. Let me know if you run into any issues.

[2020-09-15 01:37] jasonbosco commented on #125
@fabien you also want to use this Typesense Server docker image with InstantSearch adapter - has one more tiny update: `typesense/typesense:0.15.0.rc25`

[2020-09-15 15:14] fabien commented on #125
Hi, just started to test `rc25` - ran into some issue where `createMany` seems to return a different result format now:

[code]

[2020-09-15 15:41] fabien commented on #125
Apart from the issue above (running 0.6.2 of typesense-js) everything seems to be working fine! Thanks for these updates!

[2020-09-15 15:45] jasonbosco commented on #125
With Typesense v0.15, we changed the response format of the import endpoint to return JSONL for performance reasons, instead of JSON. I’ll update the JS client library today to handle this shortly for createMany, in the meantime if you split by \n you should get an array of results.

[2020-09-15 15:48] fabien commented on #125
@jasonbosco thanks - so I guess the JS client library will still return proper arrays and objects, once updated to handle JSONL?

[2020-09-15 15:52] jasonbosco commented on #125
That’s correct. We also added separate import & export methods that will return JSONL should you need the raw response, but createMany will return proper arrays and objects.

[2020-09-15 19:37] jasonbosco commented on #125
@fabien I've updated the JS client in this pre-release version: https://www.npmjs.com/package/typesense/v/0.7.0-0

[2020-09-15 19:38] fabien commented on #125
@jasonbosco thanks, that was fast!

[2020-09-17 20:26] goliatone commented on #67
Just to clarify, you actually have to retrieve the document first and if it exists then delete it otherwise you get an error. Seems far from optimal when you have to constantly (re)index thousands of documents.
Also, it would be very helpful to include this in the documentation

[2020-09-17 21:30] goliatone opened #129 "Return document id on import error"
## Description

Currently if there are errors while using `collection/documents/import` the endpoint returns a list with each individual document status:

[code]
It would be helpful to return the document `id` in addition to the error.

[2020-09-17 22:23] jasonbosco commented on #129
We've addressed this in the upcoming v0.15 release that's just around the corner.

[2020-09-18 01:35] kishorenc commented on #67
Updates will be the number one priority feature for the release after 0.15 -- 0.15 will be released in the next week.

[2020-09-18 13:08] abhalodia commented on #67
@kishorenc is there a newsletter or any announcement system you guys that we can subscribe to

[2020-09-19 05:06] kishorenc commented on #129
v0.15.0 has been released. Please see the updated docs on the import end-point here:

https://typesense.org/docs/0.15.0/api/#import-documents

The repsonse structure has changed in order to support streaming imports of large data sets.

[2020-09-19 05:06] #129 closed

[2020-09-19 05:07] kishorenc commented on #125
Fixed in the v0.15.0 release.

[2020-09-19 05:07] #125 closed

[2020-09-19 05:07] kishorenc commented on #126
Fixed in the v0.15.0 release.

[2020-09-19 05:07] #126 closed

[2020-09-19 07:10] kishorenc commented on #67
@abhalodia

If you're looking for release updates, you can subscribe to Github notifications -- you will get an email for new releases. You can also follow the updates on [Twitter](https://twitter.com/typesense). I also generally post a comment on all relevant Github issues when a particular feature is available as part of a new release.

[2020-09-19 07:12] kishorenc commented on #94
@edervishaj `v0.15.0` has just been released and it allows you to use an int64 field as the default sorting field.

[2020-09-19 11:20] kishorenc commented on #121
@rluba Typesense `v0.15.0` (just released) contains `jemalloc` integration and has much improved memory performance. The `/metrics.json` end-point also now exposes a number of memory metrics (e.g. `typesense_memory_active_bytes`) which hook into the allocator's stats so they give a more accurate picture of the actual memory usage.

If you're still interested in giving Typesense another go, please

[2020-09-19 11:20] #121 closed

[2020-09-22 14:57] fabien opened #130 "Question/feature request: finding similar documents"
It would be interesting to find similar documents to a given documents. How would one go about handling this?

[2020-09-23 03:10] kishorenc commented on #130
👋 There are certainly sub-optimal ways to do this by querying for individual tokens of a given document field (like title) and try to find similarly titled documents. However, from experience, this does not work well, so Typesense does not offer a way to do that. It is better done outside by a separate specialised system.

Having said that, I think this is a useful feature to consider, so will see

[2020-09-23 12:12] fabien commented on #130
Hi @kishorenc, thanks for your input. Can you elaborate on 'a separate specialised system'? You mean some custom piece of code that knows about the data structure and constructs a suitable query from it?

[2020-09-23 13:03] kishorenc commented on #130
Showing similar documents to a given document is essentially a recommendation problem rather than a search problem. For e.g. if you have only a single TV from brand X in your catalog and someone is looking at that, you might want to recommend a TV from another brand rather than recommending TV accessories for brand X. One might also want to consider other attributes like page views of the products

[2020-09-23 13:07] fabien commented on #130
Thanks @kishorenc, that makes sense. And yes, I would be happy to provide any feedback while this is being developed!

1. my dataset is bi-lingual, English and Dutch
2. per index of products, I am looking at around 5000 items, I not sure yet how large an index of all variants would be

[2020-09-23 16:46] fabien commented on #130
They will be in separate collections.

[2020-09-24 21:19] jasonbosco opened #131 "Announcing Typesense Cloud (public beta)"
Hey everyone,

After over 6 months of building, iterating and fine tuning, we're finally ready to onboard more users on to our hosted Search-as-a-Service offering - **Typesense Cloud**:

https://cloud.typesense.org/

A couple of highlights:

- We run the **same open source version** of Typesense Server, to power clusters on Typesense Cloud.
  - As we release new versions of Typesense Server, we'll

[2020-09-25 00:05] jasonbosco opened #132 "Paid support options"
We strive to provide good support through our issue trackers on Github.

However, if you'd like to receive private & prioritized support with:

- Guaranteed SLAs
- Phone / video calls to discuss your specific use case and get recommendations on best practices
- Private discussions over Slack
- Guidance around deployment, ops and scaling best practices

We do offer Paid Support options. Please reac

[2020-09-25 22:34] jasonbosco commented on #132
Combined into a single announcement to reduce noise. See: https://github.com/typesense/typesense/issues/131

[2020-09-25 22:34] #132 closed

[2020-10-12 16:38] sushant4849 opened #133 "Typesense is failing to recognize "space" as a typo."
Nice project. But the default behaviour is totally failing with compound words.

For example, I've indexed a document titled "basketball scores". If the search query is "basketball" or "basketball scores" or even "baketball scores", it is perfectly retrieving the document.

But if the search query is "basket ball", it is bringing up totally irrelevant documents to the top. In the minds of the user

[2020-10-13 16:35] kishorenc commented on #133
It's not possible at the moment to treat space as a typo but I can see how this can be a useful feature to have.

[2020-10-14 07:15] jainal09 opened #134 "Get corrected query that typesense finds internally"
## Description

Hi i was wondering if its possible to get correct search query as response in the event to of a typo
for example:
![image](https://user-images.githubusercontent.com/34179361/95955580-abd91000-0e1a-11eb-8de2-ca11151a0bfc.png)

like the above image i made a spell mistake and google is showing me correct query is it possible to do this in typesense.
Are there any workaround for this?

[2020-10-14 15:44] kishorenc commented on #134
Excellent suggestion and already something on the radar. The only difference is that Google corrects the search term and returns all results matching that term, while Typesense will have results beginning with exact match and moving onto less exact matches based on the search parameters used like `num_typos`, `drop_tokens_threshold` and `typo_tokens_threshold`.

So, perhaps every result should hav

[2020-10-14 19:25] jainal09 commented on #134
Any workaround to get a list of corrected queries?
And any expected approximate date for the google like query correction feature?

[2020-10-15 01:46] kishorenc commented on #134
One work around is to extract the tokens in `<mark>` tags in the highlight snippet of the response:

[code]

[2020-10-15 19:12] Grafikart commented on #106
Is it still possible to get the original parameter ?

A parameter that gives the ability to choose the how many words we want around the `<mark>`. 5 is a bit too short and setting highlight_full_fields or snippet_threshold is too restricted I think.

[2020-10-16 06:07] mubibil commented on #67
@kishorenc
Hi, any progress on this?

[2020-10-16 07:56] Geoffry304 opened #135 "sort_by not working with instantsearch widget"
Hello,

is it correct that  sorting is not working like the way algolia works?
For the sortby widget they using replicas, is there a way I can edit the url with a self made widget?

[2020-10-16 14:06] kishorenc commented on #67
@mubibil Yes, quite close to getting this out as part of next release (~ week away).

[2020-10-16 14:08] kishorenc commented on #106
@Grafikart I agree 💯 and ran into this inconvenience myself. There is already a fix for this in the working branch. Will be part of the next release, about a week away. Reopening this issue for tracking.

[2020-10-16 14:45] jasonbosco commented on #135
@Geoffry304 Here’s how you can configure the sortyBy widget using the Typesense InstantSearch adapter: https://github.com/typesense/typesense-instantsearch-adapter#sortby

Here’s an example of it in action: https://github.com/typesense/typesense-instantsearch-adapter/blob/2e435aa775e4ca9e59518470cc4cd6b169e0cd4e/test/support/testground/src/app.js#L157

[2020-10-16 18:32] Grafikart opened #136 "Highlight prefix matches instead of the full word"
## Description

I noticed that highlight acts a bit strange when you search a world partially. The highlight seems to wrap the whold word instead of doing an exact match.

![highlight](https://user-images.githubusercontent.com/395137/96295875-a8967d80-0fee-11eb-9e43-1ce7d167d33f.png)

## Steps to reproduce

Nothing specific, here is my query

[code]

## Expected Behavior

I would expect the highli

[2020-10-17 02:45] kishorenc commented on #136
👋 @Grafikart

The highlighting marks the word that is matched to the search query token. This could be a prefix match or an exact match. In both cases, the whole word is highlighted in the result. Are you suggesting that the highlighting should cover only the prefix, so something like this?

[code]

[2020-10-17 12:46] dzhang opened #137 "json document with object array"
Hi

does typesense support json document with object array, such as blog post with comments

{"title": "title", "post": "content", "comments": [{"id": "1"},{"id": "2"}]}

Thanks
Dong

[2020-10-17 16:24] kishorenc commented on #137
👋 @dzhang

Are you looking to query on the `comments.id` values? Typesense does not allow you to index and search on such nested values. However, you can store a document with nested fields and retrieve them as non-indexed fields for display.

[2020-10-17 19:32] Grafikart commented on #136
Yeah this was my suggestion but the more I think about it the more I think it could be done manually (I dunno if this feature adds extra complexity in the code)

[2020-10-17 21:19] manavo commented on #83
Just to put another use case here into context (as I've just ran into this): to highlight the matches in the field's original value (not just showing the snippet).

To do this now, you'd need to work out where the snippet is in the field's original value value, and then insert the `<mark>` tags (or whatever other highlighting needs doing).

I guess you could strip the tags, find the original text

[2020-10-17 21:31] jasonbosco commented on #83
@manavo For your particular use case, you can use the `highlight_full_fields` query parameter when searching. You'll then receive the full value of the field with highlights in addition to the snippet. Does that work?

[2020-10-17 22:52] manavo commented on #83
Yes and no, as it complicates things with escaped HTML etc in this specific use case.

Also, I noticed that the snippet at the moment ends up varying slightly sometimes from the original text, it changes double spaces to a single space, so you can’t directly match the snippet text.

As a different possible issue, what happens if the text itself contains a `<mark>` element?

[2020-10-17 22:53] manavo commented on #83
Thanks for the quick reply @jasonbosco !

Yes and no, as it complicates things with escaped HTML etc in this specific use case.

Also, I noticed that the snippet at the moment ends up varying slightly sometimes from the original text, it changes double spaces to a single space, so you can’t directly match the snippet text.

As a different possible issue, what happens if the text itself contains a

[2020-10-21 14:54] jainal09 commented on #134
oh okay but its still not a good alternative. I would wait till this new feature is added.

[2020-10-21 18:34] friendlyanon opened #138 "Modern CMake?"
Is there a plan to upgrade the lists file to modern CMake?

I'm willing to work on a PR that would modernize the lists file and allow for trivial consumption as a dependency without installing, but I'd like to know if there are things to look out for regarding flags or custom commands, as these things are not all that visible when not using modern CMake.

[2020-10-22 13:24] Geoffry304 opened #139 "api key for wildcard collections"
## Description

Hello, am I correct that it isn't possible to create a search key for collections with a wildcard?

for  example
`
$prefix = 'test';
$response = $collectionManipulator->client()->keys->create([
            'description' => 'Search-only key for '. $prefix,
            'actions' => ['documents:search'],
            'collections' => [$prefix . "_*"]
        ]);
`

I want to do this be

[2020-10-22 15:00] kishorenc commented on #138
👋 I'm not familiar with modern CMake. Can you please elaborate what you mean by:

Over time, I must admit that the build has gotten quite complex with the number of dependencies that are built from source (some of them have to be patched as well). The Docker-based Linux build is [here](https://github.com/typesense/typesense/blob/master/docker/development.Dockerfile).

[2020-10-22 15:03] kishorenc commented on #139
👋  There is no way to refer to a bunch of collections using a wildcard at the moment, but that would be a good feature to support.

[2020-10-22 17:54] friendlyanon commented on #138
`set()`ting variables at directory scope like `CMAKE_CXX_FLAGS` assumes a certain tree structure that might not fit everyone's use-case, using commands like `add_definitions`, `include_directories`, `link_directories` suffers from the same problems and they are also not target specific, but global instead. `target_link_libraries` without specific build and/or usage requirement is also a troublesom

[2020-10-23 16:26] kishorenc commented on #138
Gotcha, thanks for the explanation.

Initially I started building the dependencies via Cmake includes here:

[2020-10-23 16:33] kishorenc commented on #138
Sorry I accidentally closed this issue!

Thanks for providing the explanation.

Some of the dependencies are built via these:

https://github.com/typesense/typesense/tree/master/cmake

Then I kinda gave up on that and started relying on the Dockefile I linked to earlier. There are also some deps like zlib which are installed via package. As I said, quite a mess...

There is no particular reason fo

[2020-10-23 17:16] friendlyanon commented on #138
I see. Expect the PR soon after I decipher things.

One more question, how important is it that the CI is run on Circle CI?
If it's not something you want to stick to, then I can create a Github Workflow to run CI tasks with the new CMake lists file.

[2020-10-23 22:37] jasonbosco opened #140 "Help us build a showcase"
We're looking to build a showcase to show off the different uses of Typesense in production. If you do use Typesense, we'd love to include you in the showcase. Please add to this file and send us a PR: [SHOWCASE.md](https://github.com/typesense/typesense/blob/master/SHOWCASE.md)

[2020-10-24 12:19] kishorenc commented on #138
Thanks for all the inputs here 👍

The Circle CI configuration is pretty bare bones: it just builds and runs the test on a [Docker image](https://github.com/typesense/typesense/blob/master/.circleci/config.yml#L5) built from the Dockerfile with all the pre-installed dependencies.

The build directory is then cached and restored for future runs so that the non-Docker built [external dependencies](ht

[2020-10-24 12:32] friendlyanon commented on #138
I am assuming your plan is the free one on Circle CI, right?
If so then I can implement CI using Github Actions, if you want it.

Regarding dependencies, it's quite simple to do that:
[code]
and then at configure time you just add `-D TYPESENSE_PREFER_SYSTEM_DEPENDENCIES=NO`.

[2020-10-25 16:14] kishorenc commented on #67
Alright, updates are finally available as part of v0.16.0 just released 🎉

https://typesense.org/docs/0.16.0/api/#update-document

We've also added upsert support. You can update and upsert both at a per-document level or via imports (bulk operation).

[2020-10-25 16:14] #67 closed

[2020-10-25 16:17] kishorenc commented on #106
The ability to specify number of tokens before and after the highlight is available via the `highlight_affix_num_tokens ` parameter as part of v0.16.0 just released 🎉

From the docs:

[2020-10-25 16:17] #106 closed

[2020-10-25 16:20] kishorenc commented on #138
On a paid CircleCI plan, but I'm fine with switching to Github Actions if it serves the purpose.

[2020-10-28 14:39] kishorenc commented on #130
I have done some prototyping on this front that looks promising, and with the 0.16 release done, I plan to focus on this next.

[2020-10-28 15:37] asdofindia commented on #116
Would you be alright with someone modifying the Typesense server and running a hosted service over that without releasing the modified source code?

Because that's what not using AGPL means here.

[2020-10-28 15:49] jasonbosco commented on #116
IANAL, but of course we would not be thrilled about it especially since we have a hosted version ourselves [Typesense Cloud](https://cloud.Typesense.org), but yes the license does not necessarily make that impossible to do.

[2020-10-28 15:53] asdofindia commented on #116
Okay. Thanks for that clarification. I just didn't want typesense cloud maintainers to realize too late what mongo, elastic, etc learned about how Amazon wrecks their business model.

[2020-10-28 18:36] stephanoparaskeva commented on #116
Mongo has been on AGPL for a long time. It didn't protect their model it only made things worse for the open source community. If amazon want to do this, nothing is stopping them. Amazon replicating this is a lesser worry than the community not wanting to use a software for fear of its license. AGPL is not something I'd want to suggest for a technology to use at all.

[2020-10-28 19:53] agentile opened #145 "Expiry for Scoped Search Keys"
## Description

It would be nice to be able to set expiry of scoped search keys, like Algolia does with `validUntil` https://www.algolia.com/doc/api-reference/api-methods/generate-secured-api-key/

You would be able to encode an expiry unix timestamp as part of the scoped search key, then the server, if it is present if past the timestamp, the request fails.

The use case here is mainly around sec

[2020-10-30 08:37] mountain commented on #20
We found similar issue in v0.16.0 and want to customize settings to make the search behavior more like a AND query mode

Could you elaborate more on this Index::SEARCH_LIMIT_NUM in document? I could not found any clue on this except this issue.

[2020-10-30 12:35] kishorenc commented on #20
👋 @mountain

For a given query "foo bar", Typesense first finds all documents that contains both the tokens (i.e. AND mode). When Typesense does not find "enough" documents that contain all the tokens in the query, it expands the search in two ways:

1. Look for tokens that are `num_typos` distance within the tokens.
2. Try dropping tokens from the query to see if it can surface documents containi

[2020-10-31 03:19] mountain commented on #20
@kishorenc Thanks for your detailed explanation, and I will have a try.

[2020-11-02 00:36] mubibil opened #146 "Crash during facet population"
Hi,
After upgrade from 0.15 to 0.16 Typesense keeps crashing. Log file is too complicated for me :) Screenshot:
<img width="1210" alt="Ekran Resmi 2020-11-02 03 21 02" src="https://user-images.githubusercontent.com/72962877/97819836-1c59ab00-1cbc-11eb-870d-6be7bad60a4a.png">

## Metadata

**Typsense Version**: 0.16

**OS**:Centos 7

[2020-11-02 01:52] kishorenc commented on #146
@mubibil From the log, the issue is happening during the facet population step of searching. Can you post the schema used for this collection (feel free to use pseudo names for the fields if that matters), and the actual search query with the faceting that is sent (if you are able to isolate the search query causing the crash)?

[2020-11-02 09:17] mubibil commented on #146
@kishorenc

1. Yes, I am using update feature.
2. I have 12 facet fields, so it is hard to guess which causing the crash.
Schema:
`["name"=>"tag","type"=>"string[]","facet"=>true],
["name"=>"cat","type"=>"string[]","facet"=>true],
["name"=>"sub","type"=>"string[]","facet"=>true],
["name"=>"size","type"=>"string[]","facet"=>true],
["name"=>"color","type"=>"string[]","facet"=>true],
["name"=>"type",

[2020-11-02 13:07] kishorenc commented on #146
@mubibil

Thanks for the details. I have added some defensive checks + logging around the area where this crash occurs.

Here's the new binary with those checks: [Download](https://dl.typesense.org/releases/0.17.0.rc2/typesense-server-0.17.0.rc2-linux-amd64.tar.gz). Docker image is also available as `typesense/typesense:0.17.0.rc2`.

Can you please run the searches against those binaries and watch

[2020-11-02 19:49] mubibil commented on #146
@kishorenc
I think you are looking for these lines;
`E20201102 19:41:34.773066 17866 collection.cpp:1301] Facet field array size 8 lesser than array pos 19 for facet field tag
E20201102 19:41:34.773133 17866 collection.cpp:1303] Facet field type: string[]
E20201102 19:41:34.773180 17866 collection.cpp:1304] Actual document: {"brand":"Ola","cat":["gunluk-elbise"],"clicknum":3,"color":["Kırmızı"],"d

[2020-11-02 20:00] Kerollmops opened #148 "Song Showcase seems to crash on specific request"
## Description

Hey, I am testing the song showcase you have recently linked into the Showcase markdown.

## Steps to reproduce

It seems that when I am searching for "a milli" and tick the artist "Lil Wayne" the server becomes down for a moment.
[Here seems to be the specific URL that kills it](https://songs-search.typesense.org/?s%5Bquery%5D=milli&s%5BrefinementList%5D%5Bprimary_artist_name%5D%5

[2020-11-02 20:10] jasonbosco commented on #148
@Kerollmops Looks like the demo is suddenly getting a fair amount of traffic. So I'm in the process of upscaling the infrastructure to handle the traffic. That could explain the 503. Once it's back I'll check that particular query to see if it indeed causes issues.

[2020-11-02 20:23] Kerollmops commented on #148
Ok so the real thing to reproduce the bug is to write "a milli" in the search bar, tick "lil wayne" by searching it in the artist, there, I don't understand why, but the website automatically removes the "a " in front of my request, if I put it back I get 503s.

[2020-11-02 20:32] jasonbosco commented on #148
Confirming that that particular facet query is indeed the one that's causing the issue. I found the stack trace in the logs. Looking into it further. Thank you for reporting this @Kerollmops!

[2020-11-03 01:54] kishorenc commented on #146
@mubibil

Yes that's what I was looking for, thanks a lot. This patch logs the issue and moves on, instead of crashing. I'm now able to narrow down into the exact issue but I need some more information before I can reproduce it as a test case and fix it.

1. I assume that this happens even on a fresh start against the dataset, correct (since you would have restarted the server with the new build)?

[2020-11-03 03:13] kishorenc commented on #146
@mubibil Good news: I have managed to reproduce the issue locally. Will update you when I have the fix ready. Thanks for helping out!

[2020-11-03 05:41] mubibil commented on #146
@kishorenc
Ready to help if needed.

[2020-11-04 18:29] axionos opened #149 "'filter_by' value not accepting colons(:)"
## Description

I want to filter my data by something like "http://type", but the filter doesn't accept a colon.
Is there a way a colon(:) can be included in values that are faceted and searched?

## Steps to reproduce

Send below searchParameters to search and filter the data. The first one doesn't work but the second one does.

`let searchParameters = {
      q: '*',
      query_by: 'name',

[2020-11-05 12:32] kishorenc commented on #146
@mubibil Can you please check again against this build: [Download](https://dl.typesense.org/releases/0.17.0.rc3/typesense-server-0.17.0.rc3-linux-amd64.tar.gz).

Also published as `typesense/typesense:0.17.0.rc3`.

[2020-11-05 13:15] mubibil commented on #146
@kishorenc Everything seems ok. Thank you!

[2020-11-05 15:18] kishorenc commented on #146
👍 Great. Thank you for reporting this issue and helping to verify the fix. I will close this issue. Will be doing a point release with this fix.

[2020-11-05 15:18] #146 closed

[2020-11-06 03:44] agentile commented on #124
To further clarify here, we would like to be able to delete by a particular facet specifically e.g. `filter_by=contact_id:123`

[2020-11-06 14:24] manavo commented on #83
Just another little update for this (reason why the indexes would be useful).

With #95/#122 at the moment, some extra tokenization is required to pre-process the data. The specific use case for me was email addresses and needing them to be partially searchable.

But that means the data that Typesense returns for me doesn't exactly match as I'd expect it, since it differs from the actual original

[2020-11-06 15:37] netlemur opened #150 "Benchmark suggestion: openstreetmap Planet.osm"
I'd be curious to see how a large dataset like the openstreetmap database would perform.
According to [the openstreetmap wiki](https://wiki.openstreetmap.org/wiki/Setting_up_a_local_copy_of_the_OpenStreetMap_database,_kept_up_to_date_with_minutely_diffs) it would be 300GB in size.

[2020-11-07 10:14] kishorenc commented on #149
@axionos 👋

Thanks for reporting this issue. I've just fixed this, and I can create a RC build for you to test.

1. Are you using the Mac binary or Docker on Mac?
2. Would like to confirm again that you are really using version `0.8.0` as mentioned above, since that's a really old version of Typesense.

[2020-11-07 10:16] kishorenc commented on #83
Thanks for the follow up on this issue. We've certainly faced some of these issues ourselves when building out some demos, so looking into this in more detail now.

[2020-11-07 13:35] kishorenc commented on #83
@manavo I had a question about this:

Apart from collapsing multiple spaces to a single space, there should not be any other changes in the snippet. Have you noticed anything else?

[2020-11-07 21:20] manavo commented on #83
Haven’t noticed anything else since that 👍

[2020-11-09 20:41] agentile opened #151 "New lines causing for lack of matching"
## Description

I index a note (string) that has a new line in it

[code]

Then search for `vikram` , will not hit. `note` will. Is this expected? Should I be using particular query parameters here?
With corresponding field with Algolia, this document will be found

## Steps to reproduce

Index content with newlines, see above.

## Expected Behavior

Match content not affected by new lines.

## Ac

[2020-11-09 21:00] axionos commented on #149
Hi @kishorenc

1. I'm using linux binary and mac binary and linux binary on server is `typesense-server-0.16.0-1.x86_64.rpm` which is the latest version.

2. Yes, it is version 0.8.0. That's the version that was automatically installed when I ran `npm install typesense`. I noticed the latest version is 0.16.1. Do you recommend to upgrade?

Please let me know how to test the RC build. Thank you!

[2020-11-09 21:04] hadfield commented on #149
@axionos the 0.8.0 is the npm package version, which is the right one for the current server version.

according to docs on NPM:

Typesense Server | typesense-js
-- | --

[2020-11-09 21:20] axionos commented on #149
@kishorenc I downloaded the newest 0.16.1 version from https://typesense.org/downloads/ to update the server and tested filtering with a type including colon(:).
However, it is still giving me the same error message (Error: Request failed with HTTP code 400 | Server said: Could not parse the filter query).

[2020-11-10 02:04] kishorenc commented on #149
@axionos I've published the `0.17.0.rc4` RC rpm build with this fix here: [Download](https://dl.typesense.org/releases/0.17.0.rc4/typesense-server-0.17.0.rc4-1.x86_64.rpm).

Docker image is also available: `docker pull typesense/typesense:0.17.0.rc4`

Please try it out and let me know if you are still getting that error.

[2020-11-10 02:38] kishorenc commented on #151
👋 Yes, this is an issue because the tokenizer splits text only on a space and not a newline character. Will address this.

[2020-11-10 16:02] axionos commented on #149
@kishorenc After installing the updated typesense server, the issue with colons have been fixed. Thank you!

[2020-11-10 22:19] chocolatkey opened #152 "Shows multiple highlight snippets for a string field"
**Typsense Version**: v0.16.0

Hello, and thank you for this great search engine. I am attempting to use typesense to implement a search of book chapters, which have a field like `{'name': 'data', 'type': 'string'}`. I am wondering if it would be possible to have snippets returned for all matching `<mark>`ed portions of the text. A result looks like this (for example with query `the`, and `highlig

[2020-11-11 16:15] kishorenc commented on #152
Thanks for the suggestion. At the moment, string array fields return top 3 matches and corresponding snippets so if you can structure your content as an array of strings, then you have that flexibility.

[2020-11-12 15:59] kishorenc commented on #149
Glad to hear, and thanks for confirming!

[2020-11-12 15:59] #149 closed

[2020-11-12 16:05] #137 closed

[2020-11-14 02:33] jasonbosco commented on #148
Turns out this was a JSON serialization issue with some specific characters in the MusicBrainz dataset. The fix is now available in an RC build. Will publish it in the coming week.

[2020-11-14 02:33] #148 closed

[2020-11-15 17:05] v-byte-cpu opened #153 "[docs] How to backup cluster data ?"
## Description

I want to know how to backup all cluster data. At the present time I found only **Export documents from a collection** API. Moreover, I did not find any configuration options for export documents. I assume that this operation should have at least batch size like [Elasticsearch Scroll API](https://www.elastic.co/guide/en/elasticsearch//reference/current/paginate-search-results.html#

[2020-11-16 02:36] kishorenc commented on #153
👋 @v-byte-cpu

The export end-point exports all the documents in a collection in one go. Do you have a specific reason for wanting a scroll parameter here? These documents can be imported back via the `/import` end-point later on.

While we also run periodic snapshots of the raft cluster state+data, we don't have a way to trigger an on-demand snapshot via API yet. For now, you can back-up the `sta

[2020-11-16 16:46] v-byte-cpu commented on #153
With large datasets it seems quite reasonable to export them in chunks.

[2020-11-16 17:24] simonsinclair commented on #133
@kishorenc is there anything that can be done to work around this?

I have a foods database and would like user queries for "chickpea" to return documents matching "chick pea". I think other search engines call this behaviour Phrase Queries.

[2020-11-16 17:37] axionos opened #154 "Parameter `pinned_hits` is malformed"
## Description

I'm unable to use data id that looks like 'http://data.id' for the pinned_hits and am getting below error.

UnhandledPromiseRejectionWarning: Error: Request failed with HTTP code 400 | Server said: Parameter `pinned_hits` is malformed.

## Steps to reproduce

Use pinned_hits field with id starting with 'http://' like below:

pinned_hits: 'http://data.123.id:1, http://data.456.id:2'

[2020-11-16 19:06] LaundroMat opened #155 "Excluding results that contain a certain keyword"
Is there a way to filter out search results when they contain a specific word (in any field)?

I would not expect typesense to impose a specific query format for excluding a word, but does the API provide a way to exclude results containing a specific word?

[2020-11-16 22:16] axionos opened #156 "pinned_hits not working on the first page and pinned items don't get removed from the search list"
## Description

I'm trying to do two queries:
[code]
It works if the length of pinned_hits is less or equal to the per_page number of the second query, but the pinned data still remains in its original position which makes it look like the search result has duplicate data.

It doesn't work when the length of pinned_hits is bigger than the per_page number. On the first page, nothing gets pinned, bu

[2020-11-17 05:00] jasonbosco commented on #123
@Enijar Are you using the [InstantSearch.js-Typesense adapter](https://github.com/typesense/typesense-instantsearch-adapter) by any chance?

If so, you can actually use InstantSearch.js to do multi-collection searches. Algolia calls this "Federated Search", where each key stroke is sent to multiple indices in parallel and then the results are displayed side-by-side in the UI. So the federated sear

[2020-11-17 12:39] kishorenc commented on #156
👋 Thanks for reporting this issue. I am looking into this and as well as https://github.com/typesense/typesense/issues/154. Will update soon.

[2020-11-17 12:43] kishorenc commented on #155
@LaundroMat There isn't a way to do this at the moment but this is on my radar. Are you looking to do with only with the query (`q=`) fields or for filtering as well?

[2020-11-17 12:48] kishorenc commented on #153
Got it. I think for larger datasets, a full snapshot is probably better. I will prioritise an end-point that can be called to trigger a snapshot (snapshots already happen every hour). Would it be okay if there was a snapshot directory available that you can then safely copy to S3 or some other blob storage?

[2020-11-17 13:26] kishorenc commented on #133
@simonsinclair I've prioritized this feature, so this will be addressed really soon.

[2020-11-17 13:27] LaundroMat commented on #155
I'd prefer excluding by filtering, as then I'd easily be able to give the user more than one way of excluding results.

[2020-11-17 14:57] v-byte-cpu commented on #153
Yes, sure.

[2020-11-17 15:00] kishorenc commented on #151
@agentile This has been fixed in `v0.17.0` just released.

[2020-11-17 15:00] #151 closed

[2020-11-17 15:01] kishorenc commented on #124
@agentile This feature has been added in `v0.17.0` just released.

There is a new `DELETE /collections/:collection/documents?filter_by=X` end-point, which is documented here:

https://typesense.org/docs/0.17.0/api.html#delete-document

[2020-11-17 15:01] #124 closed

[2020-11-17 15:04] simonsinclair commented on #133
That's super news, @kishorenc. Thank you!

[2020-11-17 15:20] kishorenc commented on #83
`v0.17.0` is just out and as part of that, the highlight response structure now returns a `matched_tokens` key. See the updated sample response here: https://typesense.org/docs/0.17.0/api.html#search-collection

To find the actual offset, you can do a find on the actual text. I went with returning the actual matched tokens and ensuring that the snippet text is verbatim (earlier spaces were getting

[2020-11-17 15:20] #83 closed

[2020-11-17 15:22] manavo commented on #83
Sounds like an excellent solution! Will test it out ASAP 👍

[2020-11-17 15:40] kishorenc commented on #155
One way to achieve this is by introducing `-` as an exclusion operator. So, something like `color: -blue` would match records which are not blue. Then you can include some colors and exclude others via `colors: [-blue, red, orange]`. For a phrase, might have to prefix `-` before each token, so `color: -dark -green`. That's my initial take, but have to see how it evolves during implementation.

[2020-11-17 15:45] v-byte-cpu commented on #155
what if some token contains `-` symbol ?

[2020-11-17 16:00] kishorenc commented on #155
Good point, a real word like `-something` might get excluded. It will be a problem only for words that start with hyphen, which is rare, but still should be supported by allowing a backslash escaping like `\-something`.

[2020-11-17 20:59] jasonbosco commented on #124
CC: @fabien ^

[2020-11-17 21:33] jasonbosco commented on #134
@jainal09 This feature is now available in v0.17.0. The response now includes the typo-corrected term:

[code]

`hits[].highlights[].matched_tokens[]` contains the auto-corrected term. Notice how in this example, the original query was `Strk` (missing the `a`) but `matched_tokens` contains `Stark`.

[2020-11-18 02:03] agentile commented on #124
Do you guys know if filter_by=contact_id:[1,3,5] works for int32 fields or
does multiple facet match only work for string fields?

On Tue, Nov 17, 2020 at 3:59 PM Jason Bosco <notifications@github.com>
wrote:

--
Anthony Gentile
Engineering Team Manager | Follow Up Boss
www.followupboss.com
<http://www.followupboss.com>

[2020-11-18 02:23] kishorenc commented on #124
Yes, it works for integer fields as well (just verified). Are you facing any issues? Be careful about URL encoding since `[` has to be encoded. Here's an example CURL from my test:

[code]

I have encoded `points:[30,10,2]` in the URL.

[2020-11-18 02:24] agentile commented on #124
Awesome, thanks for the encoding tip :)

[2020-11-18 05:16] jasonbosco commented on #134
Spoke too soon, the order of tokens is not preserved in matched tokens. So while you’ll get the typo-corrected term, multiple matched tokens could be in different order than how they appear in the doc

[2020-11-18 06:56] jainal09 commented on #134
Oh, really appreciate guys for working on this feature!

[2020-11-18 11:24] LaundroMat commented on #155
I've given it some more thought, and both ways (through filtering and through the query) would in fact have a lot of value. The query part would release the developer from the burden of translating the query to a filter themselves. But finegrained search (as in the example you're giving with the colours) is very valuable as well.

You decide which you go with first :-)

[2020-11-18 13:37] kishorenc commented on #156
@axionos I was not able to reproduce the first issue, **but** I identified an issue that caused the second issue and fixed that. Can you try on this Docker image: `typesense/typesense:0.18.0.rc1` ?

If issue no. 1 is still happening, I need the exact query being sent so that I can dig further.

This build should also fix the issue you are facing with https://github.com/typesense/typesense/issues/1

[2020-11-18 14:57] hadfield commented on #156
we don't use docker.  can you provide a download?

[2020-11-18 14:58] hadfield commented on #156
the pinned hits problem appears to occur when the number of pinned hits is greater than the page size for the first page.

[2020-11-18 15:12] kishorenc commented on #156
Yes I think I have fixed that edge case in this build.

Downloads:

- https://dl.typesense.org/releases/0.18.0.rc1/typesense-server-0.18.0.rc1-1.x86_64.rpm
- https://dl.typesense.org/releases/0.18.0.rc1/typesense-server-0.18.0.rc1-amd64.deb
- https://dl.typesense.org/releases/0.18.0.rc1/typesense-server-0.18.0.rc1-linux-amd64.tar.gz

[2020-11-18 16:46] axionos commented on #156
@kishorenc
Thanks for providing me the update. I see that it fixed the issue with the first page not displaying pinned_hits. However, the duplicate data still appears in its original position.

[2020-11-18 16:51] kishorenc commented on #156
1. Can you please give me the actual query you are making when the duplicates appear?
2. How many pinned IDs are you passing?
3. What is the number of results when the pinned IDs are not used?
4. Are you able to reproduce the issue on a small set of 5-10 records? If so, please share that so I can use that example to troubleshoot.

[2020-11-18 16:58] hadfield commented on #156
A quick comment -- this is a case of 18 pinned hits with page size of 8, so on page 3 of the results it's the last of the pinned hits plus the first of the non-pinned hits.  the page 3 non-pinned hits include documents that were pinned hits on page 1 and 2.

[2020-11-18 17:03] axionos commented on #156
1.
`const pinned_list = '311:1, 284:2, 103:3, 52:4, 309:5, 287:6, 280:7, 277:8, 263:9, 216:10, 215:11, 194:12, 193:13, 174:14, 138:15, 122:16, 89:17, 12:18';`

`let searchParameters = {
          q: query.length > 0 ? query : '*',
          query_by: 'name, hasDirectoryContentHTML, hasDirectoryKeywords',
          page: pageNum,
          per_page: 8,
          sort_by: query.length > 0 ? '' : 'al

[2020-11-18 17:06] kishorenc commented on #156
Thank you, I will troubleshoot.

[2020-11-18 19:26] axionos commented on #154
This issue has been fixed with `typesense/typesense:0.18.0.rc1` .
Thank you.

[2020-11-19 01:10] #154 closed

[2020-11-19 12:51] kishorenc commented on #156
@axionos

I think I've addressed this. Can you please try against `0.18.0.rc2`:

Downloads:

https://dl.typesense.org/releases/0.18.0.rc2/typesense-server-0.18.0.rc2-1.x86_64.rpm
https://dl.typesense.org/releases/0.18.0.rc2/typesense-server-0.18.0.rc2-linux-amd64.tar.gz

[2020-11-19 16:16] kishorenc commented on #133
Looking into this in more detail. Let's say there is a query containing 3 tokens: "alpha beta gamma".

Currently, if there are no documents that contain all 3 tokens exactly, Typesense does a query "rewrite" in the following order:

1. Look for tokens with typos that match closely to the tokens in the query and try to fetch documents matching those "corrected" tokens. Tokens with upto 2 typos are

[2020-11-19 16:21] axionos commented on #156
Hi @kishorenc
I tried the 0.18.0.rc2 version and tested it, but the issue still persists.
The pinned items are still staying at the original position instead of being removed.

[2020-11-19 16:29] kishorenc commented on #156
Sorry to hear that the issue still persists. Is it possible for you to reproduce the issue on a small sample dataset that you can share with me along with the query either via client code or a CURL request?

It should be simple to fix it once I can reproduce the issue with a small dataset.

[2020-11-19 16:32] hadfield commented on #156
@kishorenc what email can i send a sample dataset to?

[2020-11-19 16:34] kishorenc commented on #156
kishore at typesense org

[2020-11-19 16:34] fabien opened #157 "ERROR: manifest for typesense/typesense:0.17.0 not found"
## Description

ERROR: manifest for typesense/typesense:0.17.0 not found: manifest unknown: manifest unknown

## Expected Behavior

typesense/typesense:0.17.0 is not on https://hub.docker.com/r/typesense/typesense/tags - only the RC versions are.

[2020-11-19 16:41] hadfield commented on #156
ok, sent you some data and the schema

[2020-11-19 16:50] hadfield commented on #156
the problem seems to occur when the number of pinned hits is a few multiples of the page size, so that pinned hits that appear in search results on page 1 reappear as non-pinned results after the pinned hits, such as on page 3.

[2020-11-19 16:53] hadfield commented on #156
i replied to your email, but just to track it here, the query would be a phrase like "risk" and not a wild card case.

[2020-11-19 17:21] kishorenc commented on #157
My bad, this is fixed now.

[2020-11-19 17:21] #157 closed

[2020-11-20 13:32] kishorenc commented on #156
@axionos Can you please try on:

- https://dl.typesense.org/releases/0.18.0.rc3/typesense-server-0.18.0.rc3-1.x86_64.rpm
- https://dl.typesense.org/releases/0.18.0.rc3/typesense-server-0.18.0.rc3-linux-amd64.tar.gz

[2020-11-20 15:48] axionos commented on #156
Hi @kishorenc
The new update (0.18.0.rc3) seems to resolve the issue! Thank you!

[2020-11-20 16:28] kishorenc commented on #156
🎉 Thanks for the help here.

[2020-11-20 16:28] #156 closed

[2020-11-21 12:14] simonsinclair commented on #133
Thank you for explaining, @kishorenc. So, if I understand correctly, the proposed order of operations is:

1. Rewrite the search query with variations containing compound words to correct typos.
    - I support the more deterministic approach of optimising with solution 1.

Then, if no hits:

2. Look for tokens that closely match tokens in the search query to correct typos. Then, if no hits:
3. Be

[2020-11-25 07:52] LaundroMat opened #158 "Possibility to filter with OR instead of AND?"
## Description

I have an index where a particular date field (`end_date`, an int64 timestamp) can be empty.

## Expected Behavior
I would like to be able to filter a search by ORing different conditions. In my case, return all results where  `end_date` is later than today OR `end_date` is None.

[2020-11-25 13:40] kishorenc commented on #158
@LaundroMat 👋

This is not possible at the moment, but should be able to add support for a syntax like:

`ts: [>1606311403, 0]`

This will translate to: "Filter by timestamps that are greater than 1606311403 OR equal to 0".

[2020-11-26 07:39] nathan-cuvellier opened #159 "Problem encoding character"
Hello,
I have a problem with encoding character, as you can see in the photo below.
Is it possible to specify something like UTF8?

![problem](https://user-images.githubusercontent.com/25644340/100321021-5b7cd280-2fc2-11eb-9b79-c21e781388f6.png)

version typesense: 0.17

Thanks !

[2020-11-26 12:02] kishorenc commented on #159
👋 Can you please show me how the title field looks when you load the source file in a text editor? It seems to be like there are three invalid or non-unicode characters next to "à".

[2020-11-26 13:34] kishorenc commented on #158
I've a build for you try this against :)

https://dl.typesense.org/releases/0.18.0.rc4/typesense-server-0.18.0.rc4-linux-amd64.tar.gz

You can also check against this Docker image: `typesense/typesense:0.18.0.rc4`

[2020-11-27 15:25] anothergituser opened #160 "Always match full words"
Hello,
How can i make it to always search full words? If the query is "car" i don't want to match "scars". I tried typo_tokens_threshold=0 and drop_tokens_threshold=0 to no effect.
Thanks.

[2020-11-27 15:26] kishorenc commented on #160
👋 You also need to set `num_typos=0` so that spelling correction does not happen.

[2020-11-27 15:27] anothergituser commented on #160
Can confirm it works, thanks!

[2020-11-27 15:31] #160 closed

[2020-11-27 15:37] kishorenc commented on #160
On second thoughts, it might be a good idea to ensure that setting `typo_tokens_threshold=0` is sufficient to ensure this. Can you please tell me an example query and value against which this behavior is triggered? I could not reproduce it in a quick example I tried locally with.

[2020-11-27 22:51] nathan-cuvellier commented on #159
_For information, the screenshot is from Postman._

I get the title "Mise à jour Timy depuis PC" from database in UTF8 and it **becomes** "Mise \u00e0 jour Timy depuis PC" in typesense

The problem is the same with all accents: like **ê** which becomes **^e** in my browser.
The data in the document object is correct as you can see, the problem is only with the highlights object
I got around the pr

[2020-11-28 02:55] kishorenc commented on #159
@nathan-cuvellier Thanks for the additional details. I've fixed this issue: https://github.com/typesense/typesense/commit/7ece846ccf0ce4915e0fd7cd1958d1f5a94369ad

Can you please tell me whether you run Typesense from Docker, Mac or Linux binary? I can cut a pre-release build with this fix for you.

[2020-11-28 11:44] nathan-cuvellier commented on #159
Thanks a lot for this quick fix, I'm running typesense from Linux binary.
I can test the pre-release build with pleasure !
I return to work in 4 days, I will be able to test that the 2020-12-2

[2020-11-28 23:57] jfinity opened #161 "Transaction Causal Consistency with Source Datastore"
I've been looking for an open-source causally consistent full-text search solution with a managed service offering that I can stream changes into from CockroachDB based on a record's "updated" time*.  Typesense looks like a very close fit, but I have several questions:

1. When `import()`ing multiple documents, is it possible that index readers might see partial completion of that operation (i.e.

[2020-11-29 19:33] LaundroMat commented on #158
Thanks for the very quick reaction! I don't have a lot of time to set things up right now, so I'll report back to you later. I just wanted to say thanks already :)

[2020-11-30 00:05] eric-sciberras opened #162 "Memory Consumption with large datasets"
## Description
Hi, we are indexing entries into Typesense and wanted to get an idea if the memory consumption was reasonable for the size and schema.

Currently we have approximately 2.5 Million records indexed and are consuming approximately 1.8 GB of memory.

The schema for the our collection is defined below:

[code]
where `num` is a field we needed to add since our data does not contain any fi

[2020-11-30 02:08] kishorenc commented on #162
@eric-sciberras 👋

Can you please post the output of the `/metrics.json` end-point? That will provide a break-up of the memory consumption. In general, though, the ballpark memory usage is 2x-3x the DB storage on disk.

The growth will typically flatten over time since much of the overhead in indexing text comes from the finite number of words in the dataset which will not grow after a certain poi

[2020-11-30 02:20] eric-sciberras commented on #162
Hi @kishorenc :smile:,

Thanks for the insight into how the memory usage scales.

Here is the output of `/metrics.json`
[code]
Note: We are currently building up the collection so these values correspond to 2.65 million entries.

[2020-11-30 03:10] kishorenc commented on #162
The metrics look fine to me: very little fragmentation. The usage is along expected lines given the number of string fields being indexed, though I do have some items on my todo list to decrease the consumption further. So hopefully the memory footprint will grow smaller in future releases and will require nothing but a restart with a new binary. I recommend running in a 3-node configuration for r

[2020-12-01 02:38] kishorenc commented on #161
👋 Great set of questions here.

The import end-point is not atomic and multiplexes the indexing along with searches. Care has been taken to ensure that searches are not affected because of indexing since search latency is the largest consideration for the majority of usecases that Typesense lends itself to as of today.  However, atomicity should not be too difficult to implement, provided the batc

[2020-12-01 08:33] piolet opened #163 "Crash typesense server with too many collections ?"
## Description

I'll try to explain my problem. Sorry for my english ;)
I'm trying to load about 800 collections with between 1 and 20,000 documents to do a load test.
But during indexing, when I reach the halfway point, the typesense server systematically crashes :
[code]
I try to restart the process after the crash. It restarts to try to index a new collection but crashes a short time later.
to

[2020-12-01 11:55] nathan-cuvellier commented on #159
Where can I download the pre-release build?

[2020-12-01 12:12] kishorenc commented on #159
Here you go: [Download](https://dl.typesense.org/releases/0.18.0.rc5/typesense-server-0.18.0.rc5-linux-amd64.tar.gz)

[2020-12-01 12:13] kishorenc commented on #163
@piolet When the crash happens, Typesense log will also contain a stack trace: can you also please post that?

[2020-12-01 12:16] kishorenc commented on #155
Implemented excluding query tokens via the "-" prefix, e.g. query "django -python" will match all document that contain the word "django" but not "python".

RC build: [Download](https://dl.typesense.org/releases/0.18.0.rc5/typesense-server-0.18.0.rc5-linux-amd64.tar.gz)

[2020-12-01 12:16] kishorenc commented on #153
@v-byte-cpu I just noticed your updated comment.

Can you please elaborate on this?

[2020-12-01 12:23] piolet commented on #163
This last log associated at last crash, is it these logs that you want ? :
[code]

[2020-12-01 12:28] kishorenc commented on #163
Hmm, that seems to be RocksDB logs. Typesense uses RocksDB but it does not actually enable verbose logs on it. Typesense crash log will end like this:

https://user-images.githubusercontent.com/72962877/97819836-1c59ab00-1cbc-11eb-870d-6be7bad60a4a.png

Notice the "Typesense crashed" phrase and the stack trace after that.

[2020-12-01 12:30] piolet commented on #163
where can i find this kind of log ? which directory ?

[2020-12-01 12:52] LaundroMat commented on #155
Damn guys, you are fast 👍 I'll only be able to check on your changes in a few weeks, but already looking forward to it :)

[2020-12-01 13:10] kishorenc commented on #163
Run:

[code]

The crash stack trace will be right at the end. If this does not happen, start Typesense server with a logging directory via the `--log-dir` option. After crash, you can find the log file in that directory.

[2020-12-01 13:11] kishorenc commented on #155
No worries. 👍

[2020-12-01 14:44] piolet commented on #163
No "crash" mention in log :/ see attachment

[typesense-log.txt](https://github.com/typesense/typesense/files/5623281/typesense-log.txt)

[2020-12-01 14:58] kishorenc commented on #163
The server is not crashing but the leader node steps down because it is not able to write to the file system:

[code]

Since the node steps down, further writes are rejected.

1. Can you please check to see if there is enough disk space and the docker container is not getting throttled somehow?
2. Can you try running the Typesense server without Docker to see if the same problem occurs?

[2020-12-01 15:04] piolet commented on #163
good news.
With a little more memory allocated, like double the amount (4GB instead of 2GB), it works without any worries.

But I don't understand why it crashes with 2Gb, when my process couldn't use more than 1.1Gb before crashing.

[2020-12-01 15:38] kishorenc commented on #163
That's odd. I'm not sure why that would happen. You can also try hitting the /metrics.json endpoint to compare the active memory bytes value with what Docker shows to see if they match.

[2020-12-01 15:41] piolet commented on #163
like this ?

[code]

[2020-12-01 16:03] kishorenc commented on #163
Yes, so typesense_memory_active_bytes is about 2.6 GB, and that number comes directly from the internal memory allocator and so is the most reliable.

[2020-12-01 16:07] piolet commented on #163
So i must just increase the memory allocated. Simple fix :)

thx for your help

[2020-12-01 16:09] kishorenc commented on #163
Correct, you are welcome 👍

[2020-12-01 16:09] #163 closed

[2020-12-01 16:23] piolet opened #164 "Search with start_with only"
## Description

Do you provide an option to force queries to return only results whose **query_by** start with the **q** parameter ?
To avoid client-side filtering.

Currently, i add a field (with first character of an other field) in my schema, with a facet, but it only partially does the job.

thx

[2020-12-01 16:32] piolet commented on #117
i trying this options, add specific new field in my collection's schema, for example :
[code]

and for this new field, i take the first 9 characters of "_name_" and i convert into int like this :
[code]

when the name's length is lower than 9, i pad to the right with space (so "`a`" becomes "`a( + 8 spaces)`" and int value is "`100000000000000000`" and it can be compared to any other character str

[2020-12-01 16:46] sonic182 commented on #96
Hi @kishorenc, where I could see the format where data is saved, in datafiles, something like this I mean https://lucene.apache.org/core/5_1_0/core/org/apache/lucene/codecs/lucene50/Lucene50StoredFieldsFormat.html

I think it is the way data is stored, what makes difficult to allow collection migrations? would be nice to have the capability to add new fields without it implying a file data migrati

[2020-12-02 00:58] andrewjwu commented on #159
@kishorenc I'm also experiencing this issue with the macOS binary. Is there an ETA for this fix or would it be possible to get a pre-release build? Thanks!

[2020-12-02 02:25] kishorenc commented on #159
The macOS pre-release binary is here: [Download](https://dl.typesense.org/releases/0.18.0.rc5/typesense-server-0.18.0.rc5-darwin-amd64.tar.gz)

[2020-12-02 02:31] kishorenc commented on #164
Will `q` contain multiple words? There is the `?prefix=true` option which returns results that match the prefix but it only matches the prefix for the last word if there are multiple words in the query. So, when you search for `?q=red+sh` it will match `red shoes`.

[2020-12-02 03:43] kishorenc commented on #96
The data is stored in rocksdb and you can see it in the `db` directory inside the data directory that you specify while starting the server. On start up, the data is indexed into memory based on the schema.

[2020-12-02 03:45] kishorenc commented on #96
The data is stored in rocksdb and you can see it in the db directory inside the data directory that you specify while starting the server. On start up, the data is indexed into memory based on the schema.

It's certainly possible to support adding new indices by allowing a modification of the schema + a restart (on the fly addition of schema would be harder since that would involve background inde

[2020-12-02 09:53] piolet commented on #164
This may be enough. Mixed with the `num-typos` parameter at 0 and a filtering of the result on my side.
i'll try this soon ;)

Thanx

[2020-12-03 05:48] jfinity commented on #161
Thanks for the info!

To fill in some of the blanks regarding CockroachDB: I have not implemented it yet, but it seems that CDB's changefeed CDC features can materialize change records in a globally consistent ordering with a sliding window with sufficient buffering based on timestamps.  There are mechanisms to stream changes to Kafka ...but I am hoping to exclude Kafka appliances from my infrastr

[2020-12-03 09:16] piolet opened #165 "possible to add a coefficient for each collection's field"
## Description

To improve search result, it is possible to add a coefficient for each collection's field for a better determination of score.

For example, i create a new collection like this :
[code]

if i _search world_ company when `query_by` is on **company_name** and **description**, i could have many result.
thanks to the multiplier coefficient, the score of the results having found _world

[2020-12-04 02:31] #164 closed

[2020-12-04 02:31] kishorenc commented on #162
Closing this for now.

[2020-12-04 02:31] #162 closed

[2020-12-05 03:11] kishorenc commented on #165
👋  This is a duplicate of https://github.com/typesense/typesense/issues/42.

I haven't yet had a chance to look into this in more detail, but adding custom weights will slow things down during rank score computation on large datasets. It also makes understanding the final result order a bit harder when scores are aggregated across multiple partial matches. I will close this issue but will keep #42

[2020-12-05 03:11] #165 closed

[2020-12-05 03:14] kishorenc commented on #165
@piolet I forgot to mention that Typesense already respects the order of fields mentioned in the `query_by` parameter. For e.g. if you defined `query_by=title,description`, documents that match on `title` are ranked higher than matches on `description` (all other things being equal).

[2020-12-06 19:47] v-byte-cpu commented on #153
Hi @kishorenc, my dataset is going to expand by 7 million items each year. So I would just like to add more machines to my existing setup instead of vertical scaling. You can read brilliant article [Understanding Sharding in Elasticsearch](https://codingexplained.com/coding/elasticsearch/understanding-sharding-in-elasticsearch).

Also I can create golang client library for typesense API if you are

[2020-12-08 15:54] kishorenc commented on #153
Thanks for the clarification. I'm familiar with ES -- just wanted to confirm that it was about horizontal scalability. At the moment, Typesense is focussed on use cases that are in the 100M item range or below. It's a trade-off choosing to focus first on that since anyway Typesense index is in-memory and that puts some constraints on the dataset you can hold without too much $$$.

Thanks for the o

[2020-12-08 16:48] v-byte-cpu commented on #153
Ok, I will start developing it. Can I contact you in any chat platform in case of any questions related to typesense development ? Gitter, Matrix, Wire, xmpp etc.

[2020-12-09 03:27] hutbert commented on #78
A great addition to this would be to have the ability to define a polygon and then search for items within a polygon. See https://dev.mysql.com/doc/refman/5.7/en/gis-class-polygon.html for this feature in MySQL. That might be a pretty big stretch though.

[2020-12-09 03:36] jasonbosco commented on #78
@hutbert Certainly on our radar :) If you'd like, happy to connect live so I can understand your use case and prioritize this feature. Would help ensure that we ship something with proven practical value.

[2020-12-09 04:46] hutbert opened #166 "Upserting documents breaks search filtering"
## Description

If you create a document with a specified id value and then update that document using upsert filtering on a faceted field fails. I'm seeing this using instansearch.js (the Vue version) but it seems as though it should work as documented below.

## Steps to reproduce

Create a document schema as follows:

[code]

create a data.jsonl document to import:

[code]
upsert the data using

[2020-12-09 12:33] ashwinmram commented on #72
Hi Kishor, I agree with @stephanoparaskeva and hope you consider making this optional.  I've only included a default_sorting_field because it is mandatory and for no other reason.  The field I have selected will not help with ranking either because I used the tenant id which is common to all records for that particular tenant.  I do see the value of having a default sort, but it would be great if

[2020-12-09 13:40] kishorenc commented on #166
👋 @hutbert

I was unable to reproduce this issue, unfortunately. Here's the exact sequence of commands I ran against the sample data:

https://gist.github.com/kishorenc/a19fd030aa326619b0c229a6b1deb809

Can you please check the gist and run the same to see if I missed out something?

[2020-12-09 14:09] hutbert commented on #166
When I run the same I get the following:

[code]

Perhaps something to do with my docker container? I'll try again running without docker.

[2020-12-09 14:18] hutbert commented on #166
I downloaded the Linux binary and ran the test against that and everything worked as expected. How strange! Thank you for checking!! I'll dump my docker container and see if I can figure out the difference there.

[2020-12-09 14:20] kishorenc commented on #166
Happy to hear! Incidentally I also tried it on a 0.17.0 Docker container on my machine (Mac) and faced no issues there as well. So strange.

[2020-12-09 14:21] hutbert commented on #78
@jasonbosco I don't have a specific use case so I wouldn't prioritize anything on my account. We have run into situations on some projects where our clients want to limit searches within particular boundaries (like within city limits) rather than by a radius around a fixed point. My primary use case would be sorting by distance for sure but thought this might be a good addition.

[2020-12-09 15:05] kishorenc commented on #161
Thanks for the additional clarifications.

Long time Kafka fan here, so I will definitely be biased, but there is a bunch of hosted Kafka offerings these days, who all do a great job of taking away the operational headache. Once you have it running, you will keep finding many use cases for it :)

Happy to consider this. It seems like what's needed is:

a) Accept a monotonically increasing token (n

[2020-12-09 17:09] kishorenc commented on #153
Look forward to it. I will clean up the existing go client in a couple of days and update this thread. I'm also close to wrapping up the on demand snapshot API too.

[2020-12-10 15:10] hutbert commented on #166
Redoing my docker did the trick - thanks for the help

[2020-12-10 15:10] #166 closed

[2020-12-10 21:08] mariusa opened #167 "please describe how the datastore works"
## Description

Hi, considering using typesense.
Would you please describe how the datastore works?
What are its advantages over Postgres text search?

How to backup & restore? (not mentioned anywhere https://github.com/typesense/typesense/search?q=backup)

Would be good to have an engineering section in readme with these details, including the language(s) it's written in.

Thanks!

[2020-12-10 22:28] 0xflotus commented on #78
Geo distance queries (with various units) would be a massive feature 🎉

[code]

[2020-12-11 10:19] mariusa commented on #167
Something like this would be great: https://github.com/valeriansaliou/sonic/blob/master/INNER_WORKINGS.md

[2020-12-11 17:08] zschuessler commented on #167
Came here to request this! +1.

I tried finding a basic overview of how the system works here:
https://typesense.org/docs/0.17.0/guide/

Before using a newer technology on a real project, I'd want to know all technology dependencies (server packages, language written in, etc) and a summary of how the product functions. Then an inner workings doc like the one linked to would be fantastic for furthe

[2020-12-12 14:06] cboothe opened #168 "Question: Synonym Support"
## Description

RediSearch has support for synonyms on a specific index versus database wide.
https://oss.redislabs.com/redisearch/Synonyms/

Is this something you are looking to add?

[2020-12-12 14:43] kishorenc commented on #168
@cboothe 👋

Yes, almost ready with that. Should be available for testing in the next couple of weeks :)

[2020-12-12 23:09] v-byte-cpu commented on #153
@kishorenc I am almost done with go client library for typesense 0.17 API. I'll wrap it up and release it in the next few days.

[2020-12-13 01:48] kishorenc commented on #153
Wow, excellent. Did you use any of our existing clients as reference? Perhaps this is already so, but my only suggestion would be to follow a similar interface where possible with the other language clients, especially the structure of the ApiCall class (e.g how health-checks and retries are handled) and how the clients generally just pass on parameters to the server and let the server do most of

[2020-12-13 16:36] jfinity commented on #161
That would be sufficient for sure!

But -- as mention in my ***** above -- even "cooler" might be to accept a set of key-to-monotonic-value pairs:

`{ "a": "xyz", "b": "ijk", "whatever": "uvw" }`

If a leader has seen "a" >= "xyz" or "b" >= "ijk" etc., the write is rejected.  An accepted write bumps the threshold for each key provided.

An authoring client requesting a write with `{}` (or no key p

[2020-12-13 19:58] geekjr opened #169 "Way to crawl sites and put the received data in the documents?"
Is there a way to crawl a site and put the crawled data into documents?

[2020-12-13 20:02] jasonbosco commented on #169
If you have a Gastby site, there's a plugin to index site content on build into Typesense: https://github.com/typesense/gatsby-plugin-typesense

I'm planning to extract some of the core logic from that plugin into a generic site crawler shortly: https://github.com/typesense/gatsby-plugin-typesense/issues/5#issuecomment-736946427

[2020-12-13 23:06] #169 closed

[2020-12-13 23:06] geekjr commented on #169
OK. Thanks

On Sun, Dec 13, 2020 at 3:02 PM Jason Bosco <notifications@github.com>
wrote:

[2020-12-14 07:17] codeagencybe opened #170 "WooCommerce connector/integration"
## Description

Does anybody know of an existing or project in progress for a WooCommerce (Wordpress) connector or integration?

I'm interested to try Typesense for CMS and ecommerce based setups with Wordpress and WooCommerce.
I already have googled several hours to find some relevance article or a start but couldn't find anything.

Any starting point or links to this topic are very much apprecia

[2020-12-14 17:41] v-byte-cpu commented on #153
Yes, sure. I use python client interface as reference.

[2020-12-15 02:24] jasonbosco commented on #170
@codeagencybe We don't have an official WooCommerce integration and I'm not aware of a community one either.

However, I did some quick research on how you'd go about setting this up and I found that WooCommerce gives you a REST API to export data in a JSON format: https://woocommerce.github.io/woocommerce-rest-api-docs/#products

You essentially want to export the data you need through their REST

[2020-12-15 07:50] codeagencybe commented on #170
@jasonbosco

Yes I'm aware of the WooCommerce API. But that's not the question or information related to my question.
My question is about a connector or plugin for WooCommerce that improves the Wordpress search feature with Typesense + brings the faceted search and all goodies from Typesense into Wordpress (and WooCommerce).

At the moment the closest thing we can find related to search/indexing

[2020-12-15 07:59] LaundroMat commented on #149
Are the instances on typesense cloud the latest versions? Because I have the same issue. Filtering on a facet containing a colon results in a `RequestMalformed: [Errno 400] Could not parse the filter query.` error.

[code]

[2020-12-15 13:09] kishorenc commented on #149
I just verified on 0.17.0 again on Cloud and it works. Can you please check the right side bar of your cluster page to verify that you are indeed on 0.17.0? Clusters are not auto upgraded.

[2020-12-15 13:17] LaundroMat commented on #149
Oh, am I so sorry! For one reason or another I did not see that the typesense version was displayed on the cluster page 🙄
It's at 16.1, so there's the issue. Thanks for the speedy response and sorry again.

[2020-12-15 16:18] kishorenc commented on #153
Fantastic ❤️ If you don't mind, I can create a new repository under the Typesense Github org and grant you access to that. We can then start promoting it as an official library and maintain it with your help.

[2020-12-15 19:07] Elliot-Pitts commented on #78
For a project I have coming up, I would love to use Typesense but the lack of geosearch is a hurdle. Just a simple distance query as @0xflotus suggested would be great to start with.

[2020-12-16 08:29] nonapod opened #171 "Pagination returning the same results for every page"
## Description

Every page in pagination results is the same when filtering by a facet and using grouped results.

## Steps to reproduce

The following is an example of a query on product pages, each product has a **sku** and a **group**, multiple skus are grouped together in a **group** and displayed on a product listing page.
`http://192.168.1.68:8108/collections/product_pages/documents/search?g

[2020-12-17 04:35] nonapod commented on #171
I've provided some sample results, with a slightly different query, reducing the number of items per page and limiting included fields for reference:

**query**
http://192.168.1.68:8108/collections/product_pages/documents/search?query_by=vendor&group_by=group&q=A19&group_limit=1&filter_by=Color:= Brown&per_page=5&page=1&include_fields=sku, group

**page 1**
`{
    "facet_counts": [],
    "found":

[2020-12-18 02:09] jasonbosco commented on #170
Ah, got it. We have a yet-to-be-prioritized item in our backlog to explore an integration with the Wordpress ecosystem, so no immediate plans at the moment.

That said, we'd definitely appreciate community contributions on this front, especially since we don't have Wordpress experts on our team.

[2020-12-18 07:08] jasonbosco commented on #171
@nonapod I wasn't able to replicate this issue with the dataset I have. Would you be able to share a small sample of your dataset, just enough to replicate this issue? If you're not able to share it on Github, could you email it to contact at typesense dot org?

[2020-12-18 07:50] aaronjpitts commented on #170
Over the holidays I'm planning to have a look at building such a plugin for WordPress. It might just perhaps be a WordPress CLI tool to start with to index the posts into typesense. I'll update this issue when I can :)

[2020-12-18 09:53] codeagencybe commented on #170
@jasonbosco
Exactly, that's the thing I was hunting for wether something might come from Typesense as "official" plugin or if this is coming from community end.
But I'm more than happy to help and contribute on this since Wordpress is mostly are CMS we use in projects and it's also one of the biggest marketshare in the world. So it would benefit Typesense a lot if there is one.

@aaronjpitts
Exact

[2020-12-18 21:05] v-byte-cpu commented on #153
It is a great idea :rocket: ! Sorry for the late response. I think it is better just to transfer my repo to typesense namespace. I open-sourced it today here: https://github.com/v-byte-cpu/typesense-go. It is still work in progress but there's not much left. You can track current status of high-level client implementation in this task: https://github.com/v-byte-cpu/typesense-go/issues/4. Low-level

[2020-12-18 23:19] jasonbosco commented on #170
@codeagencybe @aaronjpitts That sounds awesome! ❤️ Let me know if I can help/clarify anything on the Typesense side as you explore building this out.

Also, if you're able to drop a link to the repo you're using to collaborate in this thread, that could help get more eyes from the community. I know one more person who might be interested as well.

[2020-12-19 22:04] jasonbosco commented on #153
@v-byte-cpu Great work and progress!!

re: transferring repos, in the past I've run into issues with transferring repos between github accounts / orgs if the owner is not an admin part of both orgs. Even adding a person as an admin to a single repo didn't seem to help. The best way I've found to do this, has been to create a new repo under the typesense org, give you access to it and then you'll b

[2020-12-19 22:12] v-byte-cpu commented on #153
@jasonbosco yes, it sounds good !

[2020-12-19 22:16] jasonbosco commented on #153
Great! I just sent you an invite. You should be able to see it here: https://github.com/typesense/typesense-go/invitations

[2020-12-19 22:50] v-byte-cpu commented on #153
I pushed latest master to this repo. Could you please enable kanban dev board like this one https://github.com/v-byte-cpu/typesense-go/projects/1 (or grant me access to create them) ?. It is convenient tool to track progress and relevant tasks.

Also it is necessary to enable drone.io CI builds and renovate-bot for new repo.

[2020-12-19 23:40] jasonbosco commented on #153
@v-byte-cpu I've set you as admin on the repo, so you should be able to setup CI now. I've also enabled projects.

[2020-12-20 08:04] nonapod commented on #171
hi @jasonbosco after more testing, and a fresh install, nuking data and reindexing, I'm still getting the issue, however it's not just limited to groups, but also just a regular select all query with paging seems to be returning duplicate page results, despite there not being duplicates of those items.

I've gone ahead and downloaded the source code for now, will get it set up and see if I can ste

[2020-12-20 10:46] v-byte-cpu commented on #153
@jasonbosco Thank you !

[2020-12-20 13:48] v-byte-cpu commented on #153
@kishorenc @jasonbosco Unfortunately, I ran into some trouble to configure renovate-bot etc, because enabling github apps should be done on organization level. I created chat on gitter to discuss all issues to avoid spamming on this thread [![Gitter](https://badges.gitter.im/typesense-go/community.svg)](https://gitter.im/typesense-go/community?utm_source=badge&utm_medium=badge&utm_campaign=pr-badg

[2020-12-21 16:30] jasonbosco commented on #171
@nonapod I now remember seeing this issue in the past when I accidentally indexed the same records twice due to a bug in my retry logic in the indexing script. This happened because I didn’t set an ID field in the record and so each retry was caused a new record to be created within Typesense with a different auto generated id field. Could this be the issue in your case as well?

When you do a reg

[2020-12-21 20:26] npearson72 opened #172 "AND operator for query"
## Description

I'm wondering if it's possible to limit the query based on all matches only. In other words, using an AND operator for each term in the query.

## Steps to reproduce

I have a dataset with javascript books. If I query for "javascript" they all come up. Great. But if I query for several words in the book's description, ex: "javascript standard which", I would expect only the book th

[2020-12-22 07:29] nonapod commented on #171
hi @jasonbosco it looks like the IDs are set correctly as each page of results return the same id, also the total number of documents is correct to the amount indexed (this is all indexed via the Gatsby plugin). To confirm that this isn't just a Gatsby issue, I'll try indexing the same items via a quick Python script to see whether or not the issue is contained to the Gatsby plugin or not.

[2020-12-22 21:03] claytoncollie commented on #170
@aaronjpitts @codeagencybe , @jasonbosco and I spoke about this sort of thing a few weeks ago. We use Algolia and they originally built a WP plugin which was later sunset and then forked by WebDevStudios.

https://github.com/WebDevStudios/wp-search-with-algolia

I suggest that as a starting point and hopefully @jasonbosco can give his input about what to strip it out and what needs to be added. Th