[2022-10-18 11:33] Nikodym7373 opened #760 "Search via API and TypeSense Cloud Web Client gives different results"
## Description

A search on a text via Firebase Typesense extension used in a Swift project returns a different document than when the same search is done via the TypeSense Cloud Web Client

## Steps to reproduce

1.
Store the following documents:

Document 1:
fields: "wording" = "sqrt{x^{2}+6"

Document 2:
fields: "wording" = "$ 2 . $ Om $a=\frac{1}{3}, b=2$ och $x=\frac{(\sqrt{a}+\sqrt{b})^{3}-(

[2022-10-18 13:16] s-gal commented on #281
Should this feature also work in combination with scoped search keys? I have a problem and do not think the error is on my side...

I defined a scoped key for a user and set the filterBy attribute something like this for the scoped key: filterBy: `(gender: Female) || (grade_math:=1 || grade_english:=2)`... (i know the brackets here are not needed but for some reasons of how my program works i leav

[2022-10-18 20:45] jcrapuchettes commented on #579
Is this still an issue?

[2022-10-19 06:08] kishorenc commented on #281
`(grade_math:=1 || grade_english:=2)` filter says: fetch a record that has either `grade_math: 1` or `grade_english: 2`. To achieve what you want, you need to have: `(grade_math:=1 && grade_english:=2)`.

If I'm now following you correctly, please share a small code snippet with sample data + query that show cases the issue.

[2022-10-19 06:33] s-gal commented on #281
@kishorenc yes the filter in the scoped search key is something like: `(grade_math:=1 || grade_english:=2)`

But now my problem is, if i set the filter_by attribute inside the multi_search endpoint (and using this scoped search key defined above) just to `grade_math:=1` my assumption would be that the result is further reduced the documents with only grade_math=1.

But if i do so also some records

[2022-10-19 08:42] kishorenc commented on #281
@s-gal

I'm not able to reproduce that issue. Here's a detailed example that I've put together here: https://gist.github.com/kishorenc/5fa4969ba2a27fc040a9dd9ac53fe4d2

See the last line: only the expected document is returned and not both. If you can put together a full example like (in any client of your choice) then it will be easier to debug what's going wrong.

[2022-10-19 09:22] kishorenc commented on #281
Alternatively if you are able to share your dataset with us, we can take a look, but I understand it might not be possible. If it is, please email us: contact@typesense.org

[2022-10-19 09:25] s-gal commented on #281
@kishorenc thanks for the idea, but yes i am working for a company and its sensitive data and i am not allowed to share

[2022-10-19 09:57] kishorenc commented on #281
Since we are dealing with just a couple of integer fields here, you could just rename them as `fieldA` and `fieldB` and then only export those two fields out for the debugging? That will require sharing no real data except a distribution of numbers which will be no of no use to anyone.

[2022-10-19 10:02] s-gal commented on #281
@kishorenc
the collection i have, has over 100 data fields in all kind of different types and the collection is over 50000 entries big... Not sure exacly if i leave data away you will face the same issues as i do... as said maybe later this week i have some more time and can test/prepare something to be looked at

[2022-10-19 11:44] kishorenc commented on #759
We don't have a way to bulk delete synonyms. Will leave this issue open to track as a feature request.

[2022-10-19 11:54] dipudey commented on #759
@kishorenc is any easy command for check current  typesense version?

though I find typesense version by this `typesense-server --data-dir=/tmp/typesense-data --api-key=xyz --enable-cors`  command .

[2022-10-19 11:55] kishorenc commented on #579
Yes, we don't support listening on ipv6 yet. The listener currently only explicitly uses `AF_INET `. https://github.com/typesense/typesense/blob/main/src/http_server.cpp#L148

Happy to accept a patch.

[2022-10-19 11:59] kishorenc commented on #759
Yes, hit the /debug endpoint.

[2022-10-19 16:15] jasonbosco commented on #637
One workaround for implementing this (until we implement this in Typesense) would be to add a new integer field called say `random_sort_field` to every record, and set it to a random number any time the record is created / updated in Typesense.

Then at query time, you could run do a `filter_by` query like this: `filter_by: random_sort_field:=[1412..5922]` and also add a `sort_by: random_sort_fiel

[2022-10-19 16:53] jasonbosco commented on #760
When `+` is added to `symbols_to_index`, the string `sqrt{x^{2}+6` gets indexed as `sqrtx2+6` internally.

Then when you search for `q=+`, Typesense does a prefix search by default (meaning the character should be at the beginning of the string). Whereas in this case, `+` appears in the middle of the string, which is why it is not returned.

If you want to also search in the middle of strings, you

[2022-10-19 17:00] jasonbosco commented on #306
Once you configure `ssl-certificate` and `ssl-certificate-key` in Typesense, it will only accept HTTP traffic on the API port.

I don't think localhost domain is supported by LetsEncrypt certificates: https://letsencrypt.org/docs/certificates-for-localhost/

which is why it's complaining about an invalid certificate

[2022-10-19 17:04] jasonbosco commented on #751
By default, Typesense removes special characters when indexing. So `1.2` is indexed as `12`. If you want particular special characters to be indexed, you want to add it to the `symbols_to_index` setting when creating the collection. This setting is documented in this table [here](https://typesense.org/docs/0.23.1/api/collections.html#schema-parameters).

[2022-10-19 17:28] Nikodym7373 commented on #760
Ok, I added infix: true in the schema;
 "fields": [
    {
      "facet": false,
      "index": true,
      "infix": true,
      "locale": "",
      "name": "wording",
      "optional": false,
      "sort": false,
      "type": "string"
    }

But it still does not work. A search on "+" returns nothing. Please advice.

[2022-10-19 18:20] jasonbosco commented on #760
Ah, you also want to add `infix: fallback` as an additional search parameter.

[2022-10-19 18:29] Nikodym7373 commented on #760
Sorry, but that does not solve the issue. I know that searching on "-" has always worked without the use of infix (like if the document contains a "-" in the middle) so it seems that there is some other issue here...

[2022-10-19 19:21] jasonbosco commented on #760
I just tried this out and it works for me:

[code]

Could you post a similar snippet showing the curl output, where it doesn't work?

I'm surprised to hear this. Could you also share a similar snippet like the above showing this?

[2022-10-19 19:44] Nikodym7373 commented on #760
Thanks for the swift reply. I only tested the search using the Web Client on Typesense Cloud (using v0.24.0.rc25) and there it does not work. When I try to do a search via FireStore Extension 0.4.1 (Im using a Swift project using that extension API) I cannot see that the infix parameter has been implemented. This is the parameter list that is available:

let searchParamaters = SearchParameters(q:

[2022-10-19 19:51] jasonbosco commented on #760
Hmm, I tested it on Typesense Cloud as well, and it seems to work for me... You need to add a parameter called `infix=fallback` in the "Additional Search Parameters" section at the bottom of the search screen.

re: Swift client, looks like we need to add that parameter there. Could you open an issue for it in that repo or if you're able to do a PR that would be great as well.

[2022-10-19 19:54] jasonbosco commented on #207
We've now added support for vector search in `0.24.0.rcn20`.

Here are instructions on how to use the feature: https://gist.github.com/kishorenc/f008c3a60ee58cb084b0c33c0dbce148

[2022-10-19 19:55] aaron5670 opened #761 "[QUESTION] Retrieve a document by value"
Hi Typesense,

I was wondering if it is possible to retrieve a single document by value. I know it is possible to retrieve a single document by ID ([see docs](https://typesense.org/docs/0.23.1/api/documents.html#retrieve-a-document)).

But is it also possible to get a single document by another field instead of by ID?

For example with slug?

[code]

[code]

Thanks in advance!

[2022-10-19 19:56] jasonbosco commented on #130
We've added support for vector search in the latest RC build of Typesense. Here's how to use it: https://github.com/typesense/typesense/issues/207#issuecomment-1284501703

It does require you to use an ML model (outside of Typesense, for eg: word2vec) to generate embeddings for each of your records, and store them in Typesense. But once you have it, you can then do nearest neighbor search to imple

[2022-10-19 19:58] jasonbosco commented on #761
You can use filter_by to do this:

[code]

[2022-10-19 20:01] Nikodym7373 commented on #760
Which version of the Typesense Cloud are you using? I have specified as you have instructed, see attachments.
<img width="376" alt="Screenshot 2022-10-19 at 21 58 58" src="https://user-images.githubusercontent.com/69723195/196792155-d5139edb-22b9-4dce-b908-615fda56d854.png">
<img width="1297" alt="Screenshot 2022-10-19 at 21 59 43" src="https://user-images.githubusercontent.com/69723195/196792174-

[2022-10-19 20:06] Nikodym7373 commented on #760
But this concerns the Firestore Extension. Not necessarily specific for Swift. Is there a Github project for that as well?

[2022-10-19 20:10] jasonbosco commented on #760
It should be `infix=fallback` without additional spaces around `=`.

I was able to replicate the issue if I used `infix = fallback`. It then worked once I changed it to `infix=fallback`.

[2022-10-19 20:12] aaron5670 commented on #761
Thanks @jasonbosco, I'll try :)

[2022-10-19 20:16] Nikodym7373 commented on #760
Ahh, well spotted! Thanks! I have added an issue in the typesense-swift project. Can I expect that someone will resolve this or do you think I need to do a PR?

[2022-10-19 20:17] jasonbosco commented on #760
Would be great if you can do a PR. I can then ping the maintainer to review.

[2022-10-19 21:17] Nikodym7373 commented on #760
Ok, I have created a PR now. The word "infix" is reserved in Swift, so I used inFix locally instead.

[2022-10-19 21:17] Nikodym7373 commented on #760
https://github.com/typesense/typesense-swift/pull/21

[2022-10-19 22:24] Nikodym7373 commented on #760
made some additional changes:
https://github.com/typesense/typesense-swift/pull/22

[2022-10-19 22:51] ianjosephwilson opened #762 "Compiling typesense with `-mno-sse4`"
## Description

Typesense docker container fails to start after receiving SIGILL / 132.  Local docker build also fails.

Instruction appears to be related to AMD's sse4 or greater.

## Steps to reproduce

Either:

- Start the published 0.23.1 docker container
- Build the development docker container and then build the deployment docker container and then start that container

## Expected Behavior

[2022-10-19 22:54] ianjosephwilson commented on #762
I saw you dropped arm specific flags here but left the amd64 specific flags:

https://github.com/typesense/braft/commit/80d97b2475b3c0afca79c19b64d46bb665d704f4

I think maybe this is the problem.   Is there a more scalable solution to compiling for the optimal arm or optimal amd64 targets as well as supporting a `native` compilation target ?

[2022-10-19 22:56] ianjosephwilson commented on #762
I saw you write over the `CMakeLists.txt` in the development.Dockerfile is that the best solution to replace those flags?  Except create such an overwrite for the root `CMakeLists.txt` of braft ?

[2022-10-20 04:38] kishorenc commented on #762
@ianjosephwilson

So far, we have not had a reason to support a non-SSE4 capable X86 processor. If you want to do this, you can fork Typesense and just overwrite Braft's `CMakeLists.txt` to remove the `msse4` flags and rebuild Typesense locally. This should fix the issue you are facing.

[2022-10-20 07:12] ketan-hauper commented on #751
Thanks @jasonbosco it's working fine with that settings.

[2022-10-20 07:47] Nikodym7373 commented on #760
The API used by the Swift code seems to use a GET request instead of a POST that you are using via curl? Not sure how equal these implementations are, but can you please confirm that the GET request also works with the infix-parameter in combination with the schema used in the case. When I add the infix=fallback parameter as a query-parameter it does not have any effect, i.e. no document is return

[2022-10-20 07:50] Nikodym7373 commented on #760
You can find the code changes I made for the Swift integration here:
https://github.com/typesense/typesense-swift/pull/23

[2022-10-20 17:06] jcrapuchettes commented on #579
Sadly, that isn't the only location that will need to be updated. If I'm correct, the butil package used for `ip2str` and `hostname2ip` are only `AF_INET`.

[2022-10-20 17:17] maxostarr commented on #579
Got it! I've managed to get around this by using an NGINX sidecar container to 'translate' the IPV6 traffic to IPV4 for the typesense server. Thanks for the insights!

[2022-10-20 17:47] Bryt12 commented on #706
I am experiencing the same exact issue roughly every other week. I am running the typesense server with tmux on an ec2 instance. This is the output right before the crash, it appears that typesense is making a snapshot (it looks like the same thing happened to bsr203) then has an error afterwards. I see the default snapshot interval is every hour so it wouldn't make sense that it's just the snapsh

[2022-10-20 17:50] #751 closed

[2022-10-21 01:44] kishorenc commented on #706
@Bryt12 From the logs I see that the data directory is inside the `/tmp/` directory. I think some of the files are being cleared by the OS and so snapshot fails. Can you use non-tmp directory and see if it happens again?

[2022-10-21 03:55] Sembiance opened #763 "Update docs for highlight_fields to mention how to disable highlighting"
The docs for the `highlight_fields` search parameter does not say how to disable highlighting.

The docs should be updated to say something like:

`You can disable highlighting by specifying a field that does not exist.`
or
`If you specify a field that does not exist, no highlighting results will be returned.`

[2022-10-21 16:34] ianjosephwilson commented on #762
I just made a script to apply patches, ie. Remove flags , seems like brpc and braft both hardcoded sse4 flags, https://github.com/ianjosephwilson/typesense-patch

Starts now and I can connect without SIGILLs.

[2022-10-21 16:34] #762 closed

[2022-10-22 12:28] Sembiance commented on #140
Typesense 0.23.1 is being used in production with 94M indexed documents on our recently launched website: http://discmaster.textfiles.com/search

THANK you typesense team!

[2022-10-23 13:03] sbleh opened #765 "Feature Request: Allow to set highlight_affix_num_tokens per field"
In search `highlight_affix_num_tokens` can currently only be set as a general property. Often you want this to differ between fields, e.g. a title should be truncated to a shorter string than a text body.

This can be done with client-side logic but would be great to set this in the query similar to infix settings:

[2022-10-24 17:10] zergormagn commented on #612
It's possible to have dynamically created widgets based on initial search results (without dynamicwidgets) by hooking to the onrender event in Instant Search as TS sends all the facets available. But It's fairly difficult to code, also there is a heavy performance penalty especially with larger datasets.

[2022-10-25 19:49] bnfd commented on #434
Just a bump for this..

[2022-10-25 21:10] jcrapuchettes commented on #579
Update: I was able to get Typesense to work in an IPv6-only cluster by using a number of `6tunnel` tunnels from localhost. `6tunnel` can be installed via apt in debian and ubuntu. The trick for clustering was to configure Typesense like it was running 3 nodes on the same instance (each using a different set of ports) and then use `6tunnel` to forward the traffic to the correct node. In total, each

[2022-10-26 10:44] s-gal commented on #281
@kishorenc
i just reproduced the problem and sent you all needed data and informations to reproduce my problem to the email address you mentioned....

[2022-10-26 10:59] kishorenc commented on #281
Thanks, I'll take a look and update.

[2022-10-26 16:22] amine-y opened #766 "Synonyms gets deleted after a while"
## Description

Create a new synonyms for a while everything works fine
after a few hours the synonyms get's deleted

## Steps to reproduce

curl --request PUT \
  --url https://localhost/collections/products/synonyms/phone\
  --header 'Content-Type: application/json' \
  --header 'X-TYPESENSE-API-KEY: mysecuretypesensekey' \
  --data '{
	"synonyms": [
		"iphone",
		"android"
	],
	"root": "phone"

[2022-10-26 16:24] jasonbosco commented on #766
Could you make sure you're not using `/tmp` as your Typesense data dir?

Also, do you have a process that deletes and recreates the collection? If so, when a collection is deleted, the synonyms are also deleted along with it. So that could be another reason.

[2022-10-26 16:58] amine-y commented on #766
Hello,
@jasonbosco thanks for your quick answer I'm not using tmp dir but do collection sync that deletes the collection and the fill it again

[2022-10-26 19:36] jasonbosco commented on #766
Before deleting the collection, you want to also export the synonyms from the old collection, and then recreate them in the new collection.

[2022-10-26 19:36] #766 closed

[2022-10-27 07:33] recervictory commented on #612
I am trying to implement Dynamic Widget from algolia but either it is not displayed or asking for `facet [*]`. I am really confused with the documentation.

[2022-10-27 19:27] admtech commented on #655
I support the feature request of @andreww2012. We now use Typesene like a real database and not just as a search engine. With the document store we have everything we need and for some non-relevant data we save synchronizing with the main database. Of course, since adding by automatic fields is so easy (even the ones that are not indexed) a simple global deletion of these fields with their data wo

[2022-10-28 08:00] phungleson commented on #591
Hey peeps, since where are at pagination, another common strategy is cursor-based pagination.

**One benefit of cursor-based pagination is that it works consistently even when someone mutate the dataset.**

Elasticsearch implemented it as some form of `search_after`.

https://www.elastic.co/guide/en/elasticsearch/reference/current/paginate-search-results.html

But generally you can take a look at

[2022-10-28 16:52] zergormagn commented on #612
From my understanding it won't work as you currently have to tell the TS server what facets you want.   So the only way to create dynamic like widgets/factes with TS is to save the dynamic facets in a named facet.  And then re-request the missing facets based on the hits received.

The problem with this approach is that it's slow.   Although should work ok with few thousand items,

DyamicWidgets a

[2022-10-28 20:51] admtech opened #767 "Feature Request: LIMIT command for data"
## Description

I just want to group the last 400 books (sorted by date by `sort_by=timestamp:desc`) and then show me via `facet_by=tags` the "facet_counts" of the "tags" to it. So I know which tag is working well at the moment. This also works as desired, but unfortunately for all books. How can I apply the grouping only to the last 400 books and not to all. I can't find a LIMIT command?

Or have

[2022-10-30 03:45] huynv86 opened #768 "Typesense crash VM on GCP"
## Description

Today, Typesense make our server can't SSH. I restart server and then SSH normally. Then I start Typesense and see live log:
![image](https://user-images.githubusercontent.com/747614/198861495-73454677-fdf0-4e4d-a966-aa8698de7508.png)
when i saw last line log then SSH also die

we use TS in production and this is a nightmare :((

## Metadata

**Typsense Version**: 0.23.1

**OS**: u

[2022-10-30 03:47] huynv86 commented on #768
![image](https://user-images.githubusercontent.com/747614/198861656-6a741075-f92d-4e03-a3d3-b6246c71cd47.png)

[2022-10-30 03:51] huynv86 commented on #768
how i can access to rockdb and recovery data

[2022-10-30 09:35] irevoire commented on #768
My typesense also stopped working, and I don't know either where are the documents situated in the rocksdb databases.

Currently, I found out that I could access the indexes via the key `$CM_`. I don't know what it means, but here you can see I got my `books` index prefixed by `$CM_` and I was able to find my other indexes as well:
[code]

Hope this helps, I don't know where are the documents tho'

[2022-10-30 09:55] irevoire opened #769 "When typesense crash and restart it destroy its own database"
## Description

Hello, while trying to help on https://github.com/typesense/typesense/issues/768 I found a strange bug.
If typesense gets ctrl+c ed and then rerun it corrupt itself and after a few ctrl+c + restart it simply can't start at all.

## Steps to reproduce

1. On one term: `./typesense-server -d data.sense -a a`
2. On another terminal: Create a books collection: `curl "http://localhost:8

[2022-10-30 09:57] irevoire commented on #769
It's quite a big issue for me. If I want to run it in prod I would certainly put my typesense server in a systemctl file and make it restart in case a crash occurs.
Same with k8s / docker, but it looks like typesense will simply kill itself after a few restarts 🥺

[2022-10-30 10:04] huynv86 commented on #768
I can’t start Typesense, you can see the log i posted above, Typesense can’t load collection complete. How i can read raw documents in rocksdb then reindex them. I used Typesense as database and search engine @irevoire

[2022-10-30 11:13] irevoire commented on #768
Hey @huynv86,
I'm not in the typesense team thus I don't really know what to say.
But from what I noticed when I was trying to restart typesense that it could corrupt your database so maybe the best thing to do right now is to NOT try to restart typesense for now.

If you can wait I'm probably going to release something for you in the next following days that can extract your documents and setting

[2022-10-30 11:31] huynv86 commented on #768
Thank u. I tried to start TS on my MacOS with RAM and CPU larger than Virtual machine GCP and TS start well
I guess one of our users do a query that found a document big size, this make TS crash, i think this is a bug of TS
To fix this: on my MacOS, i do query all documents then check which one is big size and delete it

[2022-10-30 12:53] kishorenc commented on #768
@huynv86

If there is a crash, there will be a stack trace in the logs. If you can share that we can get a sense of what happened. Ensure also that your VM did not run out of memory.

[2022-10-30 13:09] kishorenc commented on #769
I was unable to reproduce the issue you faced. I extracted those commands onto a bash script that you can run: https://gist.github.com/kishorenc/97e9b86dbd04738b4fefa426a598a87b

If you can share a similar script that showcases the issue, I will be happy to look into it.

[2022-10-30 13:24] huynv86 commented on #768
You see last photo, TS writes the same lines log, also eats 100% CPU, that is reason why I can’t SSH. I tried rerun TS many time but doesn’t work
I started TS and i watch log file in real time by command: tail -f path_to_logfile

[2022-10-30 13:29] kishorenc commented on #769
@irevoire

However, this sounds like an issue that I addressed a couple of months earlier which involved a race condition during multiple collection creation. If you use Docker, can you try reproducing it on the nightly?

[code]

[2022-10-30 13:33] kishorenc commented on #768
Those log lines indicate that Typesense is loading the collection back into memory. Typesense is an in-memory data store (like Redis) so it will reindex the data back on a restart. That explains the CPU usage as well. Please email me the full log file to: contact@typesense.org and I can take a look at the events leading to the restart.

[2022-10-30 14:26] irevoire commented on #769
@kishorenc I can't test it right now, but from what I see in your script you forgot to kill and restart typesense right?
It's what corrupt the database

[2022-10-30 14:53] kishorenc commented on #769
Ah, got it. I'm able to reproduce now on Mac on 0.23.1 but not on latest nightly. It must be the same issue that I fixed. Feel free to use the Docker nightly build above. Next version of Typesense (0.24) will be out in a few weeks and will contain this patch.

[2022-10-30 14:57] irevoire commented on #769
Ah, nice! Feel free to close when you want then 😁

[2022-10-30 20:22] irevoire commented on #768
I don't know if you're still interested @huynv86, but maybe it could help the next one.

I wrote a little tool around the typesense database.
With `cargo run -- typesense ~/data.sense` you can dump your whole db:
<img width="824" alt="image" src="https://user-images.githubusercontent.com/7032172/198899922-581e3bfb-52ab-4c5a-beab-592e56c195c7.png">

And then with
[code]

You can select your collect

[2022-10-31 00:35] huynv86 commented on #768
Thank u @irevoire
This is so helpful in case Typesense can’t start
I will remember u in next urgent case :)

[2022-10-31 00:38] huynv86 commented on #768
@kishorenc unfortunately, our technical deleted VM. close this

[2022-10-31 00:38] #768 closed

[2022-11-01 04:06] siman4457 opened #770 "How do I migrate an individual project to a team project?"
## Description

We are using TypeSense in our project [OpenBeta](https://openbeta.io/). We started out with an individual account, but due to our growing team, we would like to migrate over to a team account. Is there an easy way to do this?

[2022-11-01 06:18] #769 closed

[2022-11-01 17:20] jasonbosco commented on #770
@siman4457 I assume you're talking about Typesense Cloud. If so, if you open your cluster dashboard, you'll find an option to "Share access with your team" on the left-side nav bar. If you click on that, you'll be shown instructions to create a new team account and transfer the cluster into the team account and invite additional team members.

[2022-11-01 20:46] saxjonas opened #771 "Rank weight adjustment based on separate collection documents"
## Description

I’ve been thinking of how to turn the rankings of individual documents, based on prior search behavior for a given search word.

Let’s say I have a product collection where a user uses a search term ST which displays product P1,P2 and P3. If the user clicks on the P2 result I would then store a record (using ie. an analytics tool) of ST having yielded the desired result to find pro

[2022-11-02 05:34] geisterfurz007 commented on #633
@kishorenc For clarification: Was the off/fallback/always behaviour introduced in 0.24.0? It's documented for 0.23.1 as well (but not for 0.23.0).

[2022-11-02 09:36] LuukOV commented on #227
It won't seem to index my nested object.
`{
      "name": "propname",
      "type": "object[]",
      "facet": false,
      "optional": true,
      "index": true,
      "sort": false,
      "infix": false,
      "locale": "",
      "nested": true,
      "nested_array": 2
      }`
      I'm using version **0.24.0.rcn25**.
     I've tried putting it to auto, or using the latest version. but it will

[2022-11-02 16:31] Alexey-Makarevich opened #772 "Please add the ability to change the default H2O configuration."
## Description
I've made some load testing with Gatling for Typesense in docker - single-instance and 3-node cluster without SSL.
For single-instance limit reached at approx 1300rps, for cluster limit reached at aprox 700rps.  High CPU usage in system space.
There are 2 points:
- After limit Gatling throws exception "j.n.ConnectException: connect(..) failed: Cannot assign requested address". It se

[2022-11-03 03:44] barwis00 commented on #689
is there any tutorial or documentation about it? thanks in advance

[2022-11-03 03:47] kishorenc commented on #689
@barwis00

Are you looking for documentation on the sync part?

[2022-11-03 04:05] kishorenc commented on #772
@Alexey-Makarevich

As far I can tell, that configuration is only applicable when h2o is used as a direct server using the h2o binary, and not when used as a library. I took a quick look but could not find any such configuration being exposed to [the library](https://github.com/h2o/h2o/blob/master/include/h2o.h). Are you sure that you are not running into any other Linux limitations like ulimit et

[2022-11-03 04:08] kishorenc commented on #633
@geisterfurz007 It's available in 0.24 RC as well as on 0.23.1 but not on 0.23.0.

[2022-11-03 04:10] kishorenc commented on #771
@saxjonas

We are planning to support a built-in search ranker that is based on previous clicks. However this requires a lightweight machine learning model, which will learn to associate the weights of queries against the clicks. It's not possible to do this without such a model.

[2022-11-03 04:13] kishorenc commented on #475
@spakanati

We have found these logs to be very useful in debugging many production issues. I recommend using a log aggregation system will allow you to set rules to filter out repetitive lines that you don't find useful. We would rather log more as long as it does not offer performance, because when issues happen, even those repetitive log messages help us reconstruct a bug/crash that happens, es

[2022-11-03 07:35] barwis00 commented on #689
yes, I'm currenty looking for sync postgresql with typesense but I cannot find the tutorial or documentation about it

[2022-11-03 07:45] huynv86 opened #773 "filter facets by excluding values"
example:
doc1: [a,b]
doc2: [a,c]
how to filter doc1 that excludes c
i am using instantsearch

[2022-11-03 09:22] madsemildahlgaard commented on #269
Is this still not possible?

[2022-11-03 09:36] barwis00 commented on #689
@kishorenc

[2022-11-03 09:49] kishorenc commented on #269
@madsemildahlgaard No, this is still not supported.

[2022-11-03 09:54] kishorenc commented on #689
There are a couple of ways to do it:

a) For data that does not change too often, you can write a cron script that queries the tables periodically using some form of `last_updated_at` field to fetch new records for updates.
b) For real-time streaming updates, you can have to write the changes from your application directly to Typesense or write it into a queue and then have another process that re

[2022-11-03 10:00] huynv86 commented on #773
I mean how to filter all docs without facet b

[2022-11-03 10:24] #773 closed

[2022-11-03 13:56] madsemildahlgaard opened #774 "[Question] Ingesting large batches of data"
Hi Typesense,

I've deployed Typesense on Google Compute Engine. When setting up the server, I have to ingest large batches of data. It's 28 million documents or ~7 GB when spinning up the server. I might have to make such large imports often.

I use the import endpoint consecutively on 9 JSONL files of ~750 MB.

To make this work, I set
`healthy-write-lag = 9000`
in the config file and
`{'batch_s

[2022-11-03 20:16] saxjonas opened #775 "Database breaks with incorrect JSONL sent to import() endpoint"
## Description

I imported a jsonl that didn't escape double quotes correctly.
After this, typesense won't run properly and returns timeout when trying to import more data

## Steps to reproduce

I used the following code to import data.

`fs.readFile(process.argv[2]).then((articlesInJsonl) => {
   client.collections('products').documents().import(articlesInJsonl).then((val) => console.log(val));

[2022-11-03 20:58] AlexandreLage commented on #227
@kishorenc thanks for your hard work.

Is `enable_nested_fields` available on Typesense cloud yet?

[2022-11-04 02:14] barwis00 commented on #689
@kishorenc is there any documentation that explain more about this? I'm still beginner so I didn't understand much about using ORM and cron for sync typesense

[2022-11-04 06:13] sudheervarmam opened #776 "[Question] Searching for "A B" should return documents with words A and/or B ?"
## Description

We have a TS 0.23.1 setup, where searching for **anna karenina** vs **karenina anna** returns different search results.

## Steps to reproduce

We have 3 documents matching with words **anna**, **karenina**.

- Anna karenina
- The Adventures of karenina
- The Adventures of anna

## Expected Behavior

When searching with keyword **anna karenina**, expecting all the 3 documents in re

[2022-11-04 08:25] britisharmy opened #777 "Is typesense suited for frequent document updates"
I have a need to fetch documents with a higher rank score and updating document ranks on per minute basis. Is typesense able to handle frequent updates sometimes concurrent updates within a collection.

[2022-11-04 15:39] TinLe opened #778 "peering-address ignored in config file but works using option flag or env variable"
## Description

Expected that peering-address=n.n.n.n would work in typesense-server.ini config.  But it does not.  Typesense would only use the value if it is specified as command line flag, e.g. via '--peering-address=n.n.n.n'

Look like using TYPESENSE_PEERING_ADDRESS env var works.

## Steps to reproduce

Add peering-address=192.168.1.1 in typesense-server.ini and start typesense.  The value i

[2022-11-07 08:42] reinoldus commented on #227
When I reboot typesense/typesense:0.24.0.rcn28 I have to re-index my nested collections to make the filtering work again.

I have the issue with two collections, so I don't think it is data dependent. This is a single node local docker dev server.

Here is the boot log:
[code]

[2022-11-07 09:15] kishorenc commented on #227
@reinoldus Thanks for spotting this: there's indeed a regression in a recent RC build -- I'm looking into it.

[2022-11-08 13:54] Sembiance opened #779 "Quoted terms search returning docs it shouldn't in large docs"
Searching for `"some word"` is returning docs that do not have those 2 words adjacent.

Download the attached [phraseMatchFiles.zip](https://github.com/typesense/typesense/files/9961701/phraseMatchFiles.zip) and unzip, start a server, create a scema and import a single document:
[code]

Then perform a search:
[code]

It returns 1 hit, but I was expecting ZERO hits, because in the content of the in

[2022-11-08 14:04] kishorenc commented on #227
@reinoldus Can you please try against this Docker build: `typesense/typesense:0.24.0.rcn30`?

Btw, this issue only happens if the server is restarted after it has run for a while and the hourly snapshot has happened. If you index and immediately restart the server, it will not exhibit the problem you faced. You can trigger a snapshot manually and change snapshot interval via the CLI flag to a lowe

[2022-11-08 14:13] kishorenc commented on #779
This issue affects really large documents. We use uint16_t for storing the positions a particular token appears in a field. This limits us to accurately storing upto 64,000 positions. When a token index exceeds 64K, we will wrap around to 0. Since token positions are only used for calculating word proximity, this is mostly a good trade-off for the rare occasion that people store such large documen

[2022-11-08 21:04] petermullally commented on #434
+1

[2022-11-09 04:36] shejal-Hauper-fe opened #780 "[Feature Request] Ability to change maximum page size, beyond 250"
I need to add a feature that downloads the table record in CSV format when I click the export to csv button. I want to retrieve all of the data from the query, not just the first 250 entries. What are my options in this scenario?

This is the screenshot of the  error I'm facing:
![limitation-error](https://user-images.githubusercontent.com/103435307/200739567-31797161-d753-4eef-b18f-9022f88aac54.p

[2022-11-09 05:14] shejal-Hauper-fe commented on #780
I found one opened ticket regarding this:
https://github.com/typesense/typesense/issues/672
However, if we have 10M data and receive 250 each time, there would be 4000 requests (1,000,000/250), which could cause the system to crash.

[2022-11-09 08:13] sudheervarmam opened #781 "[Question] Is there any to apply custom token separators for a field"
## Description

I want to apply a custom token separator to a specific filed. By default type sense is splitting given word with space, new-line characters and we have ability to add list of symbols or special characters to be used for splitting the text into individual words in addition to space and new-line characters.

But in my case i want to spilt the text into multiple token by positions sim

[2022-11-09 08:22] reinoldus commented on #227
@kishorenc

I can confirm that it's fixed! I triggered the snapshot, restarted and the facets are still there. Thank you!

[2022-11-09 08:53] mahmudtopu3 opened #782 "installed typesense-server package post-installation script subprocess returned error exit status 1 Errors were encountered while processing:"
## Description

I tried to install typesense but it showing that in Ubuntu 22.04 but i was able to run using docker !

System has not been booted with systemd as init system (PID 1). Can't operate.
Failed to connect to bus: Host is down
dpkg: error processing package typesense-server (--configure):
 installed typesense-server package post-installation script subprocess returned error exit status 1

[2022-11-09 12:06] ketan-hauper opened #783 "Export typesence all the data in single request"
## Description
I've tried below link to export document in JSONL format but it's fails with 20k records, it's working fine with 500 record.
https://typesense.org/docs/0.23.1/api/documents.html#export-documents

Also how we can apply filter on export document and response need to be same as default export

## Steps to reproduce

## Expected Behavior

## Actual Behavior

## Metadata

**Typsense Vers

[2022-11-09 18:20] jasonbosco commented on #783
I've exported 10s of millions of documents previously and haven't run into any issues...

Could you share the exact curl command you're using, and the output? Could you also add a `-vvvv` flag to the curl command you're using?

re: filtering, you can use the `filter_by` parameter as described under the table here: https://typesense.org/docs/0.23.1/api/documents.html#export-documents

[2022-11-09 18:21] jasonbosco commented on #781
For this particular type of splitting based on space, you can use the `split_join_tokens` search parameter, documented under this table: https://typesense.org/docs/0.23.1/api/search.html#typo-tolerance-parameters

[2022-11-09 18:22] jasonbosco commented on #780
You can use the documents export endpoint to export the entire dataset without pagination. But it only supports `filter_by` and not the `q` parameter.

[2022-11-09 18:23] jasonbosco commented on #777
The answer completely depends on the amount of CPU capacity / number of cores you have. You also want to make sure you batch updates into a few documents/import API calls, and not sending updates one at a time, to maximize performance.

[2022-11-09 18:26] #770 closed

[2022-11-10 04:07] ketan-hauper commented on #783
I am not using any curl command, I am using a request from  react app, here the request
Request URL: https://localhost:8108/collections/connections/documents/export?x-typesense-api-key=pTL190cKqT9HDazuN1qfknTRd4q3UIOs
Request Method: GET
Status Code: 200
Remote Address: [::1]:8108
Referrer Policy: strict-origin-when-cross-origin
![Screenshot from 2022-11-10 09-35-45](https://user-images.githubuser

[2022-11-10 04:39] jasonbosco commented on #783
If you're using the JS client, you want to set a high enough connection timeout value when instantiating the client: https://github.com/typesense/typesense-js/blob/64ef0af7932f821b86c41a1bf3e465b22026be63/src/Typesense/Configuration.ts#L76

The default is 5s.

[2022-11-10 04:46] ketan-hauper commented on #783
Okay, I'll try and get back to you, also hoy can I apply filter_by in document export? because i tried with the search and then it's change the response to same as multi search instead od JSONL

I tried with

[2022-11-10 04:50] jasonbosco commented on #783
It should be:

[code]

[2022-11-10 05:04] ketan-hauper commented on #783
Okay, thanks let me try it

[2022-11-10 05:12] kishorenc commented on #778
@TinLe

I'm not able to reproduce this issue. I created a fresh `/tmp/data` directory and started Typesense this way:

[code]

Contents of `/tmp/config.ini`:

[code]

I see the following in logs:

[code]

I then stopped the server, changed the `peering-address` to an internal IP like `172.17.0.3` and then restarted the server again and this time, I correctly see:

[code]

[2022-11-10 05:17] kishorenc commented on #774
@madsemildahlgaard

Can you check the server log during time to see what the `queued_writes` value is? It will be logged in a log line like this:

[code]

When the value of `queued_writes` exceeds the `healthy-write-lag` then Typesense will reject further writes to protect the system from getting overwhelmed. So the server is not exactly "unresponsive" -- this is a protection mechanism and the ser

[2022-11-10 05:22] kishorenc commented on #775
@saxjonas

I'm not able to reproduce this issue on the latest RC build ([`0.24.0.rcn31`](https://hub.docker.com/r/typesense/typesense/tags)) -- can you try it out and let me know if this issue is still happening?

[2022-11-10 06:09] ketan-hauper commented on #783
I've update connection timeout value  the but still I am getting below error
![Screenshot from 2022-11-10 11-32-36](https://user-images.githubusercontent.com/99339660/201012990-80e50ce4-da4b-4629-a26a-8e797bddef2b.png)
I've updated it on node side configuration, I've also tried on client side   TypesenseInstantsearchAdapter configuration but it's not work for me, giving the same error

Request #16

[2022-11-10 06:14] TinLe commented on #778
@kishorenc hmm, you are right. I am unable to reproduce this error again in my test environment.   I'll close this bug, and re-open if I can reliably reproduce it again.

Thank you for looking into it.

[2022-11-10 12:44] shejal-Hauper-fe commented on #780
@jasonbosco thanks for the quick response. Now I want to search data and based on sorted result I want to export it in CSV what I can do for this?

[2022-11-10 17:43] amine-y opened #784 "Typesense takes too much time to sync products"
## Description

I have 18 thousand products and 8 stores and 350 category
I'm creating a collection for by store and category
You might ask why I'm doing it like that why i didn't create a collection by store and add an attribute category that have categories that the product is assigned to the cause is that i have an attribute named position that is filled with a kind of an algorithm so this attr

[2022-11-10 19:00] jasonbosco commented on #784
I'd still recommend creating one collection per store, but within each collection you can structure your data like this:

[code]

Separately, could you elaborate on your title:

I don't see mention of slowness in the issue description. Could you share more details / curl commands that replicate the issue? As a general best practice, you want to use the bulk import endpoint to ingest products, inst

[2022-11-10 19:06] jasonbosco commented on #783
Could you try increasing it to say 300000 and see if the error message says "ECONNABORTED timeout of 300000ms exceeded"? If it still says 10000ms, it means that it's getting the default timeout from somewhere... Do you for eg, use axios and have a default global timeout configured?

[2022-11-11 05:23] ketan-hauper commented on #783
Yes, I tried this with setting different value in timeout and getting error based on what value I've setup. anyway I used multiple request for do this one,  it's good if their is any solution for this issue.

[2022-11-11 10:13] #777 closed

[2022-11-11 11:34] madsemildahlgaard commented on #774
@kishorenc
Thank you. Yes, I think the `queued_writes` exceeded the `healthy-write-lag`.

Why would importing in smaller batches solve this? I guess it can still accumulate writes and exceed the `healthy-write-lag`.

[2022-11-11 14:03] andrea-citterio opened #785 "One-Way Synonyms root field array instead of string"
Hi, is it in your plans to make it possible for the root field to be an array instead of a single string?

Something like this

`synonym = {
"root": ["smart phone", "smart-phone"],
"synonyms": ["iphone", "android"]
}`

instead of having to define N synonyms for N root strings with the same synonyms field.

[2022-11-11 18:57] jasonbosco commented on #783
In that case, you just want to set it as high as 60 minutes, so the export call never timesout. Export is unfortunately a slow operation until we address it as part of #743.

[2022-11-11 18:57] #783 closed

[2022-11-12 11:57] flevi29 opened #786 "Facet search highlight cuts off for some chars"
## Description

Facet search highlight cuts off for `Szabó` right at the end before the special char, resulting in `<mark>Szab</mark>`. I am mainly concerned right now about the [Hungarian alphabet special characters](https://en.wikipedia.org/wiki/Hungarian_alphabet).

## Steps to reproduce

Minimal reproduction repo: https://github.com/flevi29/typesense_facet_counts_bug

## Expected Behavior

I e

[2022-11-13 03:39] Sembiance opened #787 "[Enhancement] Change split_join_tokens search parameter into 2 separate parameters"
The `split_join_tokens` search parameter currently controls two different behaviors.

I suggest removing this parameter and replacing it with 2 new parameters: `split_tokens` and `join_tokens`

Splitting a single token into multiple tokens can have a negative impact on search performance. Thus it currently isn't safe to set to `always` without risking these impacts.

Joining multiple tokens into f

[2022-11-13 10:47] kishorenc commented on #785
That's interesting. We've not considered this possibility yet, but happy to accept as a feature request.

[2022-11-13 13:07] mahmudtopu3 commented on #584
I am having a similar issue because it returns 250 max, Our django app has it's own pagination system, so combing both is tough,
Getting the primary keys and they running "IN" queries to get the queryset seems to work but don't know the better way of doing it,.
If I only use typesense without the queryset return from django, then it will be a totally separate api. (listview will not connect to the

[2022-11-13 13:09] mahmudtopu3 commented on #780
It will be better if the limit is modifiable so that one can increase even though the performance will get down.

[2022-11-13 16:24] Sembiance opened #788 "A search hangs when split_join_tokens is set to always"
When running typesense `0.24.0.rcn25-log1` setting `split_join_tokens : "always"` for a specific search causes the search to hang forever with a specific dataset. The main query is `q : "amanda"`

My current workaround is setting `split_join_tokens : "fallback"` which works great, same search returns fast.

Exact reproducible steps below, including test data.

Create our data dir and run the serve

[2022-11-13 20:40] Sembiance opened #789 "A search hangs and doesn't return"
When running typesense `0.24.0.rcn25-log1` I've got a particular search query that just runs forever.

Exact reproducible steps below, including DB data.

Download the data file (13GB) and extract (28GB) and start up typesense (27GB RAM):
[code]

Wait for the DB to load, then perform the search query:
[code]

The search will run forever, or seemingly forever.

If this is not a bug, then it's impor

[2022-11-14 07:23] kishorenc commented on #786
@flevi29

Thanks, I'm able to reproduce this issue. We're on code freeze for 0.24 release, so will be taking this up right after that and will have the fix available on a 0.25 RC build.

[2022-11-14 08:03] Bug-Reaper opened #790 "How to query for documents where an optional field is not set"
How do you query for documents where an optional field is not set?

My apologies because I'm 99% sure I've seen this answered before but can't find the GH thread. I've searched for like an hour and can't find it. Probably would be good to get this added to the [docs](https://typesense.org/docs/0.23.1/api/search.html#query-parameters).

[2022-11-14 16:09] amine-y commented on #784
Hello @jasonbosco ,
My products can be assigned to 300 categories or more
[code]
And yes I'm using the import documents API i'm doing 2500 documents per http request

[2022-11-14 17:32] Bug-Reaper commented on #790
Thanks for the quick answer @jasonbosco.

Since I already have a million+ records created, I'll handle it via ljson export of the entire db => script to do processing => re-upload of entire db. Slow, but it should get the job done.

Can I keep this open as a feature request?

[2022-11-14 17:36] jasonbosco commented on #790
Yeah, let's leave this open as a feature request.

It might be faster to read the data from your primary datasource and then use the documents/import endpoint with `action= emplace` to just add a single field to your existing Typesense collection.

[2022-11-14 23:31] dorjeduck commented on #578
Two questions:
1. Has anything been implemented in this regard.
2. Once its possible to get this requested hits per group, it would be great to be able to sort the results according to this hits count. What would be handy is to show the group with the most hits first in the results and then descending from that ...

thanks for this wonderful search engine <3

[2022-11-15 08:30] amine-y commented on #784
@jasonbosco so many problems happens when I you can see those tickets
https://github.com/typesense/typesense/issues/644
https://github.com/typesense/typesense/issues/729
indexation was slow cpu at 100%
error not ready or lagging
taking too much time to index after restart

[2022-11-15 17:14] jasonbosco commented on #227
### ⚠️ Heads-up

If you're using the new `highlight` field in the search API response in the `0.24.0.rcnX` series, we had to make a change to this field's structure in `0.24.0.rcn32`, to better accommodate different forms of nesting.

In `0.24.0.rcn1` - `0.24.0.rcn31`, the `highlight` field in the response used to look like this:

[code]

As of `v0.24.0.rcn32`, the response format now looks like t

[2022-11-16 13:01] 527bd5 opened #791 "Multiple synonym substitutions in query yielding no results"
## Description

When searching for something where only multiple synonym substitutions can yield a match, you get no results. See [conversation on Slack here](https://typesense-community.slack.com/archives/C01P749MET0/p1668517669047959).

## Steps to reproduce

See the [following Python script to reproduce](https://pastebin.com/YnvMAGBV).

## Expected Behavior

[code]

## Actual Behavior

[code]

[2022-11-16 13:03] 527bd5 opened #792 "Synonyms aren't applied on typo-corrected variations of the query"
## Description

If you have a document with "trousers" and a synonym trousers <-> pants, searching for "patns" doesn't yield the expected result because synonyms aren't applied on the typo-corrected variation of the query.

## Steps to reproduce

See the [following Python script to reproduce](https://pastebin.com/LtjR4zHt).

## Expected Behavior

[code]

## Actual Behavior

[code]

## Metadata

**

[2022-11-17 03:11] ethan1406 opened #794 "Chinese queries unable to return hits with matched strings unless there is a space at the start"
## Description
A Chinese query only returns hits when it matches the start of the string or when there is a space before the matched string.

## Steps to reproduce
1. search the query, "快速蕃茄牛肉麵" and observe no hits
2. change the query to "超快速蕃茄牛肉麵" and observe there's a hit

## Expected Behavior
Since both queries share all the same characters besides the first one, the same hit should be returned

[2022-11-17 03:14] ethan1406 commented on #794
I can provide the url to the server and a search API key in a private email

[2022-11-17 06:28] #794 closed

[2022-11-17 15:46] unclescooby commented on #759
Which should be added to the API docs ;)

[2022-11-17 17:32] jasonbosco opened #795 "Exact match filter_by using `:=` on faceted fields still pulls up non-exact matches"
## Description

[Reported by user on Slack](https://typesense-community.slack.com/archives/C01P749MET0/p1668702107231779)

## Steps to reproduce

[code]

## Expected Behavior

Only Company 4 is returned

## Actual Behavior

Company 1 is also returned

## Metadata

**Typesense Version**: 0.24.0.rcn33 and 0.23.1

[2022-11-17 17:39] mahmudtopu3 opened #796 ""message": "Could not find a facet field named `x` in the schema." for string[]"
# Solved
I forgot add facet option
## Description

I have a schema in which skills is a string[] field but while applying facet_by it shows . Is there any configuration problems?
{
    "message": "Could not find a facet field named `skills` in the schema."
}

## Steps to reproduce

Here is the schema
` schema = {
                    'name': 'alljobs',
                    'fields': [

[2022-11-17 19:35] #796 closed

[2022-11-18 02:36] kulame opened #797 "TYPESENSE_HEALTHY_READ_LAG didn't work"
## Description

i have a typesense compose config.
[code]

when i reload the server and query it, it already raise error.

[code]

it seems TYPESENSE_HEALTHY_READ_LAG didn't work
## Steps to reproduce

## Expected Behavior

## Actual Behavior

## Metadata

**Typesense Version**: 0.23.1

**OS**: ubuntu22.04

[2022-11-18 05:39] Bug-Reaper commented on #790
Re-discovered this today [sorting-null-empty-or-missing-values](https://typesense.org/docs/0.23.1/api/search.html#sorting-null-empty-or-missing-values).

Doesn't fit my use-case but for anyone that wants to find all documents with unset optional numeric fields, you could use `filter_by` to arrange them at the top.

You _can_ also use `filter_by` to isolate documents with unset optional string fiel

[2022-11-18 13:32] acleave opened #798 "Filter_by if field exists"
## Description
Trying to query a dataset and filter the results to show only the documents that have an optional field present. I have tried filter_by with and without infix:true on the optional field.

## Steps to reproduce

Sample collection

{
    "name": "John",
    "image": "/assets/john.jpg",
},
{
    "name":"Bob"
}

I am trying to query and filter all the results for only documents that con

[2022-11-18 15:18] abrucker235 opened #799 "Kubernetes HA seems to still not work properly"
## Description

Nodes are not able to properly join raft group.

### Configuration

[code]

## Steps to reproduce

[code]
## Expected Behavior

Nodes should properly resolve and join each other

## Actual Behavior

[code]

## Metadata

**Typesense Version**: 0.23.1

**OS**: kubernetes

[2022-11-18 15:23] kishorenc commented on #797
During startup, Typesense loads the data from disk onto the memory. The heathy-read-lag property only kicks in after the documents have been restored: it does not affect the loading phase.

[2022-11-18 15:23] #797 closed

[2022-11-18 15:30] kishorenc commented on #799
@abrucker235

Please see my comment on this issue here: https://github.com/typesense/typesense/issues/465#issuecomment-1173536082

In short, I don't see a way to reliably support HA on Kubernetes because the underlying Raft library that Typesense uses relies on the IP address to be the node identifier. It's not trivial to fix that.

On a system like Kubernetes, where pods can often relocate, the I

[2022-11-18 15:30] #799 closed

[2022-11-18 16:56] sezooka2 opened #800 "Chinese queries unable to return hits with matched strings unless there is a space at the start"
![20221119_12320](https://user-images.githubusercontent.com/118556288/202765335-9e6aa0c4-0aa3-458c-a7e5-691934cdc3fb.jpg)
![20221119_12339](https://user-images.githubusercontent.com/118556288/202765344-c5421733-f0c8-42c1-8451-fd070581163a.jpg)

**keyword:**
第一篇

**Data:**
`{
  "cat_link": [
    "http://test.anli.news/?cat=1"
  ],
  "category": [
    "未分类"
  ],
  "comment_count": 1,
  "is_sticky":

[2022-11-18 17:51] #759 closed

[2022-11-19 03:27] Sembiance commented on #789
So I have a theory about this.

The schema was created with a `token_seperators` value that includes period `.` as a sperator. The stuck search query is `Windows 3.1` which which would then be resolved as `Windows` `3` `1` which I imagine the DB is getting hung up on the fact that there are so many matches for single digits.

I have since encountered 2 other searches that hang (with full dataset,

[2022-11-19 16:51] 527bd5 opened #801 "Pinned hits don't respect `group_by`"
## Description
Hits aren't correctly grouped together when pinning hits.

## Steps to reproduce

See the [following Python script to reproduce](https://pastebin.com/FdsaEVsb).

## Expected Behavior

[code]

## Actual Behavior

[code]

## Metadata

**Typsense Version**: 0.23.1, 0.24.0rc20, and 0.24.0rcn32

**OS**: Running Typesense Docker image

[2022-11-22 04:01] jasonbosco commented on #710
Just added docs here: https://typesense.org/docs/guide/backups.html

[2022-11-22 07:37] saxjonas commented on #771
@kishorenc That sounds great! Is there a timeline for a first version of this feature? Even roughly, is it Q1 of 2023 or 2024+?

[2022-11-22 08:04] kishorenc commented on #771
Happy to discuss specifics -- can you please email us? contact@typesense.org

[2022-11-22 09:09] mtruyens opened #802 "Vector search with 300 dimensions gets stuck"
I'm trying the new vector search described in https://gist.github.com/kishorenc/f008c3a60ee58cb084b0c33c0dbce148

I would like to use semantic vectors with 300 dimensions — quite higher than the 4 dimensions mentioned in the example, but not unusual in the Word2Vec universe.

Uploading just a few documents works fine, but as soon as the number of documents gets over about 100, TypeSense seems to g

[2022-11-22 13:30] reinoldus commented on #521
I would like to add the following idea:

Assume we are faceting for a nested fields, it would be great if we could sort by another value of that nested field for example:

ingredients: {
 "name": "Chicken",
 "calories":  100
}

If we could sort ingredients.name by ingredients.calories that would be amazing.

This way we could show more relevant results for a facet like:

"Exclude high calorie ingr

[2022-11-22 17:49] jasonbosco commented on #802
@mtruyens Thank you for reporting this. We've tried with a 100 dimension dataset and it seemed to work fine...

To debug this further, would you be able to share your dataset with us, along with a set of [curl commands like this](https://gist.github.com/jasonbosco/7c3432713216c378472f13e72246f46b) to replicate the issue? You can email it to contact at typesense dot org referencing this GitHub issu

[2022-11-22 19:33] mtruyens commented on #802
Thanks @jasonbosco. I just privately sent you an email with the files — hope you understand that I do not want to post these semi-confidential files on a public forum!

[2022-11-22 19:34] mtruyens commented on #802
By the way, to clarify, "stuck" does not mean that the TypeSense process is looping (eating up CPU cycles). It just idles at the point where it gets stuck.

[2022-11-22 19:42] mtruyens commented on #802
Maybe another hint: when I try to Ctrl-C the Docker instance in the Terminal when it got stuck, also the Terminal gets stuck, so the quitting never succeeds (I waited for several minutes)

When I try to Ctrl-C

^CI20221122 19:35:44.444456     1 typesense_server_utils.cpp:48] Stopping Typesense server...
I20221122 19:35:44.660284   135 typesense_server_utils.cpp:338] Typesense peering service is go

[2022-11-22 19:43] mtruyens commented on #802
And I just also tried insert a 10 second pause in between each batch call from my Clojure client, but this did not make any difference.

[2022-11-22 21:54] alphatownsman commented on #185
Is there an arm build for Mac yet? Reading from doc and homebrew-tap, it's amd64 only?

[2022-11-24 01:43] kishorenc commented on #185
We don't have an ARM mac build yet but Typesense now builds on ARM. Some minior changes might be needed to build on Mac which we plan to get around to soon as part of some build system changes planned.

[2022-11-24 11:37] #643 closed

[2022-11-25 10:32] Ra0R opened #803 "[QUESTION] Searching by date"
## Description

I would like to index some documents for bookings which contain dates (startDate, endDate). Which I would like to search on.

Similarly as described in this article:
https://beenje.github.io/blog/posts/searching-by-date-in-elasticsearch/

Example:
We have a document `booking`which has the fields  `startDate: Unix Timestamp, endDate: Unix Timestamp`. The user should be able to query

[2022-11-25 16:05] jasonbosco commented on #803
You’d need to convert all time stamps into Unix timestamp both at indexing time and at search time to do date operations.

[2022-11-25 16:20] tomas2707 opened #804 "highlight_full_fields not working"
## Description
I have two almost different fields - **content**, **searchContent** and I want to query by **searchContent** and then highlight matched tokens in content field. Due to docs I added `highlight_full_fields=content` query param to my request. But it will returns only snipped which is default behaviour. I would like to have snipped and highlighted field together in my response.

## Step

[2022-11-25 16:33] huynv86 opened #805 "Question about facet"
Firstly I want to say Thank u Typesense team
Question:
Instantsearchjs requires facet for range filter
E.g: filter from date to date
I want to know what is different between index facet and without facet? Which one will use more memory, more CPU…? Disadvantages?

[2022-11-25 17:10] huynv86 commented on #805
Almost dates are timestamp and they are unique

[2022-11-25 17:38] jasonbosco commented on #805
Faceting will indeed consume more memory comparatively, especially if it has all unique values for the field. I would recommend first indexing your dataset as is with faceting turned on for the unix timestamp field and then again with faceting turned off, compare memory usage and then if you want to optimize it, you could reduce the granularity of the date field, for eg by "rounding down" timestam

[2022-11-26 02:03] huynv86 commented on #805
Thank u for your quick reply

[2022-11-26 02:03] #805 closed

[2022-11-26 07:48] #804 closed

[2022-11-26 12:38] kishorenc commented on #801
@527bd5

Thank you for reporting this issue. I can reproduce the behavior -- I will investigate and keep you posted on the fix.

[2022-11-26 21:21] iamandreadompe opened #806 "Use `error.importResults` from the raised exception to get a detailed error reason for each document."
## Description

I'm using typesense on firebase with the extension typesense/firestore-typesense-search@0.4.2.
i'm trying to reindex all the documents by deleting the trigger param, inside collecion typesense_sync/backfill.

During the index process i get this error but i can't understand what trigger this error, i don't know how to fix it.

`{"severity":"ERROR","message":"Import error ImportError

[2022-11-26 22:25] #806 closed

[2022-11-27 08:34] al1re2a opened #807 "cors-domain doesn't work"
## Description

I established typresense service on a VM for my local documentation website. Obviously, I had to enable CORS on typesense VM through `typesense-server.ini` to allow sharing resources. But it seems the typesense CORS configuration doesn't work for me.

## Steps to reproduce

* I'm using Docusaurus2 for my documentation and I deployed the built website on Jetty web server.
* I'm usin

[2022-11-28 08:34] tugaykaracay opened #808 "Curated search with filter_by returns incorrect results"
## Description

Hi, we are using overrides to promote results for certain search keywords, but when we use filter_by with a curated search keyword Typesense checks if any curated result is hit by the filter_by filter and returns all curated results.

## Steps to reproduce

Assume that you have the following documents in your collection:
[code]

Then we create an override for that documents:
[code]

[2022-11-28 13:10] ncailleux opened #809 ""Upsert" Issue when updating collection by batch"
## Description

i think I just spot an issue when updating batch of documents in a collection with `upsert` action.
I updated to 0.23.1 a few days ago and I just saw that documents wasn't updated at all after my script to update my documents just ran well.

This was my call, where `to_index` is an array of documents:
`
client_.collections[info_index['name']].documents.import_(to_index, {'action':

[2022-11-28 17:09] jasonbosco commented on #808
@tugaykaracay To get the behavior you're describing you want to set `filter_curated_hits: true` when creating the override, as described in this table here: https://typesense.org/docs/0.23.1/api/curation.html#parameters

This will ensure that Typesense still applies the filter_by clause on top of any overrides.

[2022-11-28 17:16] jasonbosco commented on #807
@al1re2a Could you open up the request that fails the CORS check in the Network tab of the browser, right-click on it, copy-as-curl and paste it here?

[2022-11-29 01:49] skipjack commented on #140
Opened one for [project seldon][1], an unbiased research platform for societies and governments...

https://github.com/typesense/typesense/pull/810

[1]: https://projectseldon.org

[2022-11-29 04:21] sashahilton00 commented on #176
I assume the lack of activity here should be interpreted as the UI being part of the cloud offering only for the forseeable future?

[2022-11-29 13:33] kishorenc commented on #809
@ncailleux

What version of Typesense where you using before upgrading?

[2022-11-29 16:58] tugaykaracay commented on #808
Thank you so much, somehow we missed that we will try that as soon as possible.

[2022-11-29 16:58] #808 closed

[2022-11-30 06:42] tugaykaracay commented on #808
Hi @jasonbosco, we found how we missed that parameter, we are using typesense-js library and `filter_curated_hits` is not defined in `OverrideCreateSchema` interface. If you want I can create an issue for that.

[2022-11-30 15:23] alphatownsman commented on #800
do you have `'locale': 'zh'` for string fields in your schema? e.g. `post_content` in your case

[2022-11-30 21:06] jasonbosco commented on #808
Ah! I just pushed out v1.4.4 of `typesense-js` which now has this param.